CREATE OR ALTER   PROCEDURE [dbo].[API_ALL_COUNTS]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        (SELECT COUNT(DISTINCT CUSTOMER_ID) FROM CUSTOMER_TABLE) AS TOTAL_CUSTOMERS,
        (SELECT SUM(BAGS) FROM PURCHASE_STOCK_TABLE) AS TOTAL_BAGS,
        (SELECT SUM(TOTAL_WEIGHT) FROM PURCHASE_STOCK_TABLE) AS TOTAL_WEIGHT,
        (SELECT SUM(TOTAL_PRICE) FROM PURCHASE_STOCK_TABLE) AS AMOUNT_OF_PURCHASED_STOCK,
        (SELECT COUNT(PUR_INV_ID) FROM PURCHASE_INVOICE_TABLE) AS TOTAL_PURCHASE_INVOICE,
        (SELECT SUM(TOTAL_PRICE) FROM PURCHASE_INVOICE_TABLE) AS AMOUNT_OF_PURCHASE_INVOICE,
        (SELECT COUNT(SLS_ID) FROM SALES_INVOICE_TABLE) AS TOTAL_SALES_INVOICE,
        (SELECT SUM(TOTAL_PRICE) FROM SALES_INVOICE_TABLE) AS AMOUNT_OF_SALES_INVOICE
END