CREATE OR
ALTER     PROC [dbo].[API_CUSTOMER_EXIST_IN_SYSTEM_FOR_BUYER] 
	@CUSTOMER_NAME NVARCHAR
AS
BEGIN
	 SET NOCOUNT ON;

    SELECT TOP 5 
			[CUSTOMER_TABLE].[CUSTOMER_ID],
			[CUSTOMER_TABLE].[CUSTOMER_NAME],
			[CUSTOMER_TABLE].[CUSTOMER_TYPE],
			[CUSTOMER_TABLE].[CUSTOMER_CONTACT],
			[CUSTOMER_TABLE].[CUSTOMER_ADDRESS]

    FROM [dbo].[CUSTOMER_TABLE]

 

	 WHERE CUSTOMER_TABLE.CUSTOMER_NAME LIKE @CUSTOMER_NAME + '%' AND CUSTOMER_TYPE = 'BUYER';
END;