CREATE OR 
ALTER   PROC [dbo].[API_CHECK_CUSTOMER_INFO_BY_ID]
@CUSTOMER_ID INT
AS
SELECT [dbo].[CUSTOMER_TABLE].[CUSTOMER_NAME],
	   [dbo].[CUSTOMER_TABLE].[CUSTOMER_TYPE],
	   [dbo].[CUSTOMER_TABLE].[CUSTOMER_CONTACT],
	   [dbo].[CUSTOMER_TABLE].[CUSTOMER_ADDRESS]
FROM [dbo].[CUSTOMER_TABLE]
WHERE [dbo].[CUSTOMER_TABLE].[CUSTOMER_ID] = @CUSTOMER_ID
