CREATE OR
ALTER   PROC [dbo].[API_CUSTOMER_TYPES_LIST]
AS
BEGIN

-- CREATE TEMP TABLE 
CREATE TABLE #CUSTOMER_TYPES 
(CUSTOMER_TYPE_ID VARCHAR(20) ,CUSTOMER_TYPE_NAME NVARCHAR(500))


-- INSERT TEMP TABLE
INSERT INTO #CUSTOMER_TYPES 
	([CUSTOMER_TYPE_ID],[CUSTOMER_TYPE_NAME])
	VALUES
	('CUST_TYPE-1','FARMER'),
	('CUST_TYPE-2','BUSINESSMAN'),
	('CUST_TYPE-3','SHOPKEEPER')

-- DISPLAY TEMP TABLE

SELECT * FROM [#CUSTOMER_TYPES]

END;