CREATE OR 
ALTER   PROCEDURE [dbo].[API_CUSTOMER_DELETE]
    @CUSTOMER_ID INT,
	@CUSTOMER_TYPE varchar(100)
AS
BEGIN
    SET NOCOUNT ON;

    -- Delete dependent records from PAYMENT_TABLE and REMAIN_TABLE
    DELETE FROM dbo.PAYMENT_TABLE WHERE CUSTOMER_ID = @CUSTOMER_ID;
    DELETE FROM dbo.REMAIN_PAYMENT_TABLE WHERE CUSTOMER_ID = @CUSTOMER_ID;

    -- Delete record from Customer Table 6
    DELETE FROM dbo.CUSTOMER_TABLE
    WHERE CUSTOMER_ID = @CUSTOMER_ID AND CUSTOMER_TYPE  = @CUSTOMER_TYPE;

   
END;