CREATE OR
ALTER   PROC [dbo].[API_DISPLAY_ALL_CUSTOMER_LIST]
AS
BEGIN
SELECT	[dbo].[CUSTOMER_TABLE].[CUSTOMER_ID],
		[dbo].[CUSTOMER_TABLE].[CUSTOMER_NAME],
		[dbo].[CUSTOMER_TABLE].[CUSTOMER_TYPE],
		[dbo].[CUSTOMER_TABLE].[CUSTOMER_CONTACT],
		[dbo].[CUSTOMER_TABLE].[CUSTOMER_ADDRESS],
		[dbo].[CUSTOMER_TABLE].[CUSTOMER_CREATE_DATE],
		[dbo].[CUSTOMER_TABLE].[CUSTOMER_UPDATE_DATE]

FROM [dbo].[CUSTOMER_TABLE]
END;