CREATE OR 
ALTER   PROC [dbo].[API_CUSTOMER_BY_PK]
@CUSTOMER_ID INT,
@CUSTOMER_TYPE VARCHAR(100)
AS
BEGIN
SELECT	[dbo].[CUSTOMER_TABLE].[CUSTOMER_ID],
		[dbo].[CUSTOMER_TABLE].[CUSTOMER_NAME],
		[dbo].[CUSTOMER_TABLE].[CUSTOMER_TYPE],
		[dbo].[CUSTOMER_TABLE].[CUSTOMER_CONTACT],
		[dbo].[CUSTOMER_TABLE].[CUSTOMER_ADDRESS],
		[dbo].[CUSTOMER_TABLE].[CUSTOMER_CREATE_DATE],
		[dbo].[CUSTOMER_TABLE].[CUSTOMER_UPDATE_DATE]

FROM [dbo].[CUSTOMER_TABLE]

WHERE [dbo].[CUSTOMER_TABLE].[CUSTOMER_ID] = @CUSTOMER_ID
 AND [dbo].[CUSTOMER_TABLE].[CUSTOMER_TYPE] = @CUSTOMER_TYPE

END;