CREATE OR
ALTER   PROCEDURE [dbo].[API_CUSTOMER_UPDATE]
    @CUSTOMER_ID INT,
    @CUSTOMER_NAME NVARCHAR(255), -- Specify size
    @CUSTOMER_TYPE NVARCHAR(255), -- Specify size
    @CUSTOMER_CONTACT VARCHAR(10),
    @CUSTOMER_ADDRESS NVARCHAR(255), -- Specify size
    @CUSTOMER_UPDATE DATE = NULL -- Handle inside if needed
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if update date is provided, otherwise use current date
    IF @CUSTOMER_UPDATE IS NULL
        SET @CUSTOMER_UPDATE = GETDATE();

    UPDATE [dbo].[CUSTOMER_TABLE]
    SET 
        CUSTOMER_NAME        = @CUSTOMER_NAME,
        CUSTOMER_TYPE        = @CUSTOMER_TYPE,
        CUSTOMER_CONTACT     = @CUSTOMER_CONTACT,
        CUSTOMER_ADDRESS     = @CUSTOMER_ADDRESS,
        CUSTOMER_UPDATE_DATE = @CUSTOMER_UPDATE
    WHERE CUSTOMER_ID = @CUSTOMER_ID;
END;
