CREATE OR
ALTER   PROC [dbo].[API_DASHBOARD_ALL_COUNTS]
AS

CREATE TABLE #DashboardCounts (ItemName varchar(100), ActualCount int, TotalPrice decimal(10,2))

INSERT INTO #DashboardCounts
	SELECT 'PURCHASE_INVOICE',COUNT(*) ,SUM(TOTAL_PRICE) FROM [dbo].[PURCHASE_INVOICE_TABLE]

INSERT INTO #DashboardCounts
	SELECT 'SALE_INVOICE',COUNT(*),SUM(TOTAL_PRICE) FROM [dbo].[SALES_INVOICE_TABLE]

INSERT INTO #DashboardCounts	
	SELECT 'CUSTOMERS', COUNT(*) AS TOTAL_CUSTOMERS, 0 FROM [dbo].[CUSTOMER_TABLE]


INSERT INTO #DashboardCounts
SELECT 'TOTAL_PAYMENTS' ,COUNT(*) AS COMPLETE_PAYMENT , SUM(AMOUNT_PAID)  
FROM [dbo].[PAYMENT_TABLE]

INSERT INTO #DashboardCounts
	SELECT 'PAID_PAYMENTS', COUNT(*) AS TOTAL_PAYMENTS , SUM(AMOUNT_PAID) FROM [dbo].[PAYMENT_TABLE]
	INNER JOIN [dbo].[PURCHASE_STOCK_TABLE]
	ON 
	[dbo].[PAYMENT_TABLE].[STOCK_ID] = [dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_ID]
	WHERE 
	[dbo].[PURCHASE_STOCK_TABLE].[PAYMENT_STATUS] = 'PAID'


INSERT INTO #DashboardCounts
SELECT 'REMAIN_PAYMENTS',COUNT(*) AS REMAIN_PAYMENTS, SUM(REMAIN_AMOUNT)   FROM [dbo].[PAYMENT_TABLE] 
INNER JOIN [dbo].[PURCHASE_STOCK_TABLE]
ON 
[dbo].[PAYMENT_TABLE].[STOCK_ID] = [dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_ID]
WHERE 
[dbo].[PURCHASE_STOCK_TABLE].[PAYMENT_STATUS] = 'REMAIN'

INSERT INTO #DashboardCounts
SELECT 'PENDING_PAYMENTS' ,COUNT(*) AS PENDING_PAYMENTS , SUM(TOTAL_PRICE)  FROM [dbo].[PURCHASE_STOCK_TABLE] WHERE PURCHASE_STOCK_TABLE.PAYMENT_STATUS = 'PENDING'

INSERT INTO #DashboardCounts
SELECT 'PURCHASE_STOCK' , COUNT(*) AS TOTAL_PURCHASE, SUM(TOTAL_PRICE) FROM [dbo].[PURCHASE_STOCK_TABLE]

INSERT INTO #DashboardCounts
	SELECT 'TOTAL_BAGS', SUM(BAGS), 0 FROM [dbo].[PURCHASE_STOCK_TABLE]

INSERT INTO #DashboardCounts
	SELECT 'TOTAL_WEIGHT', SUM(TOTAL_WEIGHT), 0 FROM [dbo].[PURCHASE_STOCK_TABLE]	

SELECT * FROM #DashboardCounts







	