CREATE OR
ALTER   PROC [dbo].[API_DISPLAY_PURCHASE_STOCK_BY_CUSTOMER_ID] 
@CUSTOMER_ID INT
AS
BEGIN
	SELECT
	[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_DATE],
	[dbo].[CUSTOMER_TABLE].[CUSTOMER_NAME],
	[dbo].[CUSTOMER_TABLE].[CUSTOMER_TYPE],
	[dbo].[PRODUCT_TABLE].[PRODUCT_NAME_IN_GUJARATI] AS [PRODUCT_NAME],
	COALESCE(CONVERT(VARCHAR, [dbo].[PRODUCT_GRADE_TABLE].[PRODUCT_GRADE]),'--') AS [PRODUCT_GRADE],
	[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_LOCATION] AS [LOCATION],
	COALESCE(CONVERT(DECIMAL,[dbo].[PURCHASE_STOCK_TABLE].[BAGS]),0) AS [BAGS],
	COALESCE(CONVERT(DECIMAL,[dbo].[PURCHASE_STOCK_TABLE].[BAG_PER_KG]),0) AS [BAG_PER_KG],
	[dbo].[PURCHASE_STOCK_TABLE].[TOTAL_WEIGHT],
	[dbo].[PURCHASE_STOCK_TABLE].[PRODUCT_PRICE],
	[dbo].[PURCHASE_STOCK_TABLE].[TOTAL_PRICE],
	[dbo].[VEHICLE_TABLE].[VEH_NAME] AS [VEHICLE_NAME],
	[dbo].[PURCHASE_STOCK_TABLE].[VEHICLE_NO],
	[dbo].[PURCHASE_STOCK_TABLE].[DRIVER_NAME],
	COALESCE(CONVERT(VARCHAR,[dbo].[PURCHASE_STOCK_TABLE].[TOLAT_NAME]),'--') AS [TOLAT_NAME],
	COALESCE(CONVERT(VARCHAR, [dbo].[PURCHASE_STOCK_TABLE].[PAYMENT_STATUS]), 'PENDING') AS [PAYMENT- STATUS]
FROM [dbo].[PURCHASE_STOCK_TABLE]
-- INNER JOIN APPLY

INNER JOIN [dbo].[CUSTOMER_TABLE]
ON [dbo].[CUSTOMER_TABLE].[CUSTOMER_ID] = [dbo].[PURCHASE_STOCK_TABLE].[CUSTOMER_ID]

LEFT JOIN [dbo].[PRODUCT_TABLE]
ON [dbo].[PRODUCT_TABLE].[PRODUCT_ID] = [dbo].[PURCHASE_STOCK_TABLE].[PRODUCT_ID]

LEFT JOIN [dbo].[PRODUCT_GRADE_TABLE]
ON [dbo].[PRODUCT_GRADE_TABLE].[PRODUCT_GRADE_ID] = [dbo].[PURCHASE_STOCK_TABLE].[PRODUCT_GRADE_ID]


LEFT JOIN [dbo].[VEHICLE_TABLE]
ON [dbo].[VEHICLE_TABLE].[VEH_ID] = [dbo].[PURCHASE_STOCK_TABLE].[VEHICLE_ID]


WHERE [dbo].[PURCHASE_STOCK_TABLE].[CUSTOMER_ID] = @CUSTOMER_ID

END;
