CREATE OR
ALTER   PROC [dbo].[API_DISPLAY_SAVE_INFORMATION_BY_ID]
@Information_ID int
AS
SELECT	
	[dbo].[SAVE_INFORMATION_TABLE].[INFORMATION_ID],
	[dbo].[SAVE_INFORMATION_TABLE].[BANK_ACCOUNT_NO],
	[dbo].[SAVE_INFORMATION_TABLE].[BANK_IFSC_CODE],
	[dbo].[SAVE_INFORMATION_TABLE].[BANK_ACCOUNT_HOLDER_NAME],
	[dbo].[BANK_TABLE].[BANK_ID],
	[dbo].[BANK_TABLE].[BANK_NAME],
	[dbo].[BANK_TABLE].[BANK_ICON]
	

	FROM [dbo].[SAVE_INFORMATION_TABLE]

INNER JOIN [dbo].[BANK_TABLE]
ON [dbo].[SAVE_INFORMATION_TABLE].[BANK_ID] = [dbo].[BANK_TABLE].[BANK_ID]

WHERE [dbo].[SAVE_INFORMATION_TABLE].[INFORMATION_ID] = @Information_ID