USE [DB_STOCK_MANAGE_SYSTEM]
GO
/****** Object:  StoredProcedure [dbo].[API_DISPLAY_ALL_PRODUCT_NAME]    Script Date: 14-05-2024 06:37:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROC [dbo].[API_DISPLAY_ALL_PRODUCT_NAME]
AS
BEGIN
SELECT 
		[dbo].[PRODUCT_TABLE].[PRODUCT_ID],
		[dbo].[PRODUCT_TABLE].[PRODUCT_NAME_IN_GUJARATI],
		[dbo].[PRODUCT_TABLE].[PRODUCT_NAME_IN_ENGLISH]
		
FROM [PRODUCT_TABLE]

END;