CREATE OR
ALTER   PROC [dbo].[API_DISPLAY_ALL_SALES]
AS
 SELECT
    ST.[SALE_STOCK_ID],
    ST.[SALE_STOCK_DATE],
    ST.[RECEIVE_PAYMENT_DATE],
    CT.[CUSTOMER_ID],
    CT.[CUSTOMER_NAME],
    CT.[CUSTOMER_TYPE],
    PT.[PRODUCT_ID],
    PT.[PRODUCT_NAME_IN_ENGLISH],
    ST.[PRODUCT_BRAND_NAME],
    COALESCE(CONVERT(DECIMAL(18,2), ST.[BAGS]), 0) AS [BAGS],  -- Use DECIMAL(18,2) for precision
    COALESCE(CONVERT(DECIMAL(18,2), ST.[BAG_PER_KG]), 0) AS [BAG_PER_KG],  -- Use DECIMAL(18,2) for precision
    ST.[RATE],
    ST.[TOTAL_WEIGHT],
    ST.[TOTAL_AMOUNT]

  FROM [dbo].[SALE_STOCK_TABLE] ST
  INNER JOIN [dbo].[CUSTOMER_TABLE] CT ON CT.[CUSTOMER_ID] = ST.[CUSTOMER_ID]
  INNER JOIN [dbo].[PRODUCT_TABLE] PT ON PT.[PRODUCT_ID] = ST.[PRODUCT_ID]
 
