CREATE OR
ALTER   PROC [dbo].[API_DISPLAY_ALL_PURCHASE_INVOICE]
AS
BEGIN
    SELECT
        [PUR_INV_ID] AS INVOICE_ID,
        [PUR_INV_DATE] AS INVOICE_DATE,
        [CUSTOMER_NAME],
        [dbo].[PRODUCT_TABLE].[PRODUCT_ID],
        [PRODUCT_NAME_IN_GUJARATI],
        COALESCE([PRODUCT_GRADE], '--') AS PRODUCT_GRADE,
        COALESCE(CONVERT(NVARCHAR(50), [BAGS]), '--') AS [BAGS],
        COALESCE(CONVERT(NVARCHAR(50), [BAG_PER_KG]), '--') AS [BAG_PER_KG],
        [TOTAL_WEIGHT],
        [PRODUCT_PRICE],
        [TOTAL_PRICE],
        [VEH_ID] AS VEHICLE_ID,
        [VEH_NAME] AS VEHICLE_NAME,
        [VEHICLE_NO],
        [DRIVER_NAME],
        [TOLAT_NAME]
    FROM [PURCHASE_INVOICE_TABLE]
    INNER JOIN [PRODUCT_TABLE] ON [PRODUCT_TABLE].[PRODUCT_ID] = [PURCHASE_INVOICE_TABLE].[PRODUCT_ID]
    LEFT JOIN [PRODUCT_GRADE_TABLE] ON [PRODUCT_GRADE_TABLE].[PRODUCT_GRADE_ID] = [PURCHASE_INVOICE_TABLE].[PRODUCT_GRADE_ID]
    INNER JOIN [VEHICLE_TABLE] ON [VEHICLE_TABLE].[VEH_ID] = [PURCHASE_INVOICE_TABLE].[VEHICLE_ID]

	ORDER BY PUR_INV_DATE DESC
	

END;