CREATE OR
ALTER   PROC [dbo].[API_DISPLAY_ALL_SAVE_INFORMATION]
AS
SELECT	
	[dbo].[SAVE_INFORMATION_TABLE].[INFORMATION_ID],
	[dbo].[SAVE_INFORMATION_TABLE].[BANK_ACCOUNT_HOLDER_NAME],
	[dbo].[BANK_TABLE].[BANK_NAME],
	[dbo].[BANK_TABLE].[BANK_ICON]

	FROM [dbo].[SAVE_INFORMATION_TABLE]

LEFT JOIN [dbo].[BANK_TABLE]
ON [dbo].[SAVE_INFORMATION_TABLE].[BANK_ID] = [dbo].[BANK_TABLE].[BANK_ID]