CREATE OR
ALTER   PROC [dbo].[API_DISPLAY_ALL_REMINDER]
AS
SELECT 
	[dbo].[REMINDER_TABLE].[REMINDER_ID],
	[dbo].[REMINDER_TABLE].[REMINDER_DATE_TIME],
	[dbo].[REMINDER_TABLE].[REMINDER_TYPE],
	[dbo].[REMINDER_TABLE].[REMINDER_CUSTOM_TYPE],
	[dbo].[REMINDER_TABLE].[REMINDER_DESCRIPTION],
	[dbo].[REMINDER_TABLE].[REMINDER_SET_EMAIL_ADDRESS] AS [EMAIL_ADDRESS],
	[dbo].[REMINDER_TABLE].[REMINDER_SET_MOBILE_NO] AS [PHONE_NO]

FROM [dbo].[REMINDER_TABLE]

ORDER BY REMINDER_DATE_TIME DESC