CREATE OR
ALTER   PROC [dbo].[API_DISPLAY_ALL_SALES_INVOICE]
AS
BEGIN
SELECT
		 
		[dbo].[SALES_INVOICE_TABLE].[SLS_ID] AS INVOICE_ID,
		[dbo].[SALES_INVOICE_TABLE].[SLS_DATE] AS INVOICE_DATE,
		[dbo].[SALES_INVOICE_TABLE].[INVOICE_TYPE],
		[dbo].[SALES_INVOICE_TABLE].[BROKER_NAME],
		[dbo].[SALES_INVOICE_TABLE].[PARTY_NAME],
		COALESCE(CONVERT(VARCHAR,[dbo].[SALES_INVOICE_TABLE].[PARTY_GSTNO]),'--') AS [PARTY_GSTNO],
		[dbo].[SALES_INVOICE_TABLE].[PARTY_ADDRESS],
		[dbo].[PRODUCT_TABLE].[PRODUCT_ID],
		[dbo].[PRODUCT_TABLE].[PRODUCT_NAME_IN_ENGLISH],
		[dbo].[SALES_INVOICE_TABLE].[PRODUCT_BRAND_NAME],
		COALESCE(CONVERT(VARCHAR,[dbo].[SALES_INVOICE_TABLE].[BAGS]),'--') AS [BAGS],
		COALESCE(CONVERT(VARCHAR,[dbo].[SALES_INVOICE_TABLE].[BAG_PER_KG]),'--') AS [BAG_PER_KG],
		[dbo].[SALES_INVOICE_TABLE].[TOTAL_WEIGHT],
		[dbo].[SALES_INVOICE_TABLE].[PRODUCT_PRICE],
		COALESCE(CONVERT(VARCHAR,[dbo].[SALES_INVOICE_TABLE].[SGST]),'--') AS [SGST],
		COALESCE(CONVERT(VARCHAR,[dbo].[SALES_INVOICE_TABLE].[CGST]),'--') AS [CGST],
		COALESCE(CONVERT(VARCHAR,[dbo].[SALES_INVOICE_TABLE].[TOTAL_SGST_PRICE]),'--') AS [TOTAL_SGST_PRICE],
		COALESCE(CONVERT(VARCHAR,[dbo].[SALES_INVOICE_TABLE].[TOTAL_CGST_PRICE]),'--') AS [TOTAL_CGST_PRICE],
		[dbo].[SALES_INVOICE_TABLE].[WITHOUT_GST_PRICE],
		[dbo].[SALES_INVOICE_TABLE].[TOTAL_PRICE],
		[dbo].[VEHICLE_TABLE].[VEH_ID] AS VEHICLE_ID,
		[dbo].[VEHICLE_TABLE].[VEH_NAME] AS VEHICLE_NAME,
		[dbo].[SALES_INVOICE_TABLE].[VEHICLE_NO],
		[dbo].[SALES_INVOICE_TABLE].[DRIVER_NAME],
		COALESCE(CONVERT(VARCHAR, [dbo].[SALES_INVOICE_TABLE].[CONTAINER_NO]), '--') AS [CONTAINER_NO]

FROM [dbo].[SALES_INVOICE_TABLE]

-- INNER JOIN APPLY


INNER JOIN [dbo].[PRODUCT_TABLE]
ON [dbo].[PRODUCT_TABLE].[PRODUCT_ID] = [dbo].[SALES_INVOICE_TABLE].[PRODUCT_ID]

INNER JOIN [dbo].[VEHICLE_TABLE]
ON [dbo].[VEHICLE_TABLE].[VEH_ID] = [dbo].[SALES_INVOICE_TABLE].[VEHICLE_ID]
END;