CREATE OR
ALTER   PROC [dbo].[API_DISPLAY_RECENT_ACTIONS]
AS
BEGIN
SELECT [dbo].[RECENT_ACTIONS_TABLE].[REC_ACT_ID],
       [dbo].[RECENT_ACTIONS_TABLE].[REC_ACT_TABLE_NAME],
       [dbo].[RECENT_ACTIONS_TABLE].[RECT_ACT_INFO],
       [dbo].[RECENT_ACTIONS_TABLE].[RECT_ACT_CREATE]
FROM [dbo].[RECENT_ACTIONS_TABLE]
ORDER BY [dbo].[RECENT_ACTIONS_TABLE].[RECT_ACT_CREATE] DESC;


END;