CREATE OR
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROC [dbo].[API_DISPLAY_ALL_PAID_PAYMENTS_CUSTOMER_LIST]
AS
  SELECT
        PT.PAYMENT_ID,
        PT.PAYMENT_DATE,
        CT.CUSTOMER_ID,
        CT.CUSTOMER_NAME,
        PRT.PRODUCT_ID,
        PRT.PRODUCT_NAME_IN_GUJARATI,
        PST.PUR_STOCK_ID,
        PST.TOTAL_PRICE,
        PT.AMOUNT_PAID,
        PT.PAYMENT_METHOD,
		PST.PAYMENT_STATUS,
        ISNULL(BT.BANK_ID, 0) AS BANK_ID,
        ISNULL(BT.BANK_NAME, '--') AS BANK_NAME,
        ISNULL(BT.BANK_ICON, '--') AS BANK_ICON,
        ISNULL(PT.BANK_AC_NO, '--') AS BANK_AC_NO,
        ISNULL(PT.CHEQ_NO, '--') AS CHEQ_NO,
        ISNULL(PT.RTGS_NO, '--') AS RTGS_NO,
        ISNULL(RPT.REMAIN_PAYMENT_ID,0) AS REMAIN_PAYMENT_ID,
        RPT.REMAIN_PAYMENT_DATE,
        ISNULL(RPT.REMAIN_PAYMENT_AMOUNT, 0) AS REMAIN_PAYMENT_AMOUNT,
        ISNULL(RPT.REMAIN_PAYMENT_METHOD,'--') AS REMAIN_PAYMENT_METHOD,
        ISNULL(RBT.BANK_ID, 0) AS REMAIN_BANK_ID,
        ISNULL(RBT.BANK_NAME, '--') AS REMAIN_BANK_NAME,
        ISNULL(RBT.BANK_ICON, '--') AS REMAIN_BANK_ICON,
        ISNULL(RPT.REMAIN_BANK_AC_NO, '--') AS REMAIN_BANK_AC_NO,
        ISNULL(RPT.REMAIN_CHEQ_NO,'--') AS REMAIN_CHEQ_NO,
        ISNULL(RPT.REMAIN_RTGS_NO,'--') AS REMAIN_RTGS_NO
    FROM [dbo].[PAYMENT_TABLE] PT
    INNER JOIN [dbo].[CUSTOMER_TABLE] CT ON PT.CUSTOMER_ID = CT.CUSTOMER_ID
    INNER JOIN [dbo].[PRODUCT_TABLE] PRT ON PT.PRODUCT_ID = PRT.PRODUCT_ID
    INNER JOIN [dbo].[PURCHASE_STOCK_TABLE] PST ON PT.STOCK_ID = PST.PUR_STOCK_ID
    LEFT JOIN [dbo].[BANK_TABLE] BT ON PT.BANK_ID = BT.BANK_ID
    LEFT JOIN [dbo].[REMAIN_PAYMENT_TABLE] RPT ON PT.PAYMENT_ID = RPT.PAYMENT_ID
    LEFT JOIN [dbo].[BANK_TABLE] RBT ON RPT.REMAIN_BANK_ID = RBT.BANK_ID
                                   AND RPT.REMAIN_PAYMENT_ID IS NOT NULL
   

   WHERE PST.PAYMENT_STATUS = 'PAID'


