CREATE OR
ALTER   PROC [dbo].[API_DISPLAY_ALL_REMAIN_PAYMENTS_CUSTOMER_LIST]
AS
SELECT 
	[dbo].[PAYMENT_TABLE].[PAYMENT_ID],
	[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_ID] AS [STOCK_ID],
	[dbo].[PAYMENT_TABLE].[PAYMENT_DATE],
	[dbo].[CUSTOMER_TABLE].[CUSTOMER_ID],
	[dbo].[CUSTOMER_TABLE].[CUSTOMER_NAME],
	[dbo].[PRODUCT_TABLE].[PRODUCT_ID],
	[dbo].[PRODUCT_TABLE].[PRODUCT_NAME_IN_GUJARATI],
	[dbo].[PURCHASE_STOCK_TABLE].[TOTAL_PRICE],
	[dbo].[PAYMENT_TABLE].[AMOUNT_PAID],
	[dbo].[PAYMENT_TABLE].[PAYMENT_METHOD],
	[dbo].[PURCHASE_STOCK_TABLE].[PAYMENT_STATUS]

FROM [dbo].[PAYMENT_TABLE]

INNER JOIN [dbo].[CUSTOMER_TABLE]
ON [dbo].[PAYMENT_TABLE].[CUSTOMER_ID] = [dbo].[CUSTOMER_TABLE].[CUSTOMER_ID]

INNER JOIN [dbo].[PRODUCT_TABLE]
ON [dbo].[PAYMENT_TABLE].[PRODUCT_ID] = [dbo].[PRODUCT_TABLE].[PRODUCT_ID]

INNER JOIN [dbo].[PURCHASE_STOCK_TABLE]
ON [dbo].[PAYMENT_TABLE].[STOCK_ID] = [dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_ID]
	
WHERE [dbo].[PURCHASE_STOCK_TABLE].[PAYMENT_STATUS]  = 'REMAIN'

	ORDER BY PAYMENT_DATE DESC


