CREATE OR
ALTER   PROC [dbo].[API_DROPDOWN_PRODUCT]
AS
BEGIN
SELECT	
		[dbo].[PRODUCT_TABLE].[PRODUCT_ID],
		[dbo].[PRODUCT_TABLE].[PRODUCT_NAME_IN_GUJARATI],
		[dbo].[PRODUCT_TABLE].[PRODUCT_NAME_IN_ENGLISH]
FROM [dbo].[PRODUCT_TABLE]
END;