CREATE OR
ALTER   PROC [dbo].[API_DROPDOWN_PRODUCT_GRADES]
AS
BEGIN 
SELECT 
	[dbo].[PRODUCT_GRADE_TABLE].[PRODUCT_GRADE_ID],
	[dbo].[PRODUCT_GRADE_TABLE].[PRODUCT_GRADE]

FROM [dbo].[PRODUCT_GRADE_TABLE]

END;