CREATE OR
ALTER   PROC [dbo].[API_DROPDOWN_FOR_OUR_BANKS]
AS
SELECT 
	[dbo].[SAVE_INFORMATION_TABLE].[INFORMATION_ID],
	[dbo].[BANK_TABLE].[BANK_ID],
	[dbo].[BANK_TABLE].[BANK_ICON],
	[dbo].[SAVE_INFORMATION_TABLE].[BANK_ACCOUNT_NO]

	FROM [SAVE_INFORMATION_TABLE] 
INNER JOIN BANK_TABLE ON 
	[dbo].[SAVE_INFORMATION_TABLE].[BANK_ID] = [dbo].[BANK_TABLE].[BANK_ID]