CREATE OR
ALTER PROC [dbo].[API_FETCH_SALE_STOCK_CUSTOMER_DETAILS_BY_SALE_AND_CUSTOMER_ID]
    @SALE_ID int,
    @CUSTOMER_ID INT 
AS
BEGIN
    SELECT 
        ST.[SALE_STOCK_ID],
        ST.[SALE_STOCK_DATE],
        ST.[RECEIVE_PAYMENT_DATE],
        CT.[CUSTOMER_ID],
        CT.[CUSTOMER_NAME],
        CT.[CUSTOMER_TYPE],
        CT.[CUSTOMER_ADDRESS],
        CT.[CUSTOMER_CONTACT],
        PT.[PRODUCT_ID],
        PT.[PRODUCT_NAME_IN_ENGLISH],
        ST.[PRODUCT_BRAND_NAME],
        COALESCE(CONVERT(DECIMAL(18,2), ST.[BAGS]), 0) AS [BAGS],
        COALESCE(CONVERT(DECIMAL(18,2), ST.[BAG_PER_KG]), 0) AS [BAG_PER_KG],
        ST.[RATE],
        ISNULL(ST.CGST, 0) AS [CGST],
        ISNULL(ST.SGST, 0) AS [SGST],
        ISNULL(ST.TOTAL_CGST_PRICE, 0) AS [TOTAL_CGST_PRICE],
        ISNULL(ST.TOTAL_SGST_PRICE, 0) AS [TOTAL_SGST_PRICE],
        ISNULL(ST.WITHOUT_GST_PRICE, 0) AS [WITHOUT_GST_PRICE],
        ST.[TOTAL_WEIGHT],
        ST.[TOTAL_AMOUNT],
        ST.[RECEIVE_AMOUNT],
        ST.[RECEIVE_PAYMENT_METHOD],
        COALESCE(CONVERT(DECIMAL(18,2), ST.[DISCOUNT]), 0) AS [DISCOUNT],
        ST.[IS_FULL_AMOUNT_RECEIVE],
        COALESCE(CONVERT(DECIMAL(18,2), ST.[DEDUCT_AMOUNT]), 0) AS [DEDUCT_AMOUNT],
        ISNULL(ST.[INFORMATION_ID], NULL) AS [INFORMATION_ID],
        SI1.[BANK_ACCOUNT_NO],
        SI1.[BANK_ACCOUNT_HOLDER_NAME],
        BT1.[BANK_ICON] AS [BANK_ICON_ACTUAL],
        ST.[REMAIN_PAYMENT_DATE],
        ST.[REMAIN_PAYMENT_METHOD],
        ST.[REMAIN_AMOUNT],
        ISNULL(ST.[REMAIN_INFORMATION_ID], NULL) AS [REMAIN_INFORMATION_ID],
        SI2.[BANK_ACCOUNT_NO] AS [REMAIN_BANK_ACCOUNT_NO],
        SI2.[BANK_ACCOUNT_HOLDER_NAME] AS [REMAIN_BANK_ACCOUNT_HOLDER_NAME],
        BT2.[BANK_ICON] AS [BANK_ICON_REMAIN]
    FROM 
        [dbo].[SALE_STOCK_TABLE] ST
    INNER JOIN 
        [dbo].[CUSTOMER_TABLE] CT ON CT.[CUSTOMER_ID] = ST.[CUSTOMER_ID]
    INNER JOIN 
        [dbo].[PRODUCT_TABLE] PT ON PT.[PRODUCT_ID] = ST.[PRODUCT_ID]
    LEFT JOIN 
        [dbo].[SAVE_INFORMATION_TABLE] SI1 ON SI1.[INFORMATION_ID] = ST.[INFORMATION_ID]
    LEFT JOIN 
        [dbo].[BANK_TABLE] BT1 ON BT1.[BANK_ID] = SI1.[BANK_ID]
    LEFT JOIN 
        [dbo].[SAVE_INFORMATION_TABLE] SI2 ON SI2.[INFORMATION_ID] = ST.[REMAIN_INFORMATION_ID]
    LEFT JOIN 
        [dbo].[BANK_TABLE] BT2 ON BT2.[BANK_ID] = SI2.[BANK_ID]
    WHERE 
        ST.[SALE_STOCK_ID] = @SALE_ID AND CT.[CUSTOMER_ID] = @CUSTOMER_ID
END;
