CREATE OR
ALTER PROCEDURE [dbo].[API_FETCH_PURCHASE_STOCK_AND_CUSTOMER_DETAILS_BY_STOCK_AND_CUSTOMER_ID] 
    @STOCK_ID INT,
	@CUSTOMER_ID INT
AS
BEGIN
    SELECT
        PST.[PUR_STOCK_ID] AS [STOCK_ID],
        PST.[PUR_STOCK_DATE],
        CT.[CUSTOMER_ID],
        CT.[CUSTOMER_NAME],
        CT.[CUSTOMER_TYPE],
		CT.[CUSTOMER_CONTACT],
		CT.[CUSTOMER_ADDRESS],
        PT.[PRODUCT_ID],
        ISNULL(PGT.[PRODUCT_GRADE_ID], 0) AS [PRODUCT_GRADE_ID],
        PST.[PUR_STOCK_LOCATION] AS [LOCATION],
        COALESCE(CONVERT(DECIMAL, PST.[BAGS]), 0) AS [BAGS],
        COALESCE(CONVERT(DECIMAL, PST.[BAG_PER_KG]), 0) AS [BAG_PER_KG],
        PST.[TOTAL_WEIGHT],
        PST.[PRODUCT_PRICE],
        PST.[TOTAL_PRICE],
        VT.[VEH_ID] AS [VEHICLE_ID],
        PST.[VEHICLE_NO],
        PST.[DRIVER_NAME],
        COALESCE(PST.[TOLAT_NAME], '--') AS [TOLAT_NAME],
		PST.PAYMENT_STATUS
    FROM [dbo].[PURCHASE_STOCK_TABLE] PST
    LEFT JOIN [dbo].[CUSTOMER_TABLE] CT ON CT.[CUSTOMER_ID] = PST.[CUSTOMER_ID]
    LEFT JOIN [dbo].[PRODUCT_TABLE] PT ON PT.[PRODUCT_ID] = PST.[PRODUCT_ID]
    LEFT JOIN [dbo].[PRODUCT_GRADE_TABLE] PGT ON PGT.[PRODUCT_GRADE_ID] = PST.[PRODUCT_GRADE_ID]
    LEFT JOIN [dbo].[VEHICLE_TABLE] VT ON VT.[VEH_ID] = PST.[VEHICLE_ID]
    WHERE PST.[PUR_STOCK_ID] = @STOCK_ID AND CT.CUSTOMER_ID = @CUSTOMER_ID
END;
