CREATE OR
ALTER   PROCEDURE [dbo].[GET_NEXT_REMINDER]
AS
BEGIN
    SELECT TOP 1
        [REMINDER_DATE_TIME] AS [REMINDER_DATETIME],
        [REMINDER_TYPE],
        [REMINDER_CUSTOM_TYPE],
        [REMINDER_DESCRIPTION],
        [REMINDER_SET_EMAIL_ADDRESS] AS [EMAIL_ADDRESS]
    FROM [dbo].[REMINDER_TABLE]
    WHERE REMINDER_DATE_TIME > GETDATE()
    ORDER BY REMINDER_DATE_TIME ASC
END;
