CREATE OR
ALTER   PROC [dbo].[API_SAVE_INFORMATION_DELETE_BY_ID]
@Information_ID int
AS

DELETE FROM SALE_STOCK_TABLE WHERE INFORMATION_ID = @Information_ID

DELETE FROM SALE_STOCK_TABLE WHERE REMAIN_INFORMATION_ID = @Information_ID

DELETE FROM [SAVE_INFORMATION_TABLE] WHERE INFORMATION_ID = @Information_ID


SELECT * FROM SAVE_INFORMATION_TABLE