CREATE OR
ALTER   PROC [dbo].[API_PENDING_PAYMENTS_CUSTOMERS_LIST_DASHBAORD]
AS
BEGIN

SELECT TOP 5 
	[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_ID] AS STOCK_ID,
	[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_DATE] AS STOCK_DATE,
	[dbo].[CUSTOMER_TABLE].[CUSTOMER_ID],
	[dbo].[CUSTOMER_TABLE].[CUSTOMER_NAME],
	[dbo].[CUSTOMER_TABLE].[CUSTOMER_TYPE],
	[dbo].[PRODUCT_TABLE].[PRODUCT_ID],
	[dbo].[PRODUCT_TABLE].[PRODUCT_NAME_IN_GUJARATI] AS [PRODUCT_NAME],
	[dbo].[PURCHASE_STOCK_TABLE].[TOTAL_PRICE]

FROM [dbo].[PURCHASE_STOCK_TABLE]

INNER JOIN [dbo].[CUSTOMER_TABLE]
ON [dbo].[PURCHASE_STOCK_TABLE].[CUSTOMER_ID] = [dbo].[CUSTOMER_TABLE].[CUSTOMER_ID]

INNER JOIN [dbo].[PRODUCT_TABLE]
ON [dbo].[PURCHASE_STOCK_TABLE].[PRODUCT_ID] = [dbo].[PRODUCT_TABLE].[PRODUCT_ID]
	
WHERE [dbo].[PURCHASE_STOCK_TABLE].[PAYMENT_STATUS]  = 'PENDING'

	ORDER BY STOCK_DATE DESC

END;