CREATE OR
ALTER   PROC [dbo].[API_PURCHASE_INVOICE_DELETE]
	@INVOICE_ID INT
AS
BEGIN
	DELETE FROM [dbo].[PURCHASE_INVOICE_TABLE]
	
	WHERE
		[dbo].[PURCHASE_INVOICE_TABLE].[PUR_INV_ID] = @INVOICE_ID

END;