CREATE OR
ALTER   PROC [dbo].[API_PURCHASE_INVOICE_UPDATE]
		@INVOICE_ID INT,
		@INVOICE_DATE DATE,
		@CUSTOMER_NAME NVARCHAR(MAX),
		@PRODUCT_ID INT,
		@PRODUCT_GRADE_ID INT = NULL,
		@BAGS DECIMAL(10,2),
		@BAG_PER_KG DECIMAL(10,2),
		@TOTAL_WEIGHT DECIMAL(10,2),
		@PRODUCT_PRICE DECIMAL(10,2),
		@TOTAL_PRICE DECIMAL(10,2),
		@VEHICLE_ID INT,
		@VEHICLE_NO VARCHAR(200),
		@DRIVER_NAME NVARCHAR(MAX),
		@TOLAT_NAME NVARCHAR(MAX)

AS

BEGIN
	UPDATE [dbo].[PURCHASE_INVOICE_TABLE]

	SET
		[dbo].[PURCHASE_INVOICE_TABLE].[PUR_INV_DATE]		= @INVOICE_DATE,
		[dbo].[PURCHASE_INVOICE_TABLE].[CUSTOMER_NAME]		= @CUSTOMER_NAME,
		[dbo].[PURCHASE_INVOICE_TABLE].[PRODUCT_ID]			= @PRODUCT_ID,
		[dbo].[PURCHASE_INVOICE_TABLE].[PRODUCT_GRADE_ID]   = @PRODUCT_GRADE_ID,
		[dbo].[PURCHASE_INVOICE_TABLE].[BAGS]				= @BAGS,
		[dbo].[PURCHASE_INVOICE_TABLE].[BAG_PER_KG]			= @BAG_PER_KG,
		[dbo].[PURCHASE_INVOICE_TABLE].[TOTAL_WEIGHT]		= @TOTAL_WEIGHT,
		[dbo].[PURCHASE_INVOICE_TABLE].[PRODUCT_PRICE]		= @PRODUCT_PRICE,
		[dbo].[PURCHASE_INVOICE_TABLE].[TOTAL_PRICE]		= @TOTAL_PRICE,
		[dbo].[PURCHASE_INVOICE_TABLE].[VEHICLE_ID]			= @VEHICLE_ID,
		[dbo].[PURCHASE_INVOICE_TABLE].[VEHICLE_NO]			= @VEHICLE_NO,
		[dbo].[PURCHASE_INVOICE_TABLE].[DRIVER_NAME]		= @DRIVER_NAME,
		[dbo].[PURCHASE_INVOICE_TABLE].[TOLAT_NAME]			= @TOLAT_NAME

		WHERE 
			[dbo].[PURCHASE_INVOICE_TABLE].[PUR_INV_ID] = @INVOICE_ID
		
END;