CREATE OR
ALTER   PROC [dbo].[API_PURCHASE_STOCK_UPDATE]
		
		@STOCK_ID INT,
		@PUR_STOCK_DATE DATE,
		@CUSTOMER_ID INT,
		@PRODUCT_ID INT,
		@PRODUCT_GRADE_ID INT,
		@PUR_STOCK_LOCATION NVARCHAR(MAX),
		@BAG DECIMAL(10,2),
		@BAG_PER_KG DECIMAL(10,2),
		@TOTAL_WEIGHT DECIMAL(10,2),
		@PRODUCT_PRICE DECIMAL(10,2),
		@TOTAL_PRICE DECIMAL(10,2),
		@VEHICLE_ID INT,
		@VEHICLE_NO VARCHAR(100),
		@TOLAT_NAME NVARCHAR(MAX),
		@DRIVER_NAME NVARCHAR(MAX)
		
AS
BEGIN

	UPDATE [PURCHASE_STOCK_TABLE] 
	SET
	[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_DATE]	   =		@PUR_STOCK_DATE,   
	[dbo].[PURCHASE_STOCK_TABLE].[CUSTOMER_ID]		   =		@CUSTOMER_ID,
	[dbo].[PURCHASE_STOCK_TABLE].[PRODUCT_ID]		   =		@PRODUCT_ID,
	[dbo].[PURCHASE_STOCK_TABLE].[PRODUCT_GRADE_ID]    =	    @PRODUCT_GRADE_ID,
	[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_LOCATION]  =        @PUR_STOCK_LOCATION,
	[dbo].[PURCHASE_STOCK_TABLE].[BAGS]                =		@BAG,
	[dbo].[PURCHASE_STOCK_TABLE].[BAG_PER_KG]		   =		@BAG_PER_KG,
	[dbo].[PURCHASE_STOCK_TABLE].[TOTAL_WEIGHT]		   =        @TOTAL_WEIGHT,
	[dbo].[PURCHASE_STOCK_TABLE].[PRODUCT_PRICE]	   =        @PRODUCT_PRICE,
	[dbo].[PURCHASE_STOCK_TABLE].[TOTAL_PRICE]         =		@TOTAL_PRICE,
	[dbo].[PURCHASE_STOCK_TABLE].[VEHICLE_ID]          =	    @VEHICLE_ID,
	[dbo].[PURCHASE_STOCK_TABLE].[VEHICLE_NO]          =		@VEHICLE_NO,
	[dbo].[PURCHASE_STOCK_TABLE].[TOLAT_NAME]          =		@TOLAT_NAME,
	[dbo].[PURCHASE_STOCK_TABLE].[DRIVER_NAME]         =		@DRIVER_NAME

	WHERE 
	[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_ID] = @STOCK_ID

END;