CREATE OR
ALTER   proc [dbo].[API_REMINDER_INSERT]
@REMINDER_DATE_TIME datetime,
@REMINDER_TYPE varchar(100),
@REMINDER_CUSTOM_TYPE varchar (500) = NULL,
@REMINDER_DESCRIPTION varchar(5000),
@REMINDER_SET_EMAIL_ADDRESS varchar(max),
@REMINDER_SET_MOBILE_NO varchar(10)
AS
INSERT INTO REMINDER_TABLE
(
[REMINDER_DATE_TIME],
[REMINDER_TYPE],
[REMINDER_CUSTOM_TYPE],
[REMINDER_DESCRIPTION],
[REMINDER_SET_EMAIL_ADDRESS],
[REMINDER_SET_MOBILE_NO]
)
values
(
@REMINDER_DATE_TIME,
@REMINDER_TYPE,
@REMINDER_CUSTOM_TYPE,
@REMINDER_DESCRIPTION,
'bhargavkachhela1@gmail.com',
'9664633122'
)
