CREATE OR

ALTER   PROC [dbo].[API_SALES_INVOICE_UPDATE]
		@INVOICE_ID INT,
		@INVOICE_DATE DATE,
		@INVOICE_TYPE VARCHAR(50),
		@BROKER_NAME NVARCHAR(MAX),
		@PARTY_NAME NVARCHAR(MAX),
		@PARTY_GSTNO VARCHAR(20),
		@PARTY_ADDRESS NVARCHAR(MAX),
		@PRODUCT_ID INT,
		@PRODUCT_BRAND_NAME NVARCHAR(100),
		@BAGS DECIMAL(10,2),
		@BAG_PER_KG DECIMAL(10,2),
		@TOTAL_WEIGHT DECIMAL(10,2),
		@PRODUCT_PRICE DECIMAL(10,2),
		@SGST DECIMAL(10,2),
		@CGST DECIMAL(10,2),
		@TOTAL_SGST_PRICE DECIMAL(10,2),
		@TOTAL_CGST_PRICE DECIMAL(10,2),
		@WITHOUT_GST_PRICE DECIMAL(10,2),
		@TOTAL_PRICE DECIMAL(10,2),
		@VEHICLE_ID INT,
		@VEHICLE_NO VARCHAR(200),
		@DRIVER_NAME NVARCHAR(MAX),
		@CONTAINER_NO VARCHAR(50)
AS
BEGIN
	UPDATE [SALES_INVOICE_TABLE]

	SET

	  [dbo].[SALES_INVOICE_TABLE].[SLS_DATE]    =	@INVOICE_DATE,
       [dbo].[SALES_INVOICE_TABLE].[INVOICE_TYPE] = @INVOICE_TYPE,
       [dbo].[SALES_INVOICE_TABLE].[BROKER_NAME] =	@BROKER_NAME,
       [dbo].[SALES_INVOICE_TABLE].[PARTY_NAME] =	@PARTY_NAME,
       [dbo].[SALES_INVOICE_TABLE].[PARTY_GSTNO] =	@PARTY_GSTNO,
	   [dbo].[SALES_INVOICE_TABLE].[PARTY_ADDRESS] = @PARTY_ADDRESS,
       [dbo].[SALES_INVOICE_TABLE].[PRODUCT_ID] = @PRODUCT_ID,
       [dbo].[SALES_INVOICE_TABLE].[PRODUCT_BRAND_NAME] = @PRODUCT_BRAND_NAME,
       [dbo].[SALES_INVOICE_TABLE].[BAGS] = @BAGS,
       [dbo].[SALES_INVOICE_TABLE].[BAG_PER_KG] = @BAG_PER_KG,
       [dbo].[SALES_INVOICE_TABLE].[TOTAL_WEIGHT] = @TOTAL_WEIGHT,
       [dbo].[SALES_INVOICE_TABLE].[PRODUCT_PRICE] = @PRODUCT_PRICE,
       [dbo].[SALES_INVOICE_TABLE].[SGST] = @SGST,
       [dbo].[SALES_INVOICE_TABLE].[CGST] = @CGST, 
       [dbo].[SALES_INVOICE_TABLE].[TOTAL_SGST_PRICE] = @TOTAL_SGST_PRICE,
       [dbo].[SALES_INVOICE_TABLE].[TOTAL_CGST_PRICE] = @TOTAL_CGST_PRICE,
       [dbo].[SALES_INVOICE_TABLE].[WITHOUT_GST_PRICE]= @WITHOUT_GST_PRICE,
       [dbo].[SALES_INVOICE_TABLE].[TOTAL_PRICE]  = @TOTAL_PRICE,
       [dbo].[SALES_INVOICE_TABLE].[VEHICLE_ID] = @VEHICLE_ID,
	   [dbo].[SALES_INVOICE_TABLE].[VEHICLE_NO]= @VEHICLE_NO,
       [dbo].[SALES_INVOICE_TABLE].[DRIVER_NAME] = @DRIVER_NAME,
       [dbo].[SALES_INVOICE_TABLE].[CONTAINER_NO] = @CONTAINER_NO

	   WHERE [dbo].[SALES_INVOICE_TABLE].[SLS_ID] = @INVOICE_ID
END;