CREATE OR
ALTER   PROCEDURE [dbo].[API_SALE_INSERT]
    @SALE_DATE DATE,
    @PRODUCT_ID INT,
    @RECEIVE_PAYMENT_DATE DATE,
    @CUSTOMER_ID INT,
    @PRODUCT_BRAND_NAME VARCHAR(200) = NULL,
    @BAGS DECIMAL(10,2) = NULL,
    @BAG_PER_KG DECIMAL(10,2) = NULL,
    @TOTAL_WEIGHT DECIMAL(10,2),
    @RATE DECIMAL(10,2),
	@CGST DECIMAL(10,2) = NULL,
	@SGST DECIMAL(10,2) = NULL,
	@TOTAL_CGST_PRICE DECIMAL(10,2) = NULL,
	@TOTAL_SGST_PRICE DECIMAL(10,2) = NULL,
	@WITHOUT_GST_PRICE DECIMAL (10,2) = NULL,
    @TOTAL_PRICE DECIMAL(10,2),
    @DISCOUNT DECIMAL(10,2),
    @RECEIVE_AMOUNT DECIMAL(10,2),
    @PAYMENT_METHOD VARCHAR(500),
    @RECEIVE_AMOUNT_INFORMATION_ID INT = NULL,
    @IS_PAYMENT_AMOUNT_RECEIVE VARCHAR(50),
    @REMAIN_PAYMENT_DATE DATE = NULL,
    @REMAIN_AMOUNT DECIMAL(10,2) = NULL,
    @REMAIN_PAYMENT_METHOD VARCHAR(500) = NULL,
    @REMAIN_INFORMATION_ID INT = NULL,
    @DEDUCT_AMOUNT DECIMAL(10,2)
AS
BEGIN
    INSERT INTO SALE_STOCK_TABLE 
    (
        [SALE_STOCK_DATE], 
        [RECEIVE_PAYMENT_DATE], 
        [PRODUCT_ID],
        [CUSTOMER_ID], 
        [PRODUCT_BRAND_NAME], 
        [RECEIVE_PAYMENT_METHOD],
        [INFORMATION_ID],
        [BAGS], 
        [BAG_PER_KG], 
        [TOTAL_WEIGHT], 
        [RATE],
		[CGST],
		[SGST],
		[TOTAL_CGST_PRICE],
		[TOTAL_SGST_PRICE],
		[WITHOUT_GST_PRICE],
        [TOTAL_AMOUNT], 
        [RECEIVE_AMOUNT], 
        [DISCOUNT],
        [IS_FULL_AMOUNT_RECEIVE],
        [REMAIN_PAYMENT_DATE], 
        [REMAIN_AMOUNT], 
        [REMAIN_PAYMENT_METHOD], 
        [REMAIN_INFORMATION_ID], 
        [DEDUCT_AMOUNT]
    )
    VALUES
    (
        @SALE_DATE, 
        @RECEIVE_PAYMENT_DATE, 
        @PRODUCT_ID,
        @CUSTOMER_ID, 
        @PRODUCT_BRAND_NAME, 
        @PAYMENT_METHOD,
        @RECEIVE_AMOUNT_INFORMATION_ID,
        @BAGS, 
        @BAG_PER_KG, 
        @TOTAL_WEIGHT, 
        @RATE,
		@CGST,
		@SGST,
		@TOTAL_CGST_PRICE,
		@TOTAL_SGST_PRICE,
		@WITHOUT_GST_PRICE,
        @TOTAL_PRICE, 
        @RECEIVE_AMOUNT, 
        @DISCOUNT,
        @IS_PAYMENT_AMOUNT_RECEIVE,
        @REMAIN_PAYMENT_DATE, 
        @REMAIN_AMOUNT, 
        @REMAIN_PAYMENT_METHOD, 
        @REMAIN_INFORMATION_ID, 
        @DEDUCT_AMOUNT
    );
END

