CREATE OR
ALTER   PROC [dbo].[API_SALES_INVOICE_INSERT]
    @INVOICE_DATE DATE,
    @INVOICE_TYPE VARCHAR(50),
    @BROKER_NAME NVARCHAR(MAX) = NULL,
    @PARTY_NAME NVARCHAR(MAX),
    @PARTY_GSTNO VARCHAR(20) = NULL,
	@PARTY_ADDRESS NVARCHAR(MAX),
    @PRODUCT_ID INT,
    @PRODUCT_BRAND_NAME NVARCHAR(100) = NULL,
    @BAGS DECIMAL(10,2) = NULL,
    @BAG_PER_KG DECIMAL(10,2) = NULL,
    @TOTAL_WEIGHT DECIMAL(10,2),
    @PRODUCT_PRICE DECIMAL(10,2),
    @SGST DECIMAL(10,2) = NULL,
    @CGST DECIMAL(10,2) = NULL,
    @TOTAL_SGST_PRICE DECIMAL(10,2) = NULL,
    @TOTAL_CGST_PRICE DECIMAL(10,2) = NULL,
    @WITHOUT_GST_PRICE DECIMAL(10,2) = NULL,
    @TOTAL_PRICE DECIMAL(10,2),
    @VEHICLE_ID INT,
	@VEHICLE_NO VARCHAR(200),
    @DRIVER_NAME NVARCHAR(MAX),
    @CONTAINER_NO VARCHAR(50) = NULL
AS
BEGIN
    INSERT INTO [dbo].[SALES_INVOICE_TABLE]
    (
       [dbo].[SALES_INVOICE_TABLE].[SLS_DATE],
       [dbo].[SALES_INVOICE_TABLE].[INVOICE_TYPE],
       [dbo].[SALES_INVOICE_TABLE].[BROKER_NAME],
       [dbo].[SALES_INVOICE_TABLE].[PARTY_NAME],
       [dbo].[SALES_INVOICE_TABLE].[PARTY_GSTNO],
	   [dbo].[SALES_INVOICE_TABLE].[PARTY_ADDRESS],
       [dbo].[SALES_INVOICE_TABLE].[PRODUCT_ID],
       [dbo].[SALES_INVOICE_TABLE].[PRODUCT_BRAND_NAME],
       [dbo].[SALES_INVOICE_TABLE].[BAGS],
       [dbo].[SALES_INVOICE_TABLE].[BAG_PER_KG],
       [dbo].[SALES_INVOICE_TABLE].[TOTAL_WEIGHT],
       [dbo].[SALES_INVOICE_TABLE].[PRODUCT_PRICE],
       [dbo].[SALES_INVOICE_TABLE].[SGST],
       [dbo].[SALES_INVOICE_TABLE].[CGST],
       [dbo].[SALES_INVOICE_TABLE].[TOTAL_SGST_PRICE],
       [dbo].[SALES_INVOICE_TABLE].[TOTAL_CGST_PRICE],
       [dbo].[SALES_INVOICE_TABLE].[WITHOUT_GST_PRICE],
       [dbo].[SALES_INVOICE_TABLE].[TOTAL_PRICE],
       [dbo].[SALES_INVOICE_TABLE].[VEHICLE_ID],
	   [dbo].[SALES_INVOICE_TABLE].[VEHICLE_NO],
       [dbo].[SALES_INVOICE_TABLE].[DRIVER_NAME],
       [dbo].[SALES_INVOICE_TABLE].[CONTAINER_NO]
    )

    VALUES
    (
        @INVOICE_DATE,
        @INVOICE_TYPE,
        @BROKER_NAME,
        @PARTY_NAME,
        @PARTY_GSTNO,
		@PARTY_ADDRESS,
        @PRODUCT_ID,
        @PRODUCT_BRAND_NAME,
        @BAGS,
        @BAG_PER_KG,
        @TOTAL_WEIGHT,
        @PRODUCT_PRICE,
        @SGST,
        @CGST,
        @TOTAL_SGST_PRICE,
        @TOTAL_CGST_PRICE,
        @WITHOUT_GST_PRICE,
        @TOTAL_PRICE,
        @VEHICLE_ID,
		@VEHICLE_NO,
        @DRIVER_NAME,
        @CONTAINER_NO
    )
END;