CREATE OR
 ALTER    PROC [dbo].[API_SHOW_PAYMENT_INFO_BY_CUSTOMER_PK_AND_STOCK_ID] 
@CUSTOMER_ID INT,
@STOCK_ID INT

AS 
SELECT 
		[dbo].[CUSTOMER_TABLE].[CUSTOMER_ID],
		[dbo].[CUSTOMER_TABLE].[CUSTOMER_NAME],
		[dbo].[CUSTOMER_TABLE].[CUSTOMER_TYPE],
		[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_ID] AS [STOCK_ID],
		[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_DATE] AS [STOCK_DATE],
		[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_LOCATION] AS [STOCK_LOCATION],
		[dbo].[PRODUCT_TABLE].[PRODUCT_ID],
		[dbo].[PRODUCT_TABLE].[PRODUCT_NAME_IN_GUJARATI],
		[dbo].[PURCHASE_STOCK_TABLE].[TOTAL_PRICE],
		[dbo].[PURCHASE_STOCK_TABLE].[PAYMENT_STATUS]
	

FROM [dbo].[PURCHASE_STOCK_TABLE]


INNER JOIN [dbo].[CUSTOMER_TABLE] ON [dbo].[PURCHASE_STOCK_TABLE].[CUSTOMER_ID] = [dbo].[CUSTOMER_TABLE].[CUSTOMER_ID]
INNER JOIN [dbo].[PRODUCT_TABLE] ON [dbo].[PURCHASE_STOCK_TABLE].[PRODUCT_ID] = [dbo].[PRODUCT_TABLE].[PRODUCT_ID]

WHERE 
		[dbo].[CUSTOMER_TABLE].[CUSTOMER_ID] = @CUSTOMER_ID 
		AND
		[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_ID] = @STOCK_ID