CREATE OR
ALTER   PROC [dbo].[API_SHOW_REMAIN_PAYMENT_INFO_BY_CUSTOMER_FK_AND_STOCK_ID_AND_PAYMENT_ID]
    @Customer_ID int,
    @STOCK_ID int
AS
BEGIN
    SELECT
		[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_ID] AS [STOCK_ID],
        [dbo].[PAYMENT_TABLE].[PAYMENT_ID],
        [dbo].[PAYMENT_TABLE].[PAYMENT_DATE],
		[dbo].[CUSTOMER_TABLE].[CUSTOMER_ID],
		[dbo].[CUSTOMER_TABLE].[CUSTOMER_NAME],
		[dbo].[PRODUCT_TABLE].[PRODUCT_ID],
		[dbo].[PRODUCT_TABLE].[PRODUCT_NAME_IN_GUJARATI],
        [dbo].[PURCHASE_STOCK_TABLE].[TOTAL_PRICE] AS [TOTAL_AMOUNT],
        [dbo].[PAYMENT_TABLE].[AMOUNT_PAID],
        [dbo].[PAYMENT_TABLE].[REMAIN_AMOUNT],
        [dbo].[PAYMENT_TABLE].[PAYMENT_METHOD] AS [FIRST_PAYMENT_METHOD],
        ISNULL([dbo].[BANK_TABLE].[BANK_ID], 0) AS [BANK_ID],
        ISNULL([dbo].[BANK_TABLE].[BANK_NAME], '--') AS [BANK_NAME],
        ISNULL([dbo].[BANK_TABLE].[BANK_ICON], '--') AS [BANK_ICON],
        ISNULL([PAYMENT_TABLE].[BANK_AC_NO], '--') AS [BANK_AC_NO]
    FROM [dbo].[PAYMENT_TABLE]
    INNER JOIN [dbo].[CUSTOMER_TABLE] ON [dbo].[CUSTOMER_TABLE].[CUSTOMER_ID] = [dbo].[PAYMENT_TABLE].[CUSTOMER_ID]
    INNER JOIN [dbo].[PURCHASE_STOCK_TABLE] ON [dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_ID] = [dbo].[PAYMENT_TABLE].[STOCK_ID]
    INNER JOIN [dbo].[PRODUCT_TABLE] ON [dbo].[PRODUCT_TABLE].[PRODUCT_ID] = [dbo].[PAYMENT_TABLE].[PRODUCT_ID]
    LEFT JOIN [dbo].[BANK_TABLE] ON [dbo].[BANK_TABLE].[BANK_ID] = [dbo].[PAYMENT_TABLE].[BANK_ID]
    
    WHERE
        [dbo].[CUSTOMER_TABLE].[CUSTOMER_ID] = @Customer_ID
        AND [dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_ID] = @STOCK_ID
END