USE [master]
GO
/****** Object:  Database [DB_STOCK_MANAGE_SYSTEM]    Script Date: 01-05-2024 12:08:51 AM ******/
CREATE DATABASE [DB_STOCK_MANAGE_SYSTEM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_STOCK_MANAGE_SYSTEM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DB_STOCK_MANAGE_SYSTEM.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_STOCK_MANAGE_SYSTEM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DB_STOCK_MANAGE_SYSTEM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_STOCK_MANAGE_SYSTEM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_STOCK_MANAGE_SYSTEM]
GO
/****** Object:  Table [dbo].[ADMIN_TABLE]    Script Date: 01-05-2024 12:08:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN_TABLE](
	[ADMIN_ID] [int] IDENTITY(1,1) NOT NULL,
	[ADMIN_NAME] [varchar](10) NOT NULL,
	[ADMIN_PASSWORD] [varchar](10) NOT NULL,
	[ADMIN_LAST_LOGIN_TIME] [datetime] NULL,
	[ADMIN_EMAIL] [varchar](max) NULL,
	[ADMIN_PHONE_NO] [varchar](10) NULL,
 CONSTRAINT [PK_ADMIN_TABLE] PRIMARY KEY CLUSTERED 
(
	[ADMIN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANK_TABLE]    Script Date: 01-05-2024 12:08:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANK_TABLE](
	[BANK_ID] [int] IDENTITY(1,1) NOT NULL,
	[BANK_NAME] [varchar](max) NOT NULL,
	[BANK_ICON] [varchar](max) NOT NULL,
 CONSTRAINT [PK_BANK_TABLE] PRIMARY KEY CLUSTERED 
(
	[BANK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER_TABLE]    Script Date: 01-05-2024 12:08:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER_TABLE](
	[CUSTOMER_ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_NAME] [nvarchar](max) NOT NULL,
	[CUSTOMER_TYPE] [nvarchar](max) NOT NULL,
	[CUSTOMER_CONTACT] [varchar](10) NOT NULL,
	[CUSTOMER_ADDRESS] [nvarchar](max) NOT NULL,
	[CUSTOMER_CREATE_DATE] [date] NOT NULL,
	[CUSTOMER_UPDATE_DATE] [date] NOT NULL,
 CONSTRAINT [PK_CUSTOMER_TABLE] PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENT_TABLE]    Script Date: 01-05-2024 12:08:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT_TABLE](
	[PAYMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[PAYMENT_DATE] [date] NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[STOCK_ID] [int] NOT NULL,
	[AMOUNT_PAID] [decimal](10, 2) NOT NULL,
	[REMAIN_AMOUNT] [decimal](10, 2) NULL,
	[PAYMENT_METHOD] [varchar](200) NOT NULL,
	[BANK_ID] [int] NULL,
	[BANK_AC_NO] [nchar](10) NULL,
	[CHEQ_NO] [varchar](100) NULL,
	[RTGS_NO] [varchar](50) NULL,
 CONSTRAINT [PK_PAYMENT_TABLE] PRIMARY KEY CLUSTERED 
(
	[PAYMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_GRADE_TABLE]    Script Date: 01-05-2024 12:08:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_GRADE_TABLE](
	[PRODUCT_GRADE_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCT_GRADE] [varchar](10) NOT NULL,
 CONSTRAINT [PK_PRODUCT_GRADE_TABLE] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_GRADE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_TABLE]    Script Date: 01-05-2024 12:08:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_TABLE](
	[PRODUCT_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCT_NAME_IN_GUJARATI] [nvarchar](max) NOT NULL,
	[PRODUCT_NAME_IN_ENGLISH] [varchar](max) NOT NULL,
 CONSTRAINT [PK_PRODUCT_TABLE] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PURCHASE_INVOICE_TABLE]    Script Date: 01-05-2024 12:08:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PURCHASE_INVOICE_TABLE](
	[PUR_INV_ID] [int] IDENTITY(1,1) NOT NULL,
	[PUR_INV_DATE] [date] NOT NULL,
	[CUSTOMER_NAME] [nvarchar](max) NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[PRODUCT_GRADE_ID] [int] NULL,
	[BAGS] [decimal](10, 2) NULL,
	[BAG_PER_KG] [decimal](10, 2) NULL,
	[TOTAL_WEIGHT] [decimal](10, 2) NULL,
	[PRODUCT_PRICE] [decimal](10, 2) NOT NULL,
	[TOTAL_PRICE] [decimal](10, 2) NOT NULL,
	[VEHICLE_ID] [int] NOT NULL,
	[VEHICLE_NO] [varchar](100) NOT NULL,
	[DRIVER_NAME] [nvarchar](max) NOT NULL,
	[TOLAT_NAME] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_PURCHASE_INVOICE_TABLE] PRIMARY KEY CLUSTERED 
(
	[PUR_INV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PURCHASE_STOCK_TABLE]    Script Date: 01-05-2024 12:08:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PURCHASE_STOCK_TABLE](
	[PUR_STOCK_ID] [int] IDENTITY(1,1) NOT NULL,
	[PUR_STOCK_DATE] [date] NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[PRODUCT_GRADE_ID] [int] NULL,
	[PUR_STOCK_LOCATION] [nvarchar](max) NOT NULL,
	[BAGS] [decimal](10, 2) NULL,
	[BAG_PER_KG] [decimal](10, 2) NULL,
	[TOTAL_WEIGHT] [decimal](10, 2) NOT NULL,
	[PRODUCT_PRICE] [decimal](10, 2) NOT NULL,
	[TOTAL_PRICE] [decimal](10, 2) NOT NULL,
	[VEHICLE_ID] [int] NOT NULL,
	[VEHICLE_NO] [varchar](100) NOT NULL,
	[DRIVER_NAME] [nvarchar](max) NOT NULL,
	[TOLAT_NAME] [nvarchar](max) NULL,
	[PAYMENT_STATUS] [varchar](max) NULL,
 CONSTRAINT [PK_PURCHASE_STOCK_TABLE] PRIMARY KEY CLUSTERED 
(
	[PUR_STOCK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RECENT_ACTIONS_TABLE]    Script Date: 01-05-2024 12:08:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECENT_ACTIONS_TABLE](
	[REC_ACT_ID] [int] IDENTITY(1,1) NOT NULL,
	[REC_ACT_TABLE_NAME] [varchar](100) NOT NULL,
	[RECT_ACT_INFO] [nvarchar](max) NOT NULL,
	[RECT_ACT_CREATE] [datetime] NOT NULL,
 CONSTRAINT [PK_RECENT_ACTIONS_TABLE] PRIMARY KEY CLUSTERED 
(
	[REC_ACT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REMAIN_PAYMENT_TABLE]    Script Date: 01-05-2024 12:08:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REMAIN_PAYMENT_TABLE](
	[REMAIN_PAYMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[PAYMENT_ID] [int] NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[STOCK_ID] [int] NOT NULL,
	[REMAIN_PAYMENT_DATE] [date] NOT NULL,
	[REMAIN_PAYMENT_AMOUNT] [decimal](10, 2) NOT NULL,
	[REMAIN_PAYMENT_METHOD] [varchar](200) NOT NULL,
	[REMAIN_BANK_ID] [int] NULL,
	[REMAIN_BANK_AC_NO] [nchar](10) NULL,
	[REMAIN_CHEQ_NO] [varchar](50) NULL,
	[REMAIN_RTGS_NO] [varchar](50) NULL,
 CONSTRAINT [PK_REMAIN_PAYMENT_TABLE] PRIMARY KEY CLUSTERED 
(
	[REMAIN_PAYMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALE_STOCK_TABLE]    Script Date: 01-05-2024 12:08:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALE_STOCK_TABLE](
	[SALE_STOCK_ID] [int] IDENTITY(1,1) NOT NULL,
	[SALE_STOCK_DATE] [date] NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[PRODUCT_BRAND_NAME] [varchar](100) NULL,
	[BAGS] [decimal](10, 2) NULL,
	[BAG_PER_KG] [decimal](10, 2) NULL,
	[TOTAL_WEIGHT] [decimal](10, 2) NOT NULL,
	[RATE] [decimal](10, 2) NOT NULL,
	[TOTAL_AMOUNT] [decimal](10, 2) NOT NULL,
	[DISCOUNT] [decimal](10, 2) NULL,
	[DEDUCT_AMOUNT] [decimal](10, 2) NULL,
	[RECEIVE_PAYMENT_DATE] [date] NOT NULL,
	[RECEIVE_PAYMENT_METHOD] [varchar](100) NOT NULL,
	[INFORMATION_ID] [int] NULL,
	[RECEIVE_AMOUNT] [decimal](10, 2) NOT NULL,
	[IS_FULL_AMOUNT_RECEIVE] [bit] NOT NULL,
	[REMAIN_PAYMENT_DATE] [date] NULL,
	[REMAIN_AMOUNT] [decimal](10, 2) NULL,
	[REMAIN_PAYMENT_METHOD] [varchar](100) NULL,
	[REMAIN_INFORMATION_ID] [int] NULL,
 CONSTRAINT [PK_dbo.SALE_STOCK_TABLE] PRIMARY KEY CLUSTERED 
(
	[SALE_STOCK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALES_INVOICE_TABLE]    Script Date: 01-05-2024 12:08:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALES_INVOICE_TABLE](
	[SLS_ID] [int] IDENTITY(1,1) NOT NULL,
	[SLS_DATE] [date] NOT NULL,
	[INVOICE_TYPE] [varchar](50) NULL,
	[BROKER_NAME] [nvarchar](max) NULL,
	[PARTY_NAME] [nvarchar](max) NOT NULL,
	[PARTY_GSTNO] [varchar](20) NULL,
	[PARTY_ADDRESS] [nvarchar](max) NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[PRODUCT_BRAND_NAME] [nvarchar](100) NOT NULL,
	[BAGS] [decimal](10, 2) NULL,
	[BAG_PER_KG] [decimal](10, 2) NULL,
	[TOTAL_WEIGHT] [decimal](10, 2) NOT NULL,
	[PRODUCT_PRICE] [decimal](10, 2) NOT NULL,
	[SGST] [decimal](10, 2) NULL,
	[CGST] [decimal](10, 2) NULL,
	[TOTAL_SGST_PRICE] [decimal](10, 2) NULL,
	[TOTAL_CGST_PRICE] [decimal](10, 2) NULL,
	[WITHOUT_GST_PRICE] [decimal](10, 2) NULL,
	[TOTAL_PRICE] [decimal](10, 2) NOT NULL,
	[VEHICLE_ID] [int] NOT NULL,
	[VEHICLE_NO] [varchar](200) NULL,
	[DRIVER_NAME] [nvarchar](max) NULL,
	[CONTAINER_NO] [varchar](50) NULL,
 CONSTRAINT [PK_SALES_INVOICE_TABLE] PRIMARY KEY CLUSTERED 
(
	[SLS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAVE_INFORMATION_TABLE]    Script Date: 01-05-2024 12:08:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAVE_INFORMATION_TABLE](
	[INFORMATION_ID] [int] IDENTITY(1,1) NOT NULL,
	[BANK_ID] [int] NOT NULL,
	[BANK_ACCOUNT_NO] [varchar](20) NOT NULL,
	[BANK_IFSC_CODE] [varchar](11) NOT NULL,
	[BANK_ACCOUNT_HOLDER_NAME] [varchar](500) NOT NULL,
 CONSTRAINT [PK_SAVE_INFORMATION_TABLE] PRIMARY KEY CLUSTERED 
(
	[INFORMATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VEHICLE_TABLE]    Script Date: 01-05-2024 12:08:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VEHICLE_TABLE](
	[VEH_ID] [int] IDENTITY(1,1) NOT NULL,
	[VEH_NAME] [varchar](max) NOT NULL,
 CONSTRAINT [PK_VEHICLE_TABLE] PRIMARY KEY CLUSTERED 
(
	[VEH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BANK_TABLE] ON 

INSERT [dbo].[BANK_TABLE] ([BANK_ID], [BANK_NAME], [BANK_ICON]) VALUES (1, N'State Bank of India', N'Images/Bankicons/sbi.svg')
INSERT [dbo].[BANK_TABLE] ([BANK_ID], [BANK_NAME], [BANK_ICON]) VALUES (2, N'HDFC Bank', N'Images/Bankicons/hdfc.svg')
INSERT [dbo].[BANK_TABLE] ([BANK_ID], [BANK_NAME], [BANK_ICON]) VALUES (3, N'Axis Bank', N'Images/Bankicons/axis.svg')
SET IDENTITY_INSERT [dbo].[BANK_TABLE] OFF
GO
SET IDENTITY_INSERT [dbo].[CUSTOMER_TABLE] ON 

INSERT [dbo].[CUSTOMER_TABLE] ([CUSTOMER_ID], [CUSTOMER_NAME], [CUSTOMER_TYPE], [CUSTOMER_CONTACT], [CUSTOMER_ADDRESS], [CUSTOMER_CREATE_DATE], [CUSTOMER_UPDATE_DATE]) VALUES (1, N'RAJUBHAI', N'BUYER', N'9874563210', N'RAJKOT', CAST(N'2024-02-08' AS Date), CAST(N'2024-02-22' AS Date))
INSERT [dbo].[CUSTOMER_TABLE] ([CUSTOMER_ID], [CUSTOMER_NAME], [CUSTOMER_TYPE], [CUSTOMER_CONTACT], [CUSTOMER_ADDRESS], [CUSTOMER_CREATE_DATE], [CUSTOMER_UPDATE_DATE]) VALUES (2, N'BHARGAV', N'BUYER', N'9632855741', N'RAJKOT', CAST(N'2024-02-09' AS Date), CAST(N'2024-02-09' AS Date))
INSERT [dbo].[CUSTOMER_TABLE] ([CUSTOMER_ID], [CUSTOMER_NAME], [CUSTOMER_TYPE], [CUSTOMER_CONTACT], [CUSTOMER_ADDRESS], [CUSTOMER_CREATE_DATE], [CUSTOMER_UPDATE_DATE]) VALUES (3, N'BABUBHAI', N'BUYER', N'123456780', N'UPLETA', CAST(N'2024-02-11' AS Date), CAST(N'2024-02-22' AS Date))
SET IDENTITY_INSERT [dbo].[CUSTOMER_TABLE] OFF
GO
SET IDENTITY_INSERT [dbo].[PAYMENT_TABLE] ON 

INSERT [dbo].[PAYMENT_TABLE] ([PAYMENT_ID], [PAYMENT_DATE], [CUSTOMER_ID], [PRODUCT_ID], [STOCK_ID], [AMOUNT_PAID], [REMAIN_AMOUNT], [PAYMENT_METHOD], [BANK_ID], [BANK_AC_NO], [CHEQ_NO], [RTGS_NO]) VALUES (3, CAST(N'2024-03-24' AS Date), 1, 1, 1, CAST(75000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), N'CASH', NULL, N'--        ', N'--', N'--')
INSERT [dbo].[PAYMENT_TABLE] ([PAYMENT_ID], [PAYMENT_DATE], [CUSTOMER_ID], [PRODUCT_ID], [STOCK_ID], [AMOUNT_PAID], [REMAIN_AMOUNT], [PAYMENT_METHOD], [BANK_ID], [BANK_AC_NO], [CHEQ_NO], [RTGS_NO]) VALUES (4, CAST(N'2024-03-24' AS Date), 1, 2, 9, CAST(150000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), N'BANK', 1, N'9664633122', N'--', N'--')
INSERT [dbo].[PAYMENT_TABLE] ([PAYMENT_ID], [PAYMENT_DATE], [CUSTOMER_ID], [PRODUCT_ID], [STOCK_ID], [AMOUNT_PAID], [REMAIN_AMOUNT], [PAYMENT_METHOD], [BANK_ID], [BANK_AC_NO], [CHEQ_NO], [RTGS_NO]) VALUES (5, CAST(N'2024-03-24' AS Date), 4, 1, 13, CAST(51875.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), N'CASH', NULL, N'--        ', N'--', N'--')
SET IDENTITY_INSERT [dbo].[PAYMENT_TABLE] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCT_GRADE_TABLE] ON 

INSERT [dbo].[PRODUCT_GRADE_TABLE] ([PRODUCT_GRADE_ID], [PRODUCT_GRADE]) VALUES (1, N'A')
INSERT [dbo].[PRODUCT_GRADE_TABLE] ([PRODUCT_GRADE_ID], [PRODUCT_GRADE]) VALUES (2, N'B')
INSERT [dbo].[PRODUCT_GRADE_TABLE] ([PRODUCT_GRADE_ID], [PRODUCT_GRADE]) VALUES (3, N'C')
SET IDENTITY_INSERT [dbo].[PRODUCT_GRADE_TABLE] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCT_TABLE] ON 

INSERT [dbo].[PRODUCT_TABLE] ([PRODUCT_ID], [PRODUCT_NAME_IN_GUJARATI], [PRODUCT_NAME_IN_ENGLISH]) VALUES (1, N'ઘઉં', N'WHEAT')
INSERT [dbo].[PRODUCT_TABLE] ([PRODUCT_ID], [PRODUCT_NAME_IN_GUJARATI], [PRODUCT_NAME_IN_ENGLISH]) VALUES (2, N'બાજરો', N'BAJARA')
INSERT [dbo].[PRODUCT_TABLE] ([PRODUCT_ID], [PRODUCT_NAME_IN_GUJARATI], [PRODUCT_NAME_IN_ENGLISH]) VALUES (3, N'મગફળી', N'GROUND-NUT')
SET IDENTITY_INSERT [dbo].[PRODUCT_TABLE] OFF
GO
SET IDENTITY_INSERT [dbo].[PURCHASE_INVOICE_TABLE] ON 

INSERT [dbo].[PURCHASE_INVOICE_TABLE] ([PUR_INV_ID], [PUR_INV_DATE], [CUSTOMER_NAME], [PRODUCT_ID], [PRODUCT_GRADE_ID], [BAGS], [BAG_PER_KG], [TOTAL_WEIGHT], [PRODUCT_PRICE], [TOTAL_PRICE], [VEHICLE_ID], [VEHICLE_NO], [DRIVER_NAME], [TOLAT_NAME]) VALUES (8, CAST(N'2024-02-11' AS Date), N'BHARGAV', 0, NULL, NULL, NULL, CAST(2500.00 AS Decimal(10, 2)), CAST(475.00 AS Decimal(10, 2)), CAST(59375.00 AS Decimal(10, 2)), 1, N'GJ-12-MM-0909', N'DEMO', N'BAPU')
INSERT [dbo].[PURCHASE_INVOICE_TABLE] ([PUR_INV_ID], [PUR_INV_DATE], [CUSTOMER_NAME], [PRODUCT_ID], [PRODUCT_GRADE_ID], [BAGS], [BAG_PER_KG], [TOTAL_WEIGHT], [PRODUCT_PRICE], [TOTAL_PRICE], [VEHICLE_ID], [VEHICLE_NO], [DRIVER_NAME], [TOLAT_NAME]) VALUES (22, CAST(N'2024-02-01' AS Date), N'RAJBHAI', 2, NULL, NULL, NULL, CAST(2500.00 AS Decimal(10, 2)), CAST(475.00 AS Decimal(10, 2)), CAST(59375.00 AS Decimal(10, 2)), 3, N'GJ-12-MM-0909', N'DEV', N'BAPU ')
INSERT [dbo].[PURCHASE_INVOICE_TABLE] ([PUR_INV_ID], [PUR_INV_DATE], [CUSTOMER_NAME], [PRODUCT_ID], [PRODUCT_GRADE_ID], [BAGS], [BAG_PER_KG], [TOTAL_WEIGHT], [PRODUCT_PRICE], [TOTAL_PRICE], [VEHICLE_ID], [VEHICLE_NO], [DRIVER_NAME], [TOLAT_NAME]) VALUES (25, CAST(N'2024-02-19' AS Date), N'BHARGAV', 1, 1, CAST(50.00 AS Decimal(10, 2)), CAST(50.00 AS Decimal(10, 2)), CAST(2500.00 AS Decimal(10, 2)), CAST(415.00 AS Decimal(10, 2)), CAST(51875.00 AS Decimal(10, 2)), 1, N'GJ-18-XC-5432', N'DEMO', N'BHAI')
SET IDENTITY_INSERT [dbo].[PURCHASE_INVOICE_TABLE] OFF
GO
SET IDENTITY_INSERT [dbo].[PURCHASE_STOCK_TABLE] ON 

INSERT [dbo].[PURCHASE_STOCK_TABLE] ([PUR_STOCK_ID], [PUR_STOCK_DATE], [CUSTOMER_ID], [PRODUCT_ID], [PRODUCT_GRADE_ID], [PUR_STOCK_LOCATION], [BAGS], [BAG_PER_KG], [TOTAL_WEIGHT], [PRODUCT_PRICE], [TOTAL_PRICE], [VEHICLE_ID], [VEHICLE_NO], [DRIVER_NAME], [TOLAT_NAME], [PAYMENT_STATUS]) VALUES (1, CAST(N'2024-02-08' AS Date), 1, 1, 1, N'UPLETA', CAST(50.00 AS Decimal(10, 2)), CAST(50.00 AS Decimal(10, 2)), CAST(2500.00 AS Decimal(10, 2)), CAST(425.00 AS Decimal(10, 2)), CAST(75000.00 AS Decimal(10, 2)), 1, N'GJ-11-MA-3992', N'DEV', N'BAPU', N'PAID')
INSERT [dbo].[PURCHASE_STOCK_TABLE] ([PUR_STOCK_ID], [PUR_STOCK_DATE], [CUSTOMER_ID], [PRODUCT_ID], [PRODUCT_GRADE_ID], [PUR_STOCK_LOCATION], [BAGS], [BAG_PER_KG], [TOTAL_WEIGHT], [PRODUCT_PRICE], [TOTAL_PRICE], [VEHICLE_ID], [VEHICLE_NO], [DRIVER_NAME], [TOLAT_NAME], [PAYMENT_STATUS]) VALUES (3, CAST(N'2024-02-08' AS Date), 3, 2, 1, N'UPLETA', CAST(50.00 AS Decimal(10, 2)), CAST(50.00 AS Decimal(10, 2)), CAST(2500.00 AS Decimal(10, 2)), CAST(425.00 AS Decimal(10, 2)), CAST(75000.00 AS Decimal(10, 2)), 1, N'GJ-11-MA-3992', N'DEV', N'BAPU', N'PAID')
INSERT [dbo].[PURCHASE_STOCK_TABLE] ([PUR_STOCK_ID], [PUR_STOCK_DATE], [CUSTOMER_ID], [PRODUCT_ID], [PRODUCT_GRADE_ID], [PUR_STOCK_LOCATION], [BAGS], [BAG_PER_KG], [TOTAL_WEIGHT], [PRODUCT_PRICE], [TOTAL_PRICE], [VEHICLE_ID], [VEHICLE_NO], [DRIVER_NAME], [TOLAT_NAME], [PAYMENT_STATUS]) VALUES (4, CAST(N'2024-02-08' AS Date), 3, 2, 1, N'UPLETA', CAST(50.00 AS Decimal(10, 2)), CAST(50.00 AS Decimal(10, 2)), CAST(2500.00 AS Decimal(10, 2)), CAST(425.00 AS Decimal(10, 2)), CAST(75000.00 AS Decimal(10, 2)), 1, N'GJ-11-MA-3992', N'DEV', N'MAINSH', N'PAID')
SET IDENTITY_INSERT [dbo].[PURCHASE_STOCK_TABLE] OFF
GO
SET IDENTITY_INSERT [dbo].[RECENT_ACTIONS_TABLE] ON 

INSERT [dbo].[RECENT_ACTIONS_TABLE] ([REC_ACT_ID], [REC_ACT_TABLE_NAME], [RECT_ACT_INFO], [RECT_ACT_CREATE]) VALUES (1, N'PURCHASE_INVOICE', N'BHARGAV A Purchase-Invoice Added !', CAST(N'2024-02-11T12:27:22.463' AS DateTime))
INSERT [dbo].[RECENT_ACTIONS_TABLE] ([REC_ACT_ID], [REC_ACT_TABLE_NAME], [RECT_ACT_INFO], [RECT_ACT_CREATE]) VALUES (2, N'PURCHASE_INVOICE', N'BHARGAV A Purchase-Invoice Added !', CAST(N'2024-02-11T12:28:27.537' AS DateTime))
INSERT [dbo].[RECENT_ACTIONS_TABLE] ([REC_ACT_ID], [REC_ACT_TABLE_NAME], [RECT_ACT_INFO], [RECT_ACT_CREATE]) VALUES (3, N'PURCHASE_INVOICE', N'HUHUIHIJ Purchase-Invoice Added !', CAST(N'2024-02-11T12:30:32.930' AS DateTime))
SET IDENTITY_INSERT [dbo].[RECENT_ACTIONS_TABLE] OFF
GO
SET IDENTITY_INSERT [dbo].[REMAIN_PAYMENT_TABLE] ON 

INSERT [dbo].[REMAIN_PAYMENT_TABLE] ([REMAIN_PAYMENT_ID], [PAYMENT_ID], [CUSTOMER_ID], [STOCK_ID], [REMAIN_PAYMENT_DATE], [REMAIN_PAYMENT_AMOUNT], [REMAIN_PAYMENT_METHOD], [REMAIN_BANK_ID], [REMAIN_BANK_AC_NO], [REMAIN_CHEQ_NO], [REMAIN_RTGS_NO]) VALUES (4, 2011, 3, 3, CAST(N'2024-04-23' AS Date), CAST(35000.00 AS Decimal(10, 2)), N'BANK', 1, N'9765543221', N'--', N'--')
INSERT [dbo].[REMAIN_PAYMENT_TABLE] ([REMAIN_PAYMENT_ID], [PAYMENT_ID], [CUSTOMER_ID], [STOCK_ID], [REMAIN_PAYMENT_DATE], [REMAIN_PAYMENT_AMOUNT], [REMAIN_PAYMENT_METHOD], [REMAIN_BANK_ID], [REMAIN_BANK_AC_NO], [REMAIN_CHEQ_NO], [REMAIN_RTGS_NO]) VALUES (5, 1011, 3, 4, CAST(N'2024-04-27' AS Date), CAST(25000.00 AS Decimal(10, 2)), N'CASH', 0, N'--        ', N'--', N'--')
INSERT [dbo].[REMAIN_PAYMENT_TABLE] ([REMAIN_PAYMENT_ID], [PAYMENT_ID], [CUSTOMER_ID], [STOCK_ID], [REMAIN_PAYMENT_DATE], [REMAIN_PAYMENT_AMOUNT], [REMAIN_PAYMENT_METHOD], [REMAIN_BANK_ID], [REMAIN_BANK_AC_NO], [REMAIN_CHEQ_NO], [REMAIN_RTGS_NO]) VALUES (6, 11, 3, 19, CAST(N'2024-04-27' AS Date), CAST(29375.00 AS Decimal(10, 2)), N'BANK', 2, N'5332210003', N'--', N'--')
SET IDENTITY_INSERT [dbo].[REMAIN_PAYMENT_TABLE] OFF
GO
SET IDENTITY_INSERT [dbo].[SALE_STOCK_TABLE] ON 

SET IDENTITY_INSERT [dbo].[SALE_STOCK_TABLE] OFF
GO
SET IDENTITY_INSERT [dbo].[SALES_INVOICE_TABLE] ON 

SET IDENTITY_INSERT [dbo].[SALES_INVOICE_TABLE] OFF
GO
SET IDENTITY_INSERT [dbo].[SAVE_INFORMATION_TABLE] ON 

INSERT [dbo].[SAVE_INFORMATION_TABLE] ([INFORMATION_ID], [BANK_ID], [BANK_ACCOUNT_NO], [BANK_IFSC_CODE], [BANK_ACCOUNT_HOLDER_NAME]) VALUES (1, 1, N'39007631907', N'SBIN0060075', N'SHREE GANESH AGRO IND')
SET IDENTITY_INSERT [dbo].[SAVE_INFORMATION_TABLE] OFF
GO
SET IDENTITY_INSERT [dbo].[VEHICLE_TABLE] ON 

INSERT [dbo].[VEHICLE_TABLE] ([VEH_ID], [VEH_NAME]) VALUES (1, N'TRUCK')
INSERT [dbo].[VEHICLE_TABLE] ([VEH_ID], [VEH_NAME]) VALUES (2, N'TRACTOR')
INSERT [dbo].[VEHICLE_TABLE] ([VEH_ID], [VEH_NAME]) VALUES (3, N'TEMPO')
SET IDENTITY_INSERT [dbo].[VEHICLE_TABLE] OFF
GO
ALTER TABLE [dbo].[PAYMENT_TABLE]  WITH CHECK ADD  CONSTRAINT [FK_PAYMENT_TABLE_PRODUCT_TABLE] FOREIGN KEY([BANK_ID])
REFERENCES [dbo].[BANK_TABLE] ([BANK_ID])
GO
ALTER TABLE [dbo].[PAYMENT_TABLE] CHECK CONSTRAINT [FK_PAYMENT_TABLE_PRODUCT_TABLE]
GO
ALTER TABLE [dbo].[PAYMENT_TABLE]  WITH CHECK ADD  CONSTRAINT [FK_PAYMENT_TABLE_PURCHASE_STOCK_TABLE] FOREIGN KEY([STOCK_ID])
REFERENCES [dbo].[PURCHASE_STOCK_TABLE] ([PUR_STOCK_ID])
GO
ALTER TABLE [dbo].[PAYMENT_TABLE] CHECK CONSTRAINT [FK_PAYMENT_TABLE_PURCHASE_STOCK_TABLE]
GO
ALTER TABLE [dbo].[PURCHASE_STOCK_TABLE]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASE_STOCK_CUSTOMER] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER_TABLE] ([CUSTOMER_ID])
GO
ALTER TABLE [dbo].[PURCHASE_STOCK_TABLE] CHECK CONSTRAINT [FK_PURCHASE_STOCK_CUSTOMER]
GO
ALTER TABLE [dbo].[PURCHASE_STOCK_TABLE]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASE_STOCK_PRODUCT] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[PRODUCT_TABLE] ([PRODUCT_ID])
GO
ALTER TABLE [dbo].[PURCHASE_STOCK_TABLE] CHECK CONSTRAINT [FK_PURCHASE_STOCK_PRODUCT]
GO
ALTER TABLE [dbo].[PURCHASE_STOCK_TABLE]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASE_STOCK_PRODUCT_GRADE] FOREIGN KEY([PRODUCT_GRADE_ID])
REFERENCES [dbo].[PRODUCT_GRADE_TABLE] ([PRODUCT_GRADE_ID])
GO
ALTER TABLE [dbo].[PURCHASE_STOCK_TABLE] CHECK CONSTRAINT [FK_PURCHASE_STOCK_PRODUCT_GRADE]
GO
ALTER TABLE [dbo].[PURCHASE_STOCK_TABLE]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASE_STOCK_VEHICLE] FOREIGN KEY([VEHICLE_ID])
REFERENCES [dbo].[VEHICLE_TABLE] ([VEH_ID])
GO
ALTER TABLE [dbo].[PURCHASE_STOCK_TABLE] CHECK CONSTRAINT [FK_PURCHASE_STOCK_VEHICLE]
GO
ALTER TABLE [dbo].[REMAIN_PAYMENT_TABLE]  WITH CHECK ADD  CONSTRAINT [FK_REMAIN_PAYMENT_TABLE_BANK_TABLE] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER_TABLE] ([CUSTOMER_ID])
GO
ALTER TABLE [dbo].[REMAIN_PAYMENT_TABLE] CHECK CONSTRAINT [FK_REMAIN_PAYMENT_TABLE_BANK_TABLE]
GO
ALTER TABLE [dbo].[SALE_STOCK_TABLE]  WITH CHECK ADD  CONSTRAINT [FK_SALE_STOCK_TABLE_CUSTOMER_TABLE] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMER_TABLE] ([CUSTOMER_ID])
GO
ALTER TABLE [dbo].[SALE_STOCK_TABLE] CHECK CONSTRAINT [FK_SALE_STOCK_TABLE_CUSTOMER_TABLE]
GO
ALTER TABLE [dbo].[SALE_STOCK_TABLE]  WITH CHECK ADD  CONSTRAINT [FK_SALE_STOCK_TABLE_PRODUCT_TABLE] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[PRODUCT_TABLE] ([PRODUCT_ID])
GO
ALTER TABLE [dbo].[SALE_STOCK_TABLE] CHECK CONSTRAINT [FK_SALE_STOCK_TABLE_PRODUCT_TABLE]
GO
ALTER TABLE [dbo].[SALE_STOCK_TABLE]  WITH CHECK ADD  CONSTRAINT [FK_SALE_STOCK_TABLE_SAVE_INFORMATION_TABLE] FOREIGN KEY([INFORMATION_ID])
REFERENCES [dbo].[SAVE_INFORMATION_TABLE] ([INFORMATION_ID])
GO
ALTER TABLE [dbo].[SALE_STOCK_TABLE] CHECK CONSTRAINT [FK_SALE_STOCK_TABLE_SAVE_INFORMATION_TABLE]
GO
ALTER TABLE [dbo].[SALE_STOCK_TABLE]  WITH CHECK ADD  CONSTRAINT [FK_SALE_STOCK_TABLE_SAVE_INFORMATION_TABLE_FOR_REMAIN] FOREIGN KEY([REMAIN_INFORMATION_ID])
REFERENCES [dbo].[SAVE_INFORMATION_TABLE] ([INFORMATION_ID])
GO
ALTER TABLE [dbo].[SALE_STOCK_TABLE] CHECK CONSTRAINT [FK_SALE_STOCK_TABLE_SAVE_INFORMATION_TABLE_FOR_REMAIN]
GO
ALTER TABLE [dbo].[SAVE_INFORMATION_TABLE]  WITH CHECK ADD  CONSTRAINT [FK_SAVE_INFORMATION_TABLE_BANK_TABLE] FOREIGN KEY([BANK_ID])
REFERENCES [dbo].[BANK_TABLE] ([BANK_ID])
GO
ALTER TABLE [dbo].[SAVE_INFORMATION_TABLE] CHECK CONSTRAINT [FK_SAVE_INFORMATION_TABLE_BANK_TABLE]
GO
/****** Object:  StoredProcedure [dbo].[API_ALL_COUNTS]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[API_ALL_COUNTS]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        (SELECT COUNT(DISTINCT CUSTOMER_ID) FROM CUSTOMER_TABLE) AS TOTAL_CUSTOMERS,
        (SELECT SUM(BAGS) FROM PURCHASE_STOCK_TABLE) AS TOTAL_BAGS,
        (SELECT SUM(TOTAL_WEIGHT) FROM PURCHASE_STOCK_TABLE) AS TOTAL_WEIGHT,
        (SELECT SUM(TOTAL_PRICE) FROM PURCHASE_STOCK_TABLE) AS AMOUNT_OF_PURCHASED_STOCK,
        (SELECT COUNT(PUR_INV_ID) FROM PURCHASE_INVOICE_TABLE) AS TOTAL_PURCHASE_INVOICE,
        (SELECT SUM(TOTAL_PRICE) FROM PURCHASE_INVOICE_TABLE) AS AMOUNT_OF_PURCHASE_INVOICE,
        (SELECT COUNT(SLS_ID) FROM SALES_INVOICE_TABLE) AS TOTAL_SALES_INVOICE,
        (SELECT SUM(TOTAL_PRICE) FROM SALES_INVOICE_TABLE) AS AMOUNT_OF_SALES_INVOICE
END
GO
/****** Object:  StoredProcedure [dbo].[API_ALL_DROPDOWNS]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[API_ALL_DROPDOWNS]
AS
BEGIN
    -- Product Dropdown
    SELECT
        [PRODUCT_ID],
        [PRODUCT_NAME_IN_GUJARATI],
        [PRODUCT_NAME_IN_ENGLISH]
    FROM [dbo].[PRODUCT_TABLE];

    -- Product Grade Dropdown
    SELECT
        [PRODUCT_GRADE_ID],
        [PRODUCT_GRADE]
    FROM [dbo].[PRODUCT_GRADE_TABLE];

    -- Vehicle Dropdown
    SELECT
        [VEH_ID] AS VEHICLE_ID,
        [VEH_NAME] AS VEHICLE_NAME
    FROM [dbo].[VEHICLE_TABLE];
END;
GO
/****** Object:  StoredProcedure [dbo].[API_CHECK_CUSTOMER_INFO_BY_ID]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[API_CHECK_CUSTOMER_INFO_BY_ID]
@CUSTOMER_ID INT
AS
SELECT [dbo].[CUSTOMER_TABLE].[CUSTOMER_NAME],
	   [dbo].[CUSTOMER_TABLE].[CUSTOMER_TYPE],
	   [dbo].[CUSTOMER_TABLE].[CUSTOMER_CONTACT],
	   [dbo].[CUSTOMER_TABLE].[CUSTOMER_ADDRESS]
FROM [dbo].[CUSTOMER_TABLE]
WHERE [dbo].[CUSTOMER_TABLE].[CUSTOMER_ID] = @CUSTOMER_ID
GO
/****** Object:  StoredProcedure [dbo].[API_CUSTOMER_BY_PK]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[API_CUSTOMER_BY_PK]
@CUSTOMER_ID INT,
@CUSTOMER_TYPE VARCHAR(100)
AS
BEGIN
SELECT	[dbo].[CUSTOMER_TABLE].[CUSTOMER_ID],
		[dbo].[CUSTOMER_TABLE].[CUSTOMER_NAME],
		[dbo].[CUSTOMER_TABLE].[CUSTOMER_TYPE],
		[dbo].[CUSTOMER_TABLE].[CUSTOMER_CONTACT],
		[dbo].[CUSTOMER_TABLE].[CUSTOMER_ADDRESS],
		[dbo].[CUSTOMER_TABLE].[CUSTOMER_CREATE_DATE],
		[dbo].[CUSTOMER_TABLE].[CUSTOMER_UPDATE_DATE]

FROM [dbo].[CUSTOMER_TABLE]

WHERE [dbo].[CUSTOMER_TABLE].[CUSTOMER_ID] = @CUSTOMER_ID
 AND [dbo].[CUSTOMER_TABLE].[CUSTOMER_TYPE] = @CUSTOMER_TYPE

END;
GO
/****** Object:  StoredProcedure [dbo].[API_CUSTOMER_DELETE]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[API_CUSTOMER_DELETE]
@CUSTOMER_ID INT
AS
BEGIN
DELETE FROM [CUSTOMER_TABLE] 
WHERE [dbo].[CUSTOMER_TABLE].[CUSTOMER_ID] = @CUSTOMER_ID
END;
GO
/****** Object:  StoredProcedure [dbo].[API_CUSTOMER_EXIST_IN_SYSTEM]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[API_CUSTOMER_EXIST_IN_SYSTEM] 
	@CUSTOMER_NAME NVARCHAR
AS
BEGIN
	 SET NOCOUNT ON;

    SELECT TOP 5 
			[CUSTOMER_TABLE].[CUSTOMER_ID],
			[CUSTOMER_TABLE].[CUSTOMER_NAME],
			[CUSTOMER_TABLE].[CUSTOMER_TYPE],
			[CUSTOMER_TABLE].[CUSTOMER_CONTACT],
			[CUSTOMER_TABLE].[CUSTOMER_ADDRESS]

    FROM [dbo].[CUSTOMER_TABLE]

 

	 WHERE CUSTOMER_TABLE.CUSTOMER_NAME LIKE @CUSTOMER_NAME + '%';
END;
GO
/****** Object:  StoredProcedure [dbo].[API_CUSTOMER_EXIST_IN_SYSTEM_FOR_BUYER]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROC [dbo].[API_CUSTOMER_EXIST_IN_SYSTEM_FOR_BUYER] 
	@CUSTOMER_NAME NVARCHAR
AS
BEGIN
	 SET NOCOUNT ON;

    SELECT TOP 5 
			[CUSTOMER_TABLE].[CUSTOMER_ID],
			[CUSTOMER_TABLE].[CUSTOMER_NAME],
			[CUSTOMER_TABLE].[CUSTOMER_TYPE],
			[CUSTOMER_TABLE].[CUSTOMER_CONTACT],
			[CUSTOMER_TABLE].[CUSTOMER_ADDRESS]

    FROM [dbo].[CUSTOMER_TABLE]

 

	 WHERE CUSTOMER_TABLE.CUSTOMER_NAME LIKE @CUSTOMER_NAME + '%' AND CUSTOMER_TYPE = 'BUYER';
END;
GO
/****** Object:  StoredProcedure [dbo].[API_CUSTOMER_EXIST_IN_SYSTEM_FOR_SELLER]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROC [dbo].[API_CUSTOMER_EXIST_IN_SYSTEM_FOR_SELLER] 
	@CUSTOMER_NAME NVARCHAR
AS
BEGIN
	 SET NOCOUNT ON;

    SELECT TOP 5 
			[CUSTOMER_TABLE].[CUSTOMER_ID],
			[CUSTOMER_TABLE].[CUSTOMER_NAME],
			[CUSTOMER_TABLE].[CUSTOMER_TYPE],
			[CUSTOMER_TABLE].[CUSTOMER_CONTACT],
			[CUSTOMER_TABLE].[CUSTOMER_ADDRESS]

    FROM [dbo].[CUSTOMER_TABLE]

 

	 WHERE CUSTOMER_TABLE.CUSTOMER_NAME LIKE @CUSTOMER_NAME + '%' AND CUSTOMER_TYPE = 'SELLER';
END;
GO
/****** Object:  StoredProcedure [dbo].[API_CUSTOMER_INSERT]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[API_CUSTOMER_INSERT]
    @CUSTOMER_ID INT OUTPUT,
    @CUSTOMER_NAME NVARCHAR(255), -- Specify appropriate size
    @CUSTOMER_TYPE NVARCHAR(255), -- Specify appropriate size
    @CUSTOMER_CONTACT VARCHAR(10),
    @CUSTOMER_ADDRESS NVARCHAR(255), -- Specify appropriate size
    @CUSTOMER_CREATE DATE = NULL, -- Default to NULL and handle inside
    @CUSTOMER_UPDATE DATE = NULL -- Default to NULL and handle inside
AS
BEGIN
    SET NOCOUNT ON;

    -- Handle default date values
    IF @CUSTOMER_CREATE IS NULL
        SET @CUSTOMER_CREATE = GETDATE();
    IF @CUSTOMER_UPDATE IS NULL
        SET @CUSTOMER_UPDATE = GETDATE();

    INSERT INTO [dbo].[CUSTOMER_TABLE]
    (
        [CUSTOMER_NAME],
        [CUSTOMER_TYPE],
        [CUSTOMER_CONTACT],
        [CUSTOMER_ADDRESS],
        [CUSTOMER_CREATE_DATE],
        [CUSTOMER_UPDATE_DATE]
    )
    VALUES
    (
        @CUSTOMER_NAME,
        @CUSTOMER_TYPE,
        @CUSTOMER_CONTACT,
        @CUSTOMER_ADDRESS,
        @CUSTOMER_CREATE,
        @CUSTOMER_UPDATE
    );

    SET @CUSTOMER_ID = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[API_CUSTOMER_TYPES_LIST]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[API_CUSTOMER_TYPES_LIST]
AS
BEGIN

-- CREATE TEMP TABLE 
CREATE TABLE #CUSTOMER_TYPES 
(CUSTOMER_TYPE_ID VARCHAR(20) ,CUSTOMER_TYPE_NAME NVARCHAR(500))


-- INSERT TEMP TABLE
INSERT INTO #CUSTOMER_TYPES 
	([CUSTOMER_TYPE_ID],[CUSTOMER_TYPE_NAME])
	VALUES
	('CUST_TYPE-1','FARMER'),
	('CUST_TYPE-2','BUSINESSMAN'),
	('CUST_TYPE-3','SHOPKEEPER')

-- DISPLAY TEMP TABLE

SELECT * FROM [#CUSTOMER_TYPES]

END;
GO
/****** Object:  StoredProcedure [dbo].[API_CUSTOMER_UPDATE]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[API_CUSTOMER_UPDATE]
    @CUSTOMER_ID INT,
    @CUSTOMER_NAME NVARCHAR(255), -- Specify size
    @CUSTOMER_TYPE NVARCHAR(255), -- Specify size
    @CUSTOMER_CONTACT VARCHAR(10),
    @CUSTOMER_ADDRESS NVARCHAR(255), -- Specify size
    @CUSTOMER_UPDATE DATE = NULL -- Handle inside if needed
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if update date is provided, otherwise use current date
    IF @CUSTOMER_UPDATE IS NULL
        SET @CUSTOMER_UPDATE = GETDATE();

    UPDATE [dbo].[CUSTOMER_TABLE]
    SET 
        CUSTOMER_NAME        = @CUSTOMER_NAME,
        CUSTOMER_TYPE        = @CUSTOMER_TYPE,
        CUSTOMER_CONTACT     = @CUSTOMER_CONTACT,
        CUSTOMER_ADDRESS     = @CUSTOMER_ADDRESS,
        CUSTOMER_UPDATE_DATE = @CUSTOMER_UPDATE
    WHERE CUSTOMER_ID = @CUSTOMER_ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[API_DASHBOARD_ALL_COUNTS]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[API_DASHBOARD_ALL_COUNTS]
AS

CREATE TABLE #DashboardCounts (ItemName varchar(100), ActualCount int, TotalPrice decimal(10,2))

INSERT INTO #DashboardCounts
	SELECT 'PURCHASE_INVOICE',COUNT(*) ,SUM(TOTAL_PRICE) FROM [dbo].[PURCHASE_INVOICE_TABLE]

INSERT INTO #DashboardCounts
	SELECT 'SALE_INVOICE',COUNT(*),SUM(TOTAL_PRICE) FROM [dbo].[SALES_INVOICE_TABLE]

INSERT INTO #DashboardCounts	
	SELECT 'CUSTOMERS', COUNT(*) AS TOTAL_CUSTOMERS, 0 FROM [dbo].[CUSTOMER_TABLE]


INSERT INTO #DashboardCounts
SELECT 'TOTAL_PAYMENTS' ,COUNT(*) AS COMPLETE_PAYMENT , SUM(AMOUNT_PAID)  
FROM [dbo].[PAYMENT_TABLE]

INSERT INTO #DashboardCounts
	SELECT 'PAID_PAYMENTS', COUNT(*) AS TOTAL_PAYMENTS , SUM(AMOUNT_PAID) FROM [dbo].[PAYMENT_TABLE]
	INNER JOIN [dbo].[PURCHASE_STOCK_TABLE]
	ON 
	[dbo].[PAYMENT_TABLE].[STOCK_ID] = [dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_ID]
	WHERE 
	[dbo].[PURCHASE_STOCK_TABLE].[PAYMENT_STATUS] = 'PAID'


INSERT INTO #DashboardCounts
SELECT 'REMAIN_PAYMENTS',COUNT(*) AS REMAIN_PAYMENTS, SUM(REMAIN_AMOUNT)   FROM [dbo].[PAYMENT_TABLE] 
INNER JOIN [dbo].[PURCHASE_STOCK_TABLE]
ON 
[dbo].[PAYMENT_TABLE].[STOCK_ID] = [dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_ID]
WHERE 
[dbo].[PURCHASE_STOCK_TABLE].[PAYMENT_STATUS] = 'REMAIN'

INSERT INTO #DashboardCounts
SELECT 'PENDING_PAYMENTS' ,COUNT(*) AS PENDING_PAYMENTS , SUM(TOTAL_PRICE)  FROM [dbo].[PURCHASE_STOCK_TABLE] WHERE PURCHASE_STOCK_TABLE.PAYMENT_STATUS = 'PENDING'

INSERT INTO #DashboardCounts
SELECT 'PURCHASE_STOCK' , COUNT(*) AS TOTAL_PURCHASE, SUM(TOTAL_PRICE) FROM [dbo].[PURCHASE_STOCK_TABLE]

INSERT INTO #DashboardCounts
	SELECT 'TOTAL_BAGS', SUM(BAGS), 0 FROM [dbo].[PURCHASE_STOCK_TABLE]

INSERT INTO #DashboardCounts
	SELECT 'TOTAL_WEIGHT', SUM(TOTAL_WEIGHT), 0 FROM [dbo].[PURCHASE_STOCK_TABLE]	

SELECT * FROM #DashboardCounts







	
GO
/****** Object:  StoredProcedure [dbo].[API_DISPLAY_ALL_BANKS]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROC [dbo].[API_DISPLAY_ALL_BANKS]
AS
SELECT [BANK_ID]
      ,[BANK_NAME]
      ,[BANK_ICON]
  FROM [DB_STOCK_MANAGE_SYSTEM].[dbo].[BANK_TABLE]
GO
/****** Object:  StoredProcedure [dbo].[API_DISPLAY_ALL_CUSTOMER_LIST]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[API_DISPLAY_ALL_CUSTOMER_LIST]
AS
BEGIN
SELECT	[dbo].[CUSTOMER_TABLE].[CUSTOMER_ID],
		[dbo].[CUSTOMER_TABLE].[CUSTOMER_NAME],
		[dbo].[CUSTOMER_TABLE].[CUSTOMER_TYPE],
		[dbo].[CUSTOMER_TABLE].[CUSTOMER_CONTACT],
		[dbo].[CUSTOMER_TABLE].[CUSTOMER_ADDRESS],
		[dbo].[CUSTOMER_TABLE].[CUSTOMER_CREATE_DATE],
		[dbo].[CUSTOMER_TABLE].[CUSTOMER_UPDATE_DATE]

FROM [dbo].[CUSTOMER_TABLE]
END;
GO
/****** Object:  StoredProcedure [dbo].[API_DISPLAY_ALL_PAID_PAYMENTS_CUSTOMER_LIST]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[API_DISPLAY_ALL_PAID_PAYMENTS_CUSTOMER_LIST]
AS
  SELECT
        PT.PAYMENT_ID,
        PT.PAYMENT_DATE,
        CT.CUSTOMER_ID,
        CT.CUSTOMER_NAME,
        PRT.PRODUCT_ID,
        PRT.PRODUCT_NAME_IN_GUJARATI,
        PST.PUR_STOCK_ID,
        PST.TOTAL_PRICE,
        PT.AMOUNT_PAID,
        PT.PAYMENT_METHOD,
		PST.PAYMENT_STATUS,
        ISNULL(BT.BANK_ID, 0) AS BANK_ID,
        ISNULL(BT.BANK_NAME, '--') AS BANK_NAME,
        ISNULL(BT.BANK_ICON, '--') AS BANK_ICON,
        ISNULL(PT.BANK_AC_NO, '--') AS BANK_AC_NO,
        ISNULL(PT.CHEQ_NO, '--') AS CHEQ_NO,
        ISNULL(PT.RTGS_NO, '--') AS RTGS_NO,
        ISNULL(RPT.REMAIN_PAYMENT_ID,0) AS REMAIN_PAYMENT_ID,
        RPT.REMAIN_PAYMENT_DATE,
        ISNULL(RPT.REMAIN_PAYMENT_AMOUNT, 0) AS REMAIN_PAYMENT_AMOUNT,
        ISNULL(RPT.REMAIN_PAYMENT_METHOD,'--') AS REMAIN_PAYMENT_METHOD,
        ISNULL(RBT.BANK_ID, 0) AS REMAIN_BANK_ID,
        ISNULL(RBT.BANK_NAME, '--') AS REMAIN_BANK_NAME,
        ISNULL(RBT.BANK_ICON, '--') AS REMAIN_BANK_ICON,
        ISNULL(RPT.REMAIN_BANK_AC_NO, '--') AS REMAIN_BANK_AC_NO,
        ISNULL(RPT.REMAIN_CHEQ_NO,'--') AS REMAIN_CHEQ_NO,
        ISNULL(RPT.REMAIN_RTGS_NO,'--') AS REMAIN_RTGS_NO
    FROM [dbo].[PAYMENT_TABLE] PT
    INNER JOIN [dbo].[CUSTOMER_TABLE] CT ON PT.CUSTOMER_ID = CT.CUSTOMER_ID
    INNER JOIN [dbo].[PRODUCT_TABLE] PRT ON PT.PRODUCT_ID = PRT.PRODUCT_ID
    INNER JOIN [dbo].[PURCHASE_STOCK_TABLE] PST ON PT.STOCK_ID = PST.PUR_STOCK_ID
    LEFT JOIN [dbo].[BANK_TABLE] BT ON PT.BANK_ID = BT.BANK_ID
    LEFT JOIN [dbo].[REMAIN_PAYMENT_TABLE] RPT ON PT.PAYMENT_ID = RPT.PAYMENT_ID
    LEFT JOIN [dbo].[BANK_TABLE] RBT ON RPT.REMAIN_BANK_ID = RBT.BANK_ID
                                   AND RPT.REMAIN_PAYMENT_ID IS NOT NULL
   

   WHERE PST.PAYMENT_STATUS = 'PAID'


GO
/****** Object:  StoredProcedure [dbo].[API_DISPLAY_ALL_PAYMENT_INFO]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[API_DISPLAY_ALL_PAYMENT_INFO] 
    @Customer_ID INT,
    @Stock_ID INT
AS
BEGIN
    SELECT
        PT.PAYMENT_ID,
        PT.PAYMENT_DATE,
        CT.CUSTOMER_ID,
        CT.CUSTOMER_NAME,
        PRT.PRODUCT_ID,
        PRT.PRODUCT_NAME_IN_GUJARATI,
        PST.PUR_STOCK_ID,
        PST.TOTAL_PRICE,
        PT.AMOUNT_PAID,
        PT.PAYMENT_METHOD,
        ISNULL(BT.BANK_ID, 0) AS BANK_ID,
        ISNULL(BT.BANK_NAME, '--') AS BANK_NAME,
        ISNULL(BT.BANK_ICON, '--') AS BANK_ICON,
        ISNULL(PT.BANK_AC_NO, '--') AS BANK_AC_NO,
        ISNULL(PT.CHEQ_NO, '--') AS CHEQ_NO,
        ISNULL(PT.RTGS_NO, '--') AS RTGS_NO,
        ISNULL(RPT.REMAIN_PAYMENT_ID,0) AS REMAIN_PAYMENT_ID,
        RPT.REMAIN_PAYMENT_DATE,
        ISNULL(RPT.REMAIN_PAYMENT_AMOUNT, 0) AS REMAIN_PAYMENT_AMOUNT,
        ISNULL(RPT.REMAIN_PAYMENT_METHOD,'--') AS REMAIN_PAYMENT_METHOD,
        ISNULL(RBT.BANK_ID, 0) AS REMAIN_BANK_ID,
        ISNULL(RBT.BANK_NAME, '--') AS REMAIN_BANK_NAME,
        ISNULL(RBT.BANK_ICON, '--') AS REMAIN_BANK_ICON,
        ISNULL(RPT.REMAIN_BANK_AC_NO, '--') AS REMAIN_BANK_AC_NO,
        ISNULL(RPT.REMAIN_CHEQ_NO,'--') AS REMAIN_CHEQ_NO,
        ISNULL(RPT.REMAIN_RTGS_NO,'--') AS REMAIN_RTGS_NO
    FROM [dbo].[PAYMENT_TABLE] PT
    INNER JOIN [dbo].[CUSTOMER_TABLE] CT ON PT.CUSTOMER_ID = CT.CUSTOMER_ID
    INNER JOIN [dbo].[PRODUCT_TABLE] PRT ON PT.PRODUCT_ID = PRT.PRODUCT_ID
    INNER JOIN [dbo].[PURCHASE_STOCK_TABLE] PST ON PT.STOCK_ID = PST.PUR_STOCK_ID
    LEFT JOIN [dbo].[BANK_TABLE] BT ON PT.BANK_ID = BT.BANK_ID
    LEFT JOIN [dbo].[REMAIN_PAYMENT_TABLE] RPT ON PT.PAYMENT_ID = RPT.PAYMENT_ID
    LEFT JOIN [dbo].[BANK_TABLE] RBT ON RPT.REMAIN_BANK_ID = RBT.BANK_ID
                                   AND RPT.REMAIN_PAYMENT_ID IS NOT NULL
    WHERE
        CT.CUSTOMER_ID = @Customer_ID
        AND PST.PUR_STOCK_ID = @Stock_ID;
END
GO
/****** Object:  StoredProcedure [dbo].[API_DISPLAY_ALL_PAYMENTS]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[API_DISPLAY_ALL_PAYMENTS]
AS
SELECT 
[dbo].[PAYMENT_TABLE].[PAYMENT_ID],
[dbo].[PAYMENT_TABLE].[PAYMENT_DATE],
[dbo].[CUSTOMER_TABLE].[CUSTOMER_ID],
[dbo].[CUSTOMER_TABLE].[CUSTOMER_NAME],
[dbo].[CUSTOMER_TABLE].[CUSTOMER_TYPE],
[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_ID],
[dbo].[PRODUCT_TABLE].[PRODUCT_ID],
[dbo].[PRODUCT_TABLE].[PRODUCT_NAME_IN_GUJARATI],
[dbo].[PURCHASE_STOCK_TABLE].[TOTAL_PRICE],
[dbo].[PAYMENT_TABLE].[REMAIN_AMOUNT],
[dbo].[PAYMENT_TABLE].[PAYMENT_METHOD],
[dbo].[PURCHASE_STOCK_TABLE].[PAYMENT_STATUS]

FROM PAYMENT_TABLE

INNER JOIN [dbo].[CUSTOMER_TABLE] ON [dbo].[CUSTOMER_TABLE].[CUSTOMER_ID] = [dbo].[PAYMENT_TABLE].[CUSTOMER_ID]
INNER JOIN [dbo].[PRODUCT_TABLE] ON [dbo].[PRODUCT_TABLE].[PRODUCT_ID] = [dbo].[PAYMENT_TABLE].[PRODUCT_ID]
INNER JOIN [dbo].[PURCHASE_STOCK_TABLE] ON [dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_ID] = [dbo].[PAYMENT_TABLE].[STOCK_ID]
GO
/****** Object:  StoredProcedure [dbo].[API_DISPLAY_ALL_PENDING_PAYMENTS_CUSTOMERS_LIST]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROC [dbo].[API_DISPLAY_ALL_PENDING_PAYMENTS_CUSTOMERS_LIST]
AS
BEGIN

SELECT 
	[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_ID] AS STOCK_ID,
	[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_DATE] AS STOCK_DATE,
	[dbo].[CUSTOMER_TABLE].[CUSTOMER_ID],
	[dbo].[CUSTOMER_TABLE].[CUSTOMER_NAME],
	[dbo].[PRODUCT_TABLE].[PRODUCT_ID],
	[dbo].[PRODUCT_TABLE].[PRODUCT_NAME_IN_GUJARATI] AS [PRODUCT_NAME],
	[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_LOCATION] AS [LOCATION],
	[dbo].[PURCHASE_STOCK_TABLE].[TOTAL_PRICE],
	[dbo].[PURCHASE_STOCK_TABLE].[PAYMENT_STATUS]

FROM [dbo].[PURCHASE_STOCK_TABLE]

INNER JOIN [dbo].[CUSTOMER_TABLE]
ON [dbo].[PURCHASE_STOCK_TABLE].[CUSTOMER_ID] = [dbo].[CUSTOMER_TABLE].[CUSTOMER_ID]

INNER JOIN [dbo].[PRODUCT_TABLE]
ON [dbo].[PURCHASE_STOCK_TABLE].[PRODUCT_ID] = [dbo].[PRODUCT_TABLE].[PRODUCT_ID]
	
	WHERE [dbo].[PURCHASE_STOCK_TABLE].[PAYMENT_STATUS]  = 'PENDING'

	ORDER BY STOCK_DATE DESC

END;
GO
/****** Object:  StoredProcedure [dbo].[API_DISPLAY_ALL_PRODUCT_NAME]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[API_DISPLAY_ALL_PRODUCT_NAME]
AS
BEGIN
SELECT 
		[dbo].[PRODUCT_TABLE].[PRODUCT_ID],
		[dbo].[PRODUCT_TABLE].[PRODUCT_NAME_IN_GUJARATI],
		[dbo].[PRODUCT_TABLE].[PRODUCT_NAME_IN_ENGLISH]
		
FROM [PRODUCT_TABLE]

END;
GO
/****** Object:  StoredProcedure [dbo].[API_DISPLAY_ALL_PURCHASE_INVOICE]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[API_DISPLAY_ALL_PURCHASE_INVOICE]
AS
BEGIN
    SELECT
        [PUR_INV_ID] AS INVOICE_ID,
        [PUR_INV_DATE] AS INVOICE_DATE,
        [CUSTOMER_NAME],
        [dbo].[PRODUCT_TABLE].[PRODUCT_ID],
        [PRODUCT_NAME_IN_GUJARATI],
        COALESCE([PRODUCT_GRADE], '--') AS PRODUCT_GRADE,
        COALESCE(CONVERT(NVARCHAR(50), [BAGS]), '--') AS [BAGS],
        COALESCE(CONVERT(NVARCHAR(50), [BAG_PER_KG]), '--') AS [BAG_PER_KG],
        [TOTAL_WEIGHT],
        [PRODUCT_PRICE],
        [TOTAL_PRICE],
        [VEH_ID] AS VEHICLE_ID,
        [VEH_NAME] AS VEHICLE_NAME,
        [VEHICLE_NO],
        [DRIVER_NAME],
        [TOLAT_NAME]
    FROM [PURCHASE_INVOICE_TABLE]
    INNER JOIN [PRODUCT_TABLE] ON [PRODUCT_TABLE].[PRODUCT_ID] = [PURCHASE_INVOICE_TABLE].[PRODUCT_ID]
    LEFT JOIN [PRODUCT_GRADE_TABLE] ON [PRODUCT_GRADE_TABLE].[PRODUCT_GRADE_ID] = [PURCHASE_INVOICE_TABLE].[PRODUCT_GRADE_ID]
    INNER JOIN [VEHICLE_TABLE] ON [VEHICLE_TABLE].[VEH_ID] = [PURCHASE_INVOICE_TABLE].[VEHICLE_ID]

	ORDER BY PUR_INV_DATE DESC
	

END;
GO
/****** Object:  StoredProcedure [dbo].[API_DISPLAY_ALL_PURCHASE_STOCK]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[API_DISPLAY_ALL_PURCHASE_STOCK]
AS
BEGIN
SELECT
	[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_ID] AS [STOCK_ID],
	[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_DATE],
	[dbo].[CUSTOMER_TABLE].[CUSTOMER_ID],
	[dbo].[CUSTOMER_TABLE].[CUSTOMER_NAME],
	[dbo].[CUSTOMER_TABLE].[CUSTOMER_TYPE],
	[dbo].[PRODUCT_TABLE].[PRODUCT_ID] AS [PRODUCT_ID],
	[dbo].[PRODUCT_TABLE].[PRODUCT_NAME_IN_GUJARATI] AS [PRODUCT_NAME],
	ISNULL([dbo].[PRODUCT_GRADE_TABLE].[PRODUCT_GRADE_ID], 0) AS [PRODUCT_GRADE_ID],
	COALESCE(CONVERT(VARCHAR,[dbo].[PRODUCT_GRADE_TABLE].[PRODUCT_GRADE]),'--') AS [PRODUCT_GRADE],
	[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_LOCATION] AS [LOCATION],
	COALESCE(CONVERT(DECIMAL,[dbo].[PURCHASE_STOCK_TABLE].[BAGS]),'--') AS [BAGS],
	COALESCE(CONVERT(DECIMAL,[dbo].[PURCHASE_STOCK_TABLE].[BAG_PER_KG]),'--') AS [BAG_PER_KG],
	[dbo].[PURCHASE_STOCK_TABLE].[TOTAL_WEIGHT],
	[dbo].[PURCHASE_STOCK_TABLE].[PRODUCT_PRICE],
	[dbo].[PURCHASE_STOCK_TABLE].[TOTAL_PRICE],
	[dbo].[VEHICLE_TABLE].[VEH_ID] AS [VEHICLE_ID],
	[dbo].[VEHICLE_TABLE].[VEH_NAME] AS [VEHICLE_NAME],
	[dbo].[PURCHASE_STOCK_TABLE].[VEHICLE_NO],
	[dbo].[PURCHASE_STOCK_TABLE].[DRIVER_NAME],
	[dbo].[PURCHASE_STOCK_TABLE].[TOLAT_NAME],
	COALESCE(CONVERT(VARCHAR, [dbo].[PURCHASE_STOCK_TABLE].[PAYMENT_STATUS]), 'PENDING') AS [PAYMENT- STATUS]
FROM [dbo].[PURCHASE_STOCK_TABLE]

-- INNER JOIN APPLY

INNER JOIN [dbo].[CUSTOMER_TABLE]
ON [dbo].[CUSTOMER_TABLE].[CUSTOMER_ID] = [dbo].[PURCHASE_STOCK_TABLE].[CUSTOMER_ID]

INNER JOIN [dbo].[PRODUCT_TABLE]
ON [dbo].[PRODUCT_TABLE].[PRODUCT_ID] = [dbo].[PURCHASE_STOCK_TABLE].[PRODUCT_ID]


INNER JOIN [dbo].[PRODUCT_GRADE_TABLE]
ON [dbo].[PRODUCT_GRADE_TABLE].[PRODUCT_GRADE_ID] = [dbo].[PURCHASE_STOCK_TABLE].[PRODUCT_GRADE_ID]

INNER JOIN [dbo].[VEHICLE_TABLE]
ON [dbo].[VEHICLE_TABLE].[VEH_ID] = [dbo].[PURCHASE_STOCK_TABLE].[VEHICLE_ID]


ORDER BY PUR_STOCK_DATE DESC

END;
GO
/****** Object:  StoredProcedure [dbo].[API_DISPLAY_ALL_REMAIN_PAYMENTS_CUSTOMER_LIST]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[API_DISPLAY_ALL_REMAIN_PAYMENTS_CUSTOMER_LIST]
AS
SELECT 
	[dbo].[PAYMENT_TABLE].[PAYMENT_ID],
	[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_ID] AS [STOCK_ID],
	[dbo].[PAYMENT_TABLE].[PAYMENT_DATE],
	[dbo].[CUSTOMER_TABLE].[CUSTOMER_ID],
	[dbo].[CUSTOMER_TABLE].[CUSTOMER_NAME],
	[dbo].[PRODUCT_TABLE].[PRODUCT_ID],
	[dbo].[PRODUCT_TABLE].[PRODUCT_NAME_IN_GUJARATI],
	[dbo].[PURCHASE_STOCK_TABLE].[TOTAL_PRICE],
	[dbo].[PAYMENT_TABLE].[AMOUNT_PAID],
	[dbo].[PAYMENT_TABLE].[PAYMENT_METHOD],
	[dbo].[PURCHASE_STOCK_TABLE].[PAYMENT_STATUS]

FROM [dbo].[PAYMENT_TABLE]

INNER JOIN [dbo].[CUSTOMER_TABLE]
ON [dbo].[PAYMENT_TABLE].[CUSTOMER_ID] = [dbo].[CUSTOMER_TABLE].[CUSTOMER_ID]

INNER JOIN [dbo].[PRODUCT_TABLE]
ON [dbo].[PAYMENT_TABLE].[PRODUCT_ID] = [dbo].[PRODUCT_TABLE].[PRODUCT_ID]

INNER JOIN [dbo].[PURCHASE_STOCK_TABLE]
ON [dbo].[PAYMENT_TABLE].[STOCK_ID] = [dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_ID]
	
WHERE [dbo].[PURCHASE_STOCK_TABLE].[PAYMENT_STATUS]  = 'REMAIN'

	ORDER BY PAYMENT_DATE DESC


GO
/****** Object:  StoredProcedure [dbo].[API_DISPLAY_ALL_SALES]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[API_DISPLAY_ALL_SALES]
AS
SELECT [dbo].[SALE_STOCK_TABLE].[SALE_STOCK_ID],
	   [dbo].[SALE_STOCK_TABLE].[SALE_STOCK_DATE],
	   [dbo].[CUSTOMER_TABLE].[CUSTOMER_ID],
	   [dbo].[CUSTOMER_TABLE].[CUSTOMER_NAME],
	   [dbo].[CUSTOMER_TABLE].[CUSTOMER_TYPE],
	   [dbo].[PRODUCT_TABLE].[PRODUCT_ID],
	   [dbo].[PRODUCT_TABLE].[PRODUCT_NAME_IN_ENGLISH],
	   [dbo].[SALE_STOCK_TABLE].[PRODUCT_BRAND_NAME],
	  COALESCE(CONVERT(DECIMAL,[dbo].[SALE_STOCK_TABLE].[BAGS]),'--') AS [BAGS],
	  COALESCE(CONVERT(DECIMAL,[dbo].[SALE_STOCK_TABLE].[BAG_PER_KG]),'--') AS [BAG_PER_KG],
	  [dbo].[SALE_STOCK_TABLE].[RATE],
	  [dbo].[SALE_STOCK_TABLE].[TOTAL_WEIGHT],
	  [dbo].[SALE_STOCK_TABLE].[TOTAL_AMOUNT],
	  [dbo].[SALE_STOCK_TABLE].[RECEIVE_AMOUNT],
	  COALESCE(CONVERT(DECIMAL,[dbo].[SALE_STOCK_TABLE].[DISCOUNT]),'--') AS [DISCOUNT],
	  [dbo].[SALE_STOCK_TABLE].[IS_FULL_AMOUNT_RECEIVE]

	   FROM [dbo].[SALE_STOCK_TABLE]

INNER JOIN [dbo].[CUSTOMER_TABLE]
ON [dbo].[CUSTOMER_TABLE].[CUSTOMER_ID] = [dbo].[SALE_STOCK_TABLE].[CUSTOMER_ID]

INNER JOIN [dbo].[PRODUCT_TABLE]
ON [dbo].[PRODUCT_TABLE].[PRODUCT_ID] = [dbo].[SALE_STOCK_TABLE].[PRODUCT_ID]

GO
/****** Object:  StoredProcedure [dbo].[API_DISPLAY_ALL_SALES_INVOICE]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[API_DISPLAY_ALL_SALES_INVOICE]
AS
BEGIN
SELECT
		 
		[dbo].[SALES_INVOICE_TABLE].[SLS_ID] AS INVOICE_ID,
		[dbo].[SALES_INVOICE_TABLE].[SLS_DATE] AS INVOICE_DATE,
		[dbo].[SALES_INVOICE_TABLE].[INVOICE_TYPE],
		[dbo].[SALES_INVOICE_TABLE].[BROKER_NAME],
		[dbo].[SALES_INVOICE_TABLE].[PARTY_NAME],
		COALESCE(CONVERT(VARCHAR,[dbo].[SALES_INVOICE_TABLE].[PARTY_GSTNO]),'--') AS [PARTY_GSTNO],
		[dbo].[SALES_INVOICE_TABLE].[PARTY_ADDRESS],
		[dbo].[PRODUCT_TABLE].[PRODUCT_ID],
		[dbo].[PRODUCT_TABLE].[PRODUCT_NAME_IN_ENGLISH],
		[dbo].[SALES_INVOICE_TABLE].[PRODUCT_BRAND_NAME],
		COALESCE(CONVERT(VARCHAR,[dbo].[SALES_INVOICE_TABLE].[BAGS]),'--') AS [BAGS],
		COALESCE(CONVERT(VARCHAR,[dbo].[SALES_INVOICE_TABLE].[BAG_PER_KG]),'--') AS [BAG_PER_KG],
		[dbo].[SALES_INVOICE_TABLE].[TOTAL_WEIGHT],
		[dbo].[SALES_INVOICE_TABLE].[PRODUCT_PRICE],
		COALESCE(CONVERT(VARCHAR,[dbo].[SALES_INVOICE_TABLE].[SGST]),'--') AS [SGST],
		COALESCE(CONVERT(VARCHAR,[dbo].[SALES_INVOICE_TABLE].[CGST]),'--') AS [CGST],
		COALESCE(CONVERT(VARCHAR,[dbo].[SALES_INVOICE_TABLE].[TOTAL_SGST_PRICE]),'--') AS [TOTAL_SGST_PRICE],
		COALESCE(CONVERT(VARCHAR,[dbo].[SALES_INVOICE_TABLE].[TOTAL_CGST_PRICE]),'--') AS [TOTAL_CGST_PRICE],
		[dbo].[SALES_INVOICE_TABLE].[WITHOUT_GST_PRICE],
		[dbo].[SALES_INVOICE_TABLE].[TOTAL_PRICE],
		[dbo].[VEHICLE_TABLE].[VEH_ID] AS VEHICLE_ID,
		[dbo].[VEHICLE_TABLE].[VEH_NAME] AS VEHICLE_NAME,
		[dbo].[SALES_INVOICE_TABLE].[VEHICLE_NO],
		[dbo].[SALES_INVOICE_TABLE].[DRIVER_NAME],
		COALESCE(CONVERT(VARCHAR, [dbo].[SALES_INVOICE_TABLE].[CONTAINER_NO]), '--') AS [CONTAINER_NO]

FROM [dbo].[SALES_INVOICE_TABLE]

-- INNER JOIN APPLY


INNER JOIN [dbo].[PRODUCT_TABLE]
ON [dbo].[PRODUCT_TABLE].[PRODUCT_ID] = [dbo].[SALES_INVOICE_TABLE].[PRODUCT_ID]

INNER JOIN [dbo].[VEHICLE_TABLE]
ON [dbo].[VEHICLE_TABLE].[VEH_ID] = [dbo].[SALES_INVOICE_TABLE].[VEHICLE_ID]
END;
GO
/****** Object:  StoredProcedure [dbo].[API_DISPLAY_ALL_SAVE_INFORMATION]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[API_DISPLAY_ALL_SAVE_INFORMATION]
AS
SELECT	
	[dbo].[SAVE_INFORMATION_TABLE].[INFORMATION_ID],
	[dbo].[SAVE_INFORMATION_TABLE].[BANK_ACCOUNT_HOLDER_NAME],
	[dbo].[BANK_TABLE].[BANK_NAME],
	[dbo].[BANK_TABLE].[BANK_ICON]

	FROM [dbo].[SAVE_INFORMATION_TABLE]

INNER JOIN [dbo].[BANK_TABLE]
ON [dbo].[SAVE_INFORMATION_TABLE].[BANK_ID] = [dbo].[BANK_TABLE].[BANK_ID]
GO
/****** Object:  StoredProcedure [dbo].[API_DISPLAY_PURCHASE_STOCK_BY_CUSTOMER_ID]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- OTHER PROC 

CREATE   PROC [dbo].[API_DISPLAY_PURCHASE_STOCK_BY_CUSTOMER_ID]
@CUSTOMER_ID INT
AS
BEGIN
	SELECT
	[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_DATE],
	[dbo].[CUSTOMER_TABLE].[CUSTOMER_NAME],
	[dbo].[CUSTOMER_TABLE].[CUSTOMER_TYPE],
	[dbo].[PRODUCT_TABLE].[PRODUCT_NAME_IN_GUJARATI] AS [PRODUCT_NAME],
	COALESCE(CONVERT(VARCHAR,[dbo].[PRODUCT_GRADE_TABLE].[PRODUCT_GRADE]),'--') AS [PRODUCT_GRADE],
	[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_LOCATION] AS [LOCATION],
	COALESCE(CONVERT(DECIMAL,[dbo].[PURCHASE_STOCK_TABLE].[BAGS]),'--') AS [BAGS],
	COALESCE(CONVERT(DECIMAL,[dbo].[PURCHASE_STOCK_TABLE].[BAG_PER_KG]),'--') AS [BAG_PER_KG],
	[dbo].[PURCHASE_STOCK_TABLE].[TOTAL_WEIGHT],
	[dbo].[PURCHASE_STOCK_TABLE].[PRODUCT_PRICE],
	[dbo].[PURCHASE_STOCK_TABLE].[TOTAL_PRICE],
	[dbo].[VEHICLE_TABLE].[VEH_NAME] AS [VEHICLE_NAME],
	[dbo].[PURCHASE_STOCK_TABLE].[VEHICLE_NO],
	[dbo].[PURCHASE_STOCK_TABLE].[DRIVER_NAME],
	[dbo].[PURCHASE_STOCK_TABLE].[TOLAT_NAME],
	COALESCE(CONVERT(VARCHAR, [dbo].[PURCHASE_STOCK_TABLE].[PAYMENT_STATUS]), 'PENDING') AS [PAYMENT- STATUS]
FROM [dbo].[PURCHASE_STOCK_TABLE]
-- INNER JOIN APPLY

INNER JOIN [dbo].[CUSTOMER_TABLE]
ON [dbo].[CUSTOMER_TABLE].[CUSTOMER_ID] = [dbo].[PURCHASE_STOCK_TABLE].[CUSTOMER_ID]

INNER JOIN [dbo].[PRODUCT_TABLE]
ON [dbo].[PRODUCT_TABLE].[PRODUCT_ID] = [dbo].[PURCHASE_STOCK_TABLE].[PRODUCT_ID]


INNER JOIN [dbo].[PRODUCT_GRADE_TABLE]
ON [dbo].[PRODUCT_GRADE_TABLE].[PRODUCT_GRADE_ID] = [dbo].[PURCHASE_STOCK_TABLE].[PRODUCT_GRADE_ID]

INNER JOIN [dbo].[VEHICLE_TABLE]
ON [dbo].[VEHICLE_TABLE].[VEH_ID] = [dbo].[PURCHASE_STOCK_TABLE].[VEHICLE_ID]


WHERE [dbo].[PURCHASE_STOCK_TABLE].[CUSTOMER_ID] = @CUSTOMER_ID

END;
GO
/****** Object:  StoredProcedure [dbo].[API_DISPLAY_RECENT_ACTIONS]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[API_DISPLAY_RECENT_ACTIONS]
AS
BEGIN
SELECT [dbo].[RECENT_ACTIONS_TABLE].[REC_ACT_ID],
       [dbo].[RECENT_ACTIONS_TABLE].[REC_ACT_TABLE_NAME],
       [dbo].[RECENT_ACTIONS_TABLE].[RECT_ACT_INFO],
       [dbo].[RECENT_ACTIONS_TABLE].[RECT_ACT_CREATE]
FROM [dbo].[RECENT_ACTIONS_TABLE]
ORDER BY [dbo].[RECENT_ACTIONS_TABLE].[RECT_ACT_CREATE] DESC;


END;
GO
/****** Object:  StoredProcedure [dbo].[API_DISPLAY_SAVE_INFORMATION_BY_ID]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[API_DISPLAY_SAVE_INFORMATION_BY_ID]
@Information_ID int
AS
SELECT	
	[dbo].[SAVE_INFORMATION_TABLE].[INFORMATION_ID],
	[dbo].[SAVE_INFORMATION_TABLE].[BANK_ACCOUNT_NO],
	[dbo].[SAVE_INFORMATION_TABLE].[BANK_IFSC_CODE],
	[dbo].[SAVE_INFORMATION_TABLE].[BANK_ACCOUNT_HOLDER_NAME],
	[dbo].[BANK_TABLE].[BANK_ID],
	[dbo].[BANK_TABLE].[BANK_NAME],
	[dbo].[BANK_TABLE].[BANK_ICON]
	

	FROM [dbo].[SAVE_INFORMATION_TABLE]

INNER JOIN [dbo].[BANK_TABLE]
ON [dbo].[SAVE_INFORMATION_TABLE].[BANK_ID] = [dbo].[BANK_TABLE].[BANK_ID]

WHERE [dbo].[SAVE_INFORMATION_TABLE].[INFORMATION_ID] = @Information_ID
GO
/****** Object:  StoredProcedure [dbo].[API_DROPDOWN_FOR_OUR_BANKS]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[API_DROPDOWN_FOR_OUR_BANKS]
AS
SELECT 
	[dbo].[SAVE_INFORMATION_TABLE].[INFORMATION_ID],
	[dbo].[BANK_TABLE].[BANK_ID],
	[dbo].[BANK_TABLE].[BANK_ICON],
	[dbo].[SAVE_INFORMATION_TABLE].[BANK_ACCOUNT_NO]

	FROM [SAVE_INFORMATION_TABLE] 
INNER JOIN BANK_TABLE ON 
	[dbo].[SAVE_INFORMATION_TABLE].[BANK_ID] = [dbo].[BANK_TABLE].[BANK_ID]
GO
/****** Object:  StoredProcedure [dbo].[API_DROPDOWN_PRODUCT]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[API_DROPDOWN_PRODUCT]
AS
BEGIN
SELECT	
		[dbo].[PRODUCT_TABLE].[PRODUCT_ID],
		[dbo].[PRODUCT_TABLE].[PRODUCT_NAME_IN_GUJARATI],
		[dbo].[PRODUCT_TABLE].[PRODUCT_NAME_IN_ENGLISH]
FROM [dbo].[PRODUCT_TABLE]
END;
GO
/****** Object:  StoredProcedure [dbo].[API_DROPDOWN_PRODUCT_GRADES]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[API_DROPDOWN_PRODUCT_GRADES]
AS
BEGIN 
SELECT 
	[dbo].[PRODUCT_GRADE_TABLE].[PRODUCT_GRADE_ID],
	[dbo].[PRODUCT_GRADE_TABLE].[PRODUCT_GRADE]

FROM [dbo].[PRODUCT_GRADE_TABLE]

END;
GO
/****** Object:  StoredProcedure [dbo].[API_DROPDOWN_VEHICLE]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[API_DROPDOWN_VEHICLE]
AS
BEGIN 
SELECT 
	[dbo].[VEHICLE_TABLE].[VEH_ID],
	[dbo].[VEHICLE_TABLE].[VEH_NAME] AS [VEHICLE_NAME]

FROM [dbo].[VEHICLE_TABLE]

END;
GO
/****** Object:  StoredProcedure [dbo].[API_FETCH_PURCHASE_STOCK_AND_CUSTOMER_DETAILS_BY_STOCK_AND_CUSTOMER_ID]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[API_FETCH_PURCHASE_STOCK_AND_CUSTOMER_DETAILS_BY_STOCK_AND_CUSTOMER_ID] 
@STOCK_ID INT,
@CUSTOMER_ID INT
AS
SELECT
	[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_ID] AS [STOCK_ID],
	[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_DATE],
	[dbo].[CUSTOMER_TABLE].[CUSTOMER_ID],
	[dbo].[CUSTOMER_TABLE].[CUSTOMER_NAME],
	[dbo].[CUSTOMER_TABLE].[CUSTOMER_TYPE],
	[dbo].[CUSTOMER_TABLE].[CUSTOMER_CONTACT],
	[dbo].[CUSTOMER_TABLE].[CUSTOMER_ADDRESS],
	[dbo].[PRODUCT_TABLE].[PRODUCT_ID] AS [PRODUCT_ID],
	ISNULL([dbo].[PRODUCT_GRADE_TABLE].[PRODUCT_GRADE_ID], 0) AS [PRODUCT_GRADE_ID],
	[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_LOCATION] AS [LOCATION],
	COALESCE(CONVERT(DECIMAL,[dbo].[PURCHASE_STOCK_TABLE].[BAGS]),'--') AS [BAGS],
	COALESCE(CONVERT(DECIMAL,[dbo].[PURCHASE_STOCK_TABLE].[BAG_PER_KG]),'--') AS [BAG_PER_KG],
	[dbo].[PURCHASE_STOCK_TABLE].[TOTAL_WEIGHT],
	[dbo].[PURCHASE_STOCK_TABLE].[PRODUCT_PRICE],
	[dbo].[PURCHASE_STOCK_TABLE].[TOTAL_PRICE],
	[dbo].[VEHICLE_TABLE].[VEH_ID] AS [VEHICLE_ID],
	[dbo].[PURCHASE_STOCK_TABLE].[VEHICLE_NO],
	[dbo].[PURCHASE_STOCK_TABLE].[DRIVER_NAME],
	[dbo].[PURCHASE_STOCK_TABLE].[TOLAT_NAME],
	[dbo].[PURCHASE_STOCK_TABLE].[PAYMENT_STATUS]
FROM [dbo].[PURCHASE_STOCK_TABLE]

-- INNER JOIN APPLY

INNER JOIN [dbo].[CUSTOMER_TABLE]
ON [dbo].[CUSTOMER_TABLE].[CUSTOMER_ID] = [dbo].[PURCHASE_STOCK_TABLE].[CUSTOMER_ID]

INNER JOIN [dbo].[PRODUCT_TABLE]
ON [dbo].[PRODUCT_TABLE].[PRODUCT_ID] = [dbo].[PURCHASE_STOCK_TABLE].[PRODUCT_ID]


INNER JOIN [dbo].[PRODUCT_GRADE_TABLE]
ON [dbo].[PRODUCT_GRADE_TABLE].[PRODUCT_GRADE_ID] = [dbo].[PURCHASE_STOCK_TABLE].[PRODUCT_GRADE_ID]

INNER JOIN [dbo].[VEHICLE_TABLE]
ON [dbo].[VEHICLE_TABLE].[VEH_ID] = [dbo].[PURCHASE_STOCK_TABLE].[VEHICLE_ID]

WHERE [dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_ID] = @STOCK_ID AND 
	  [dbo].[CUSTOMER_TABLE].[CUSTOMER_ID] = @CUSTOMER_ID



	  
	  
GO
/****** Object:  StoredProcedure [dbo].[API_INSERT_PAYMENT]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[API_INSERT_PAYMENT]
@PaymentDate datetime,
@CustomerID int,
@ProductID int,
@StockID int,
@PaidAmount decimal(10,2),
@RemainAmount decimal(10,2),
@PaymentMethod varchar(200),
@BankID int = NULL, -- Optional parameters, default to NULL
@Bank_AC_No varchar(12) = NULL,
@CHEQ_No varchar(10) = NULL,
@RTGS_No varchar(8) = NULL
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Conditional logic for payment method
        IF @PaymentMethod = 'CASH'
        BEGIN
            SET @BankID = NULL;
            SET @Bank_AC_No = '--';
            SET @CHEQ_No = '--';
            SET @RTGS_No = '--';
        END
        ELSE IF @PaymentMethod = 'BANK'
        BEGIN
            SET @CHEQ_No = '--';
            SET @RTGS_No = '--';
        END
        ELSE IF @PaymentMethod = 'CHEQ'
        BEGIN
            SET @RTGS_No = '--';
        END
        ELSE IF @PaymentMethod = 'RTGS'
        BEGIN
            SET @CHEQ_No = '--';
        END

        -- Insertion into PAYMENT_TABLE
        INSERT INTO PAYMENT_TABLE
        (
            [PAYMENT_DATE],
            [CUSTOMER_ID],
            [PRODUCT_ID],
            [STOCK_ID],
            [AMOUNT_PAID],
            [REMAIN_AMOUNT],
            [PAYMENT_METHOD],
            [BANK_ID],
            [BANK_AC_NO],
            [CHEQ_NO],
            [RTGS_NO]
        )
        VALUES
        (
            @PaymentDate,
            @CustomerID,
            @ProductID,
            @StockID,
            @PaidAmount,
            @RemainAmount,
            @PaymentMethod,
            @BankID,
            @Bank_AC_No,
            @CHEQ_No,
            @RTGS_No
        )

        -- Update payment status in PURCHASE_STOCK_TABLE
        DECLARE @TotalPrice DECIMAL(10,2);
        SELECT @TotalPrice = TOTAL_PRICE FROM PURCHASE_STOCK_TABLE WHERE PUR_STOCK_ID = @StockID; 

       IF @RemainAmount = 0
    BEGIN
        UPDATE PURCHASE_STOCK_TABLE SET PAYMENT_STATUS = 'PAID' WHERE PUR_STOCK_ID = @StockID;
    END
    ELSE IF @RemainAmount > 0 AND @RemainAmount < @TotalPrice
    BEGIN
        UPDATE PURCHASE_STOCK_TABLE SET PAYMENT_STATUS = 'REMAIN' WHERE PUR_STOCK_ID = @StockID;
    END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        -- Here, you might want to handle the error, e.g., logging it or notifying someone.
    END CATCH
END


  
GO
/****** Object:  StoredProcedure [dbo].[API_INSERT_REMAIN_PAYMENT]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROC [dbo].[API_INSERT_REMAIN_PAYMENT]


@PaymentID int,
@StockID int,
@CustomerID int,
@Remain_PaymentDate datetime,
@Remain_PayingAmount decimal(10,2),
@Remain_PaymentMethod varchar(200),
@Remain_BankID int = NULL,
@Remain_Bank_AC_No varchar(12) = NULL,
@Remain_CHEQ_No varchar(10) = NULL,
@Remain_RTGS_No varchar(8) = NULL
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Conditional logic for payment method
        IF @Remain_PaymentMethod = 'CASH'
        BEGIN
            SET @Remain_BankID = 0;
            SET @Remain_Bank_AC_No = '--';
            SET @Remain_CHEQ_No = '--';
            SET @Remain_RTGS_No = '--';
        END
        ELSE IF @Remain_PaymentMethod = 'BANK'
        BEGIN
            SET @Remain_CHEQ_No = '--';
            SET @Remain_RTGS_No = '--';
        END
        ELSE IF @Remain_PaymentMethod = 'CHEQ'
        BEGIN
            SET @Remain_RTGS_No = '--';
        END
        ELSE IF @Remain_PaymentMethod = 'RTGS'
        BEGIN
            SET @Remain_CHEQ_No = '--';
        END

        -- Insertion into PAYMENT_TABLE
        INSERT INTO REMAIN_PAYMENT_TABLE
        (
            [PAYMENT_ID],
			[STOCK_ID],
			[CUSTOMER_ID],
            [REMAIN_PAYMENT_DATE],
            [REMAIN_PAYMENT_AMOUNT],
            [REMAIN_PAYMENT_METHOD],
            [REMAIN_BANK_ID],
            [REMAIN_BANK_AC_NO],
            [REMAIN_CHEQ_NO],
            [REMAIN_RTGS_NO]
        )
        VALUES
        (
          @PaymentID,
		  @StockID,
		  @CustomerID,
		  @Remain_PaymentDate,
	      @Remain_PayingAmount,
          @Remain_PaymentMethod,
          @Remain_BankID,
          @Remain_Bank_AC_No,
          @Remain_CHEQ_No,
          @Remain_RTGS_No
        )

        -- Main Logic of Payment Status 
      
		-- 1. Retrive Remaining Amount From Payment Table
		-- 2. Retrive First Time Payment Amount From Payment Table
		-- 3. Retrive Total Amount From Purchase Stock Table
		-- 4. New Declare Final Payment = First Payment Amount + Remain Payment Amount
		-- 5. Check Condtions Remain Payment Entered Equals Payment Remain Value And Final Payment Equals Total Amount From Purchase Stock Table
			  	
		DECLARE @PAYMENT_REMAIN decimal(10,2);
		
		DECLARE @FIRST_PAYMENT_AMOUNT decimal(10,2);

		DECLARE @TOTAL_PAYMENT_AMOUNT decimal(10,2);

		DECLARE @FINAL_PAYMENT decimal(10,2);

		SELECT @PAYMENT_REMAIN = REMAIN_AMOUNT FROM PAYMENT_TABLE WHERE PAYMENT_ID = @PaymentID;

		SELECT @TOTAL_PAYMENT_AMOUNT = TOTAL_PRICE from PURCHASE_STOCK_TABLE WHERE PUR_STOCK_ID = @StockID;

		SELECT @FIRST_PAYMENT_AMOUNT = AMOUNT_PAID from PAYMENT_TABLE WHERE PAYMENT_ID = @PaymentID;
		
		SET @FINAL_PAYMENT = @FIRST_PAYMENT_AMOUNT + @Remain_PayingAmount ;
		
       IF @Remain_PayingAmount =  @PAYMENT_REMAIN   AND   @TOTAL_PAYMENT_AMOUNT  = @FINAL_PAYMENT
    BEGIN
        UPDATE PURCHASE_STOCK_TABLE SET PAYMENT_STATUS = 'PAID' WHERE PUR_STOCK_ID = @StockID;
    END
    ELSE 
    BEGIN
        UPDATE PURCHASE_STOCK_TABLE SET PAYMENT_STATUS = 'REMAIN' WHERE PUR_STOCK_ID = @StockID;
    END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        -- Here, you might want to handle the error, e.g., logging it or notifying someone.
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[API_PENDING_PAYMENTS_CUSTOMERS_LIST_DASHBAORD]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[API_PENDING_PAYMENTS_CUSTOMERS_LIST_DASHBAORD]
AS
BEGIN

SELECT TOP 5 
	[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_ID] AS STOCK_ID,
	[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_DATE] AS STOCK_DATE,
	[dbo].[CUSTOMER_TABLE].[CUSTOMER_ID],
	[dbo].[CUSTOMER_TABLE].[CUSTOMER_NAME],
	[dbo].[PRODUCT_TABLE].[PRODUCT_ID],
	[dbo].[PRODUCT_TABLE].[PRODUCT_NAME_IN_GUJARATI] AS [PRODUCT_NAME],
	[dbo].[PURCHASE_STOCK_TABLE].[TOTAL_PRICE]

FROM [dbo].[PURCHASE_STOCK_TABLE]

INNER JOIN [dbo].[CUSTOMER_TABLE]
ON [dbo].[PURCHASE_STOCK_TABLE].[CUSTOMER_ID] = [dbo].[CUSTOMER_TABLE].[CUSTOMER_ID]

INNER JOIN [dbo].[PRODUCT_TABLE]
ON [dbo].[PURCHASE_STOCK_TABLE].[PRODUCT_ID] = [dbo].[PRODUCT_TABLE].[PRODUCT_ID]
	
WHERE [dbo].[PURCHASE_STOCK_TABLE].[PAYMENT_STATUS]  = 'PENDING'

	ORDER BY STOCK_DATE DESC

END;
GO
/****** Object:  StoredProcedure [dbo].[API_PURCHASE_INVOICE_BY_PK]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[API_PURCHASE_INVOICE_BY_PK] 
	@INVOICE_ID INT
AS
BEGIN
	
	SELECT
        [PUR_INV_ID] AS INVOICE_ID,
        [PUR_INV_DATE] AS INVOICE_DATE,
        [CUSTOMER_NAME],
        [dbo].[PRODUCT_TABLE].[PRODUCT_ID],
        [PRODUCT_NAME_IN_GUJARATI],
        COALESCE([PRODUCT_GRADE], '--') AS PRODUCT_GRADE,
        COALESCE(CONVERT(NVARCHAR(50), [BAGS]), '--') AS [BAGS],
        COALESCE(CONVERT(NVARCHAR(50), [BAG_PER_KG]), '--') AS [BAG_PER_KG],
        [TOTAL_WEIGHT],
        [PRODUCT_PRICE],
        [TOTAL_PRICE],
        [VEH_ID] AS VEHICLE_ID,
        [VEH_NAME] AS VEHICLE_NAME,
        [VEHICLE_NO],
        [DRIVER_NAME],
        [TOLAT_NAME]
    FROM [PURCHASE_INVOICE_TABLE]
	

    INNER JOIN [PRODUCT_TABLE] ON [PRODUCT_TABLE].[PRODUCT_ID] = [PURCHASE_INVOICE_TABLE].[PRODUCT_ID]
    LEFT JOIN [PRODUCT_GRADE_TABLE] ON [PRODUCT_GRADE_TABLE].[PRODUCT_GRADE_ID] = [PURCHASE_INVOICE_TABLE].[PRODUCT_GRADE_ID]
    INNER JOIN [VEHICLE_TABLE] ON [VEHICLE_TABLE].[VEH_ID] = [PURCHASE_INVOICE_TABLE].[VEHICLE_ID]

	
	WHERE [dbo].[PURCHASE_INVOICE_TABLE].[PUR_INV_ID] = @INVOICE_ID
END;
GO
/****** Object:  StoredProcedure [dbo].[API_PURCHASE_INVOICE_DELETE]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[API_PURCHASE_INVOICE_DELETE]
	@INVOICE_ID INT
AS
BEGIN
	DELETE FROM [dbo].[PURCHASE_INVOICE_TABLE]
	
	WHERE
		[dbo].[PURCHASE_INVOICE_TABLE].[PUR_INV_ID] = @INVOICE_ID

END;
GO
/****** Object:  StoredProcedure [dbo].[API_PURCHASE_INVOICE_INSERT]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[API_PURCHASE_INVOICE_INSERT]
    @INVOICE_DATE DATE,
    @CUSTOMER_NAME NVARCHAR(MAX),
    @PRODUCT_ID INT,
    @PRODUCT_GRADE_ID INT = NULL, -- Optional, defaults to NULL
    @BAGS DECIMAL(10,2) = NULL, -- Optional, defaults to NULL
    @BAG_PER_KG DECIMAL(10,2) = NULL, -- Optional, defaults to NULL
    @TOTAL_WEIGHT DECIMAL(10,2),
    @PRODUCT_PRICE DECIMAL(10,2),
    @TOTAL_PRICE DECIMAL(10,2),
    @VEHICLE_ID INT,
    @VEHICLE_NO VARCHAR(200),
    @DRIVER_NAME NVARCHAR(MAX),
    @TOLAT_NAME NVARCHAR(MAX)
AS
BEGIN
    INSERT INTO [dbo].[PURCHASE_INVOICE_TABLE]
    (
        [PUR_INV_DATE],
        [CUSTOMER_NAME],
        [PRODUCT_ID],
        [PRODUCT_GRADE_ID],
        [BAGS],
        [BAG_PER_KG],
        [TOTAL_WEIGHT],
        [PRODUCT_PRICE],
        [TOTAL_PRICE],
        [VEHICLE_ID],
        [VEHICLE_NO],
        [DRIVER_NAME],
        [TOLAT_NAME]
    )
    VALUES
    (
        @INVOICE_DATE,
        @CUSTOMER_NAME,
        @PRODUCT_ID,
        @PRODUCT_GRADE_ID,
        @BAGS,
        @BAG_PER_KG,
        @TOTAL_WEIGHT,
        @PRODUCT_PRICE,
        @TOTAL_PRICE,
        @VEHICLE_ID,
        @VEHICLE_NO,
        @DRIVER_NAME,
        @TOLAT_NAME
    )
END;
GO
/****** Object:  StoredProcedure [dbo].[API_PURCHASE_INVOICE_UPDATE]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[API_PURCHASE_INVOICE_UPDATE]
		@INVOICE_ID INT,
		@INVOICE_DATE DATE,
		@CUSTOMER_NAME NVARCHAR(MAX),
		@PRODUCT_ID INT,
		@PRODUCT_GRADE_ID INT = NULL,
		@BAGS DECIMAL(10,2),
		@BAG_PER_KG DECIMAL(10,2),
		@TOTAL_WEIGHT DECIMAL(10,2),
		@PRODUCT_PRICE DECIMAL(10,2),
		@TOTAL_PRICE DECIMAL(10,2),
		@VEHICLE_ID INT,
		@VEHICLE_NO VARCHAR(200),
		@DRIVER_NAME NVARCHAR(MAX),
		@TOLAT_NAME NVARCHAR(MAX)

AS

BEGIN
	UPDATE [dbo].[PURCHASE_INVOICE_TABLE]

	SET
		[dbo].[PURCHASE_INVOICE_TABLE].[PUR_INV_DATE]		= @INVOICE_DATE,
		[dbo].[PURCHASE_INVOICE_TABLE].[CUSTOMER_NAME]		= @CUSTOMER_NAME,
		[dbo].[PURCHASE_INVOICE_TABLE].[PRODUCT_ID]			= @PRODUCT_ID,
		[dbo].[PURCHASE_INVOICE_TABLE].[PRODUCT_GRADE_ID]   = @PRODUCT_GRADE_ID,
		[dbo].[PURCHASE_INVOICE_TABLE].[BAGS]				= @BAGS,
		[dbo].[PURCHASE_INVOICE_TABLE].[BAG_PER_KG]			= @BAG_PER_KG,
		[dbo].[PURCHASE_INVOICE_TABLE].[TOTAL_WEIGHT]		= @TOTAL_WEIGHT,
		[dbo].[PURCHASE_INVOICE_TABLE].[PRODUCT_PRICE]		= @PRODUCT_PRICE,
		[dbo].[PURCHASE_INVOICE_TABLE].[TOTAL_PRICE]		= @TOTAL_PRICE,
		[dbo].[PURCHASE_INVOICE_TABLE].[VEHICLE_ID]			= @VEHICLE_ID,
		[dbo].[PURCHASE_INVOICE_TABLE].[VEHICLE_NO]			= @VEHICLE_NO,
		[dbo].[PURCHASE_INVOICE_TABLE].[DRIVER_NAME]		= @DRIVER_NAME,
		[dbo].[PURCHASE_INVOICE_TABLE].[TOLAT_NAME]			= @TOLAT_NAME

		WHERE 
			[dbo].[PURCHASE_INVOICE_TABLE].[PUR_INV_ID] = @INVOICE_ID
		
END;
GO
/****** Object:  StoredProcedure [dbo].[API_PURCHASE_STOCK_BY_PK]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[API_PURCHASE_STOCK_BY_PK]
		@STOCK_ID INT 
AS
BEGIN

SELECT
	[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_ID] AS [STOCK_ID],
	[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_DATE],
	[dbo].[CUSTOMER_TABLE].[CUSTOMER_ID],
	[dbo].[CUSTOMER_TABLE].[CUSTOMER_NAME],
	[dbo].[CUSTOMER_TABLE].[CUSTOMER_TYPE],
	[dbo].[PRODUCT_TABLE].[PRODUCT_ID] AS [PRODUCT_ID],
	[dbo].[PRODUCT_TABLE].[PRODUCT_NAME_IN_GUJARATI] AS [PRODUCT_NAME],
	[dbo].[PRODUCT_GRADE_TABLE].[PRODUCT_GRADE_ID] AS [PRODUCT_GRADE_ID],
	COALESCE(CONVERT(VARCHAR,[dbo].[PRODUCT_GRADE_TABLE].[PRODUCT_GRADE]),'--') AS [PRODUCT_GRADE],
	[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_LOCATION] AS [LOCATION],
	COALESCE(CONVERT(DECIMAL,[dbo].[PURCHASE_STOCK_TABLE].[BAGS]),'--') AS [BAGS],
	COALESCE(CONVERT(DECIMAL,[dbo].[PURCHASE_STOCK_TABLE].[BAG_PER_KG]),'--') AS [BAG_PER_KG],
	[dbo].[PURCHASE_STOCK_TABLE].[TOTAL_WEIGHT],
	[dbo].[PURCHASE_STOCK_TABLE].[PRODUCT_PRICE],
	[dbo].[PURCHASE_STOCK_TABLE].[TOTAL_PRICE],
	[dbo].[VEHICLE_TABLE].[VEH_ID] AS [VEHICLE_ID],
	[dbo].[VEHICLE_TABLE].[VEH_NAME] AS [VEHICLE_NAME],
	[dbo].[PURCHASE_STOCK_TABLE].[VEHICLE_NO],
	[dbo].[PURCHASE_STOCK_TABLE].[DRIVER_NAME],
	[dbo].[PURCHASE_STOCK_TABLE].[TOLAT_NAME],
	COALESCE(CONVERT(VARCHAR, [dbo].[PURCHASE_STOCK_TABLE].[PAYMENT_STATUS]), 'PENDING') AS [PAYMENT- STATUS]
FROM [dbo].[PURCHASE_STOCK_TABLE]

-- INNER JOIN APPLY

INNER JOIN [dbo].[CUSTOMER_TABLE]
ON [dbo].[CUSTOMER_TABLE].[CUSTOMER_ID] = [dbo].[PURCHASE_STOCK_TABLE].[CUSTOMER_ID]

INNER JOIN [dbo].[PRODUCT_TABLE]
ON [dbo].[PRODUCT_TABLE].[PRODUCT_ID] = [dbo].[PURCHASE_STOCK_TABLE].[PRODUCT_ID]


INNER JOIN [dbo].[PRODUCT_GRADE_TABLE]
ON [dbo].[PRODUCT_GRADE_TABLE].[PRODUCT_GRADE_ID] = [dbo].[PURCHASE_STOCK_TABLE].[PRODUCT_GRADE_ID]

INNER JOIN [dbo].[VEHICLE_TABLE]
ON [dbo].[VEHICLE_TABLE].[VEH_ID] = [dbo].[PURCHASE_STOCK_TABLE].[VEHICLE_ID]

WHERE [dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_ID] = @STOCK_ID


END;
GO
/****** Object:  StoredProcedure [dbo].[API_PURCHASE_STOCK_DELETE]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[API_PURCHASE_STOCK_DELETE]
	@STOCK_ID INT 
AS
BEGIN
		DELETE FROM [dbo].[PURCHASE_STOCK_TABLE]
			WHERE [dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_ID] = @STOCK_ID
END;
GO
/****** Object:  StoredProcedure [dbo].[API_PURCHASE_STOCK_INSERT]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[API_PURCHASE_STOCK_INSERT]

		@PUR_STOCK_DATE DATE,
		@CUSTOMER_ID INT,
		@PRODUCT_ID INT,
		@PRODUCT_GRADE_ID INT,
		@PUR_STOCK_LOCATION NVARCHAR(MAX),
		@BAG DECIMAL(10,2),
		@BAG_PER_KG DECIMAL(10,2),
		@TOTAL_WEIGHT DECIMAL(10,2),
		@PRODUCT_PRICE DECIMAL(10,2),
		@TOTAL_PRICE DECIMAL(10,2),
		@VEHICLE_ID INT,
		@VEHICLE_NO VARCHAR(100),
		@TOLAT_NAME NVARCHAR(MAX),
		@DRIVER_NAME NVARCHAR(MAX),
		@PAYMENT_STATUS VARCHAR(100)
AS
BEGIN

INSERT INTO [dbo].[PURCHASE_STOCK_TABLE]
(
	[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_DATE],
	[dbo].[PURCHASE_STOCK_TABLE].[CUSTOMER_ID],
	[dbo].[PURCHASE_STOCK_TABLE].[PRODUCT_ID],
	[dbo].[PURCHASE_STOCK_TABLE].[PRODUCT_GRADE_ID],
	[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_LOCATION],
	[dbo].[PURCHASE_STOCK_TABLE].[BAGS],
	[dbo].[PURCHASE_STOCK_TABLE].[BAG_PER_KG],
	[dbo].[PURCHASE_STOCK_TABLE].[TOTAL_WEIGHT],
	[dbo].[PURCHASE_STOCK_TABLE].[PRODUCT_PRICE],
	[dbo].[PURCHASE_STOCK_TABLE].[TOTAL_PRICE],
	[dbo].[PURCHASE_STOCK_TABLE].[VEHICLE_ID],
	[dbo].[PURCHASE_STOCK_TABLE].[VEHICLE_NO],
	[dbo].[PURCHASE_STOCK_TABLE].[TOLAT_NAME],
	[dbo].[PURCHASE_STOCK_TABLE].[DRIVER_NAME],
	[dbo].[PURCHASE_STOCK_TABLE].[PAYMENT_STATUS]
)
VALUES
(
	@PUR_STOCK_DATE,
	@CUSTOMER_ID,
	@PRODUCT_ID,
	@PRODUCT_GRADE_ID,
	@PUR_STOCK_LOCATION,
	@BAG,
	@BAG_PER_KG,
	@TOTAL_WEIGHT,
	@PRODUCT_PRICE,
	@TOTAL_PRICE,
	@VEHICLE_ID,
	@VEHICLE_NO,
	@TOLAT_NAME,
	@DRIVER_NAME,
	'PENDING'
)


END;
GO
/****** Object:  StoredProcedure [dbo].[API_PURCHASE_STOCK_UPDATE]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[API_PURCHASE_STOCK_UPDATE]
		
		@STOCK_ID INT,
		@PUR_STOCK_DATE DATE,
		@CUSTOMER_ID INT,
		@PRODUCT_ID INT,
		@PRODUCT_GRADE_ID INT,
		@PUR_STOCK_LOCATION NVARCHAR(MAX),
		@BAG DECIMAL(10,2),
		@BAG_PER_KG DECIMAL(10,2),
		@TOTAL_WEIGHT DECIMAL(10,2),
		@PRODUCT_PRICE DECIMAL(10,2),
		@TOTAL_PRICE DECIMAL(10,2),
		@VEHICLE_ID INT,
		@VEHICLE_NO VARCHAR(100),
		@TOLAT_NAME NVARCHAR(MAX),
		@DRIVER_NAME NVARCHAR(MAX)
		
AS
BEGIN

	UPDATE [PURCHASE_STOCK_TABLE] 
	SET
	[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_DATE]	   =		@PUR_STOCK_DATE,   
	[dbo].[PURCHASE_STOCK_TABLE].[CUSTOMER_ID]		   =		@CUSTOMER_ID,
	[dbo].[PURCHASE_STOCK_TABLE].[PRODUCT_ID]		   =		@PRODUCT_ID,
	[dbo].[PURCHASE_STOCK_TABLE].[PRODUCT_GRADE_ID]    =	    @PRODUCT_GRADE_ID,
	[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_LOCATION]  =        @PUR_STOCK_LOCATION,
	[dbo].[PURCHASE_STOCK_TABLE].[BAGS]                =		@BAG,
	[dbo].[PURCHASE_STOCK_TABLE].[BAG_PER_KG]		   =		@BAG_PER_KG,
	[dbo].[PURCHASE_STOCK_TABLE].[TOTAL_WEIGHT]		   =        @TOTAL_WEIGHT,
	[dbo].[PURCHASE_STOCK_TABLE].[PRODUCT_PRICE]	   =        @PRODUCT_PRICE,
	[dbo].[PURCHASE_STOCK_TABLE].[TOTAL_PRICE]         =		@TOTAL_PRICE,
	[dbo].[PURCHASE_STOCK_TABLE].[VEHICLE_ID]          =	    @VEHICLE_ID,
	[dbo].[PURCHASE_STOCK_TABLE].[VEHICLE_NO]          =		@VEHICLE_NO,
	[dbo].[PURCHASE_STOCK_TABLE].[TOLAT_NAME]          =		@TOLAT_NAME,
	[dbo].[PURCHASE_STOCK_TABLE].[DRIVER_NAME]         =		@DRIVER_NAME

	WHERE 
	[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_ID] = @STOCK_ID

END;
GO
/****** Object:  StoredProcedure [dbo].[API_PURCHASED_STOCK_BY_CUSTOMER_ID]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[API_PURCHASED_STOCK_BY_CUSTOMER_ID]

@CUSTOMER_ID INT

AS
BEGIN

SELECT
	[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_ID] AS [STOCK_ID],
	[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_DATE],
	[dbo].[PRODUCT_TABLE].[PRODUCT_ID] AS [PRODUCT_ID],
	[dbo].[PRODUCT_TABLE].[PRODUCT_NAME_IN_GUJARATI] AS [PRODUCT_NAME],
	[dbo].[PRODUCT_GRADE_TABLE].[PRODUCT_GRADE_ID] AS [PRODUCT_GRADE_ID],
	COALESCE(CONVERT(VARCHAR,[dbo].[PRODUCT_GRADE_TABLE].[PRODUCT_GRADE]),'--') AS [PRODUCT_GRADE],
	[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_LOCATION] AS [LOCATION],
	COALESCE(CONVERT(DECIMAL,[dbo].[PURCHASE_STOCK_TABLE].[BAGS]),'--') AS [BAGS],
	COALESCE(CONVERT(DECIMAL,[dbo].[PURCHASE_STOCK_TABLE].[BAG_PER_KG]),'--') AS [BAG_PER_KG],
	[dbo].[PURCHASE_STOCK_TABLE].[TOTAL_WEIGHT],
	[dbo].[PURCHASE_STOCK_TABLE].[PRODUCT_PRICE],
	[dbo].[PURCHASE_STOCK_TABLE].[TOTAL_PRICE],
	[dbo].[VEHICLE_TABLE].[VEH_ID] AS [VEHICLE_ID],
	[dbo].[VEHICLE_TABLE].[VEH_NAME] AS [VEHICLE_NAME],
	[dbo].[PURCHASE_STOCK_TABLE].[VEHICLE_NO],
	[dbo].[PURCHASE_STOCK_TABLE].[DRIVER_NAME],
	[dbo].[PURCHASE_STOCK_TABLE].[TOLAT_NAME],
	COALESCE(CONVERT(VARCHAR, [dbo].[PURCHASE_STOCK_TABLE].[PAYMENT_STATUS]), 'PENDING') AS [PAYMENT- STATUS]
FROM [dbo].[PURCHASE_STOCK_TABLE]

-- INNER JOIN APPLY

INNER JOIN [dbo].[CUSTOMER_TABLE]
ON [dbo].[CUSTOMER_TABLE].[CUSTOMER_ID] = [dbo].[PURCHASE_STOCK_TABLE].[CUSTOMER_ID]

INNER JOIN [dbo].[PRODUCT_TABLE]
ON [dbo].[PRODUCT_TABLE].[PRODUCT_ID] = [dbo].[PURCHASE_STOCK_TABLE].[PRODUCT_ID]


INNER JOIN [dbo].[PRODUCT_GRADE_TABLE]
ON [dbo].[PRODUCT_GRADE_TABLE].[PRODUCT_GRADE_ID] = [dbo].[PURCHASE_STOCK_TABLE].[PRODUCT_GRADE_ID]

INNER JOIN [dbo].[VEHICLE_TABLE]
ON [dbo].[VEHICLE_TABLE].[VEH_ID] = [dbo].[PURCHASE_STOCK_TABLE].[VEHICLE_ID]

WHERE [dbo].[PURCHASE_STOCK_TABLE].[CUSTOMER_ID] = @CUSTOMER_ID


END;
GO
/****** Object:  StoredProcedure [dbo].[API_SALE_BY_CUSTOMER_ID]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[API_SALE_BY_CUSTOMER_ID] 
    @CUSTOMER_ID int
AS
BEGIN
    SELECT 
        ST.[SALE_STOCK_ID],
        ST.[SALE_STOCK_DATE],
		ST.[RECEIVE_PAYMENT_DATE],
        CT.[CUSTOMER_ID],
        CT.[CUSTOMER_NAME],
        CT.[CUSTOMER_TYPE],
        PT.[PRODUCT_ID],
        PT.[PRODUCT_NAME_IN_ENGLISH],
        ST.[PRODUCT_BRAND_NAME],
        COALESCE(CONVERT(DECIMAL(18,2), ST.[BAGS]), '--') AS [BAGS],
        COALESCE(CONVERT(DECIMAL(18,2), ST.[BAG_PER_KG]), '--') AS [BAG_PER_KG],
        ST.[RATE],
        ST.[TOTAL_WEIGHT],
        ST.[TOTAL_AMOUNT],
        ST.[RECEIVE_AMOUNT],
		ST.[RECEIVE_PAYMENT_METHOD],
        COALESCE(CONVERT(DECIMAL(18,2), ST.[DISCOUNT]), NULL) AS [DISCOUNT],
        ST.[IS_FULL_AMOUNT_RECEIVE],
        COALESCE(CONVERT(DECIMAL(18,2), ST.[DEDUCT_AMOUNT]), NULL) AS [DEDUCT_AMOUNT],
		 ST.[INFORMATION_ID],  -- Added actual information ID
        ISNULL(ST.[REMAIN_INFORMATION_ID],0) AS [REMAIN_INFORMATION_ID],  -- Added remaining information ID
        SI1.[BANK_ACCOUNT_NO],
        SI1.[BANK_ACCOUNT_HOLDER_NAME],
        BT1.[BANK_ICON] AS [BANK_ICON_ACTUAL],
        ST.[REMAIN_PAYMENT_DATE],
        ST.[REMAIN_PAYMENT_METHOD],
		ST.[REMAIN_AMOUNT],
        SI2.[BANK_ACCOUNT_NO] AS [REMAIN_BANK_ACCOUNT_NO],
        SI2.[BANK_ACCOUNT_HOLDER_NAME] AS [REMAIN_BANK_ACCOUNT_HOLDER_NAME],
        BT2.[BANK_ICON] AS [BANK_ICON_REMAIN]
    FROM 
        [dbo].[SALE_STOCK_TABLE] ST
    INNER JOIN 
        [dbo].[CUSTOMER_TABLE] CT ON CT.[CUSTOMER_ID] = ST.[CUSTOMER_ID]
    INNER JOIN 
        [dbo].[PRODUCT_TABLE] PT ON PT.[PRODUCT_ID] = ST.[PRODUCT_ID]
    INNER JOIN 
        [dbo].[SAVE_INFORMATION_TABLE] SI1 ON SI1.[INFORMATION_ID] = ST.[INFORMATION_ID]
    INNER JOIN 
        [dbo].[BANK_TABLE] BT1 ON BT1.[BANK_ID] = SI1.[BANK_ID]
    LEFT JOIN 
        [dbo].[SAVE_INFORMATION_TABLE] SI2 ON SI2.[INFORMATION_ID] = ST.[REMAIN_INFORMATION_ID]
    LEFT JOIN 
        [dbo].[BANK_TABLE] BT2 ON BT2.[BANK_ID] = SI2.[BANK_ID]
    WHERE 
        CT.[CUSTOMER_ID] = @CUSTOMER_ID
END;
GO
/****** Object:  StoredProcedure [dbo].[API_SALE_BY_PK]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[API_SALE_BY_PK] 
    @SALE_ID int
AS
BEGIN
    SELECT 
        ST.[SALE_STOCK_ID],
        ST.[SALE_STOCK_DATE],
		ST.[RECEIVE_PAYMENT_DATE],
        CT.[CUSTOMER_ID],
        CT.[CUSTOMER_NAME],
        CT.[CUSTOMER_TYPE],
        PT.[PRODUCT_ID],
        PT.[PRODUCT_NAME_IN_ENGLISH],
        ST.[PRODUCT_BRAND_NAME],
        COALESCE(CONVERT(DECIMAL(18,2), ST.[BAGS]), '--') AS [BAGS],
        COALESCE(CONVERT(DECIMAL(18,2), ST.[BAG_PER_KG]), '--') AS [BAG_PER_KG],
        ST.[RATE],
        ST.[TOTAL_WEIGHT],
        ST.[TOTAL_AMOUNT],
        ST.[RECEIVE_AMOUNT],
		ST.[RECEIVE_PAYMENT_METHOD],
        COALESCE(CONVERT(DECIMAL(18,2), ST.[DISCOUNT]), NULL) AS [DISCOUNT],
        ST.[IS_FULL_AMOUNT_RECEIVE],
        COALESCE(CONVERT(DECIMAL(18,2), ST.[DEDUCT_AMOUNT]), NULL) AS [DEDUCT_AMOUNT],
		 ST.[INFORMATION_ID],  -- Added actual information ID
        ISNULL(ST.[REMAIN_INFORMATION_ID],0) AS [REMAIN_INFORMATION_ID],  -- Added remaining information ID
        SI1.[BANK_ACCOUNT_NO],
        SI1.[BANK_ACCOUNT_HOLDER_NAME],
        BT1.[BANK_ICON] AS [BANK_ICON_ACTUAL],
        ST.[REMAIN_PAYMENT_DATE],
        ST.[REMAIN_PAYMENT_METHOD],
		ST.[REMAIN_AMOUNT],
        SI2.[BANK_ACCOUNT_NO] AS [REMAIN_BANK_ACCOUNT_NO],
        SI2.[BANK_ACCOUNT_HOLDER_NAME] AS [REMAIN_BANK_ACCOUNT_HOLDER_NAME],
        BT2.[BANK_ICON] AS [BANK_ICON_REMAIN]
    FROM 
        [dbo].[SALE_STOCK_TABLE] ST
    INNER JOIN 
        [dbo].[CUSTOMER_TABLE] CT ON CT.[CUSTOMER_ID] = ST.[CUSTOMER_ID]
    INNER JOIN 
        [dbo].[PRODUCT_TABLE] PT ON PT.[PRODUCT_ID] = ST.[PRODUCT_ID]
    INNER JOIN 
        [dbo].[SAVE_INFORMATION_TABLE] SI1 ON SI1.[INFORMATION_ID] = ST.[INFORMATION_ID]
    INNER JOIN 
        [dbo].[BANK_TABLE] BT1 ON BT1.[BANK_ID] = SI1.[BANK_ID]
    LEFT JOIN 
        [dbo].[SAVE_INFORMATION_TABLE] SI2 ON SI2.[INFORMATION_ID] = ST.[REMAIN_INFORMATION_ID]
    LEFT JOIN 
        [dbo].[BANK_TABLE] BT2 ON BT2.[BANK_ID] = SI2.[BANK_ID]
    WHERE 
        ST.[SALE_STOCK_ID] = @SALE_ID
END;
GO
/****** Object:  StoredProcedure [dbo].[API_SALE_INSERT]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[API_SALE_INSERT]
    @SALE_DATE DATE,
    @PRODUCT_ID INT,
    @RECEIVE_PAYMENT_DATE DATE,
    @CUSTOMER_ID INT,
    @PRODUCT_BRAND_NAME VARCHAR(200) = NULL,
    @BAGS DECIMAL(10,2) = NULL,
    @BAG_PER_KG DECIMAL(10,2) = NULL,
    @TOTAL_WEIGHT DECIMAL(10,2),
    @RATE DECIMAL(10,2),
    @TOTAL_PRICE DECIMAL(10,2),
    @DISCOUNT DECIMAL(10,2),
    @RECEIVE_AMOUNT DECIMAL(10,2),
    @PAYMENT_METHOD VARCHAR(500),
    @RECEIVE_AMOUNT_INFORMATION_ID INT = NULL,
    @IS_PAYMENT_AMOUNT_RECEIVE BIT,
    @REMAIN_PAYMENT_DATE DATE = NULL,
    @REMAIN_AMOUNT DECIMAL(10,2) = NULL,
    @REMAIN_PAYMENT_METHOD VARCHAR(500) = NULL,
    @REMAIN_INFORMATION_ID INT = NULL,
    @DEDUCT_AMOUNT DECIMAL(10,2)
AS
BEGIN
    INSERT INTO SALE_STOCK_TABLE 
    (
        [SALE_STOCK_DATE], 
        [RECEIVE_PAYMENT_DATE], 
        [PRODUCT_ID],
        [CUSTOMER_ID], 
        [PRODUCT_BRAND_NAME], 
        [RECEIVE_PAYMENT_METHOD],
        [INFORMATION_ID],
        [BAGS], 
        [BAG_PER_KG], 
        [TOTAL_WEIGHT], 
        [RATE], 
        [TOTAL_AMOUNT], 
        [RECEIVE_AMOUNT], 
        [DISCOUNT],
        [IS_FULL_AMOUNT_RECEIVE],
        [REMAIN_PAYMENT_DATE], 
        [REMAIN_AMOUNT], 
        [REMAIN_PAYMENT_METHOD], 
        [REMAIN_INFORMATION_ID], 
        [DEDUCT_AMOUNT]
    )
    VALUES
    (
        @SALE_DATE, 
        @RECEIVE_PAYMENT_DATE, 
        @PRODUCT_ID,
        @CUSTOMER_ID, 
        @PRODUCT_BRAND_NAME, 
        @PAYMENT_METHOD,
        @RECEIVE_AMOUNT_INFORMATION_ID,
        @BAGS, 
        @BAG_PER_KG, 
        @TOTAL_WEIGHT, 
        @RATE, 
        @TOTAL_PRICE, 
        @RECEIVE_AMOUNT, 
        @DISCOUNT,
        @IS_PAYMENT_AMOUNT_RECEIVE,
        @REMAIN_PAYMENT_DATE, 
        @REMAIN_AMOUNT, 
        @REMAIN_PAYMENT_METHOD, 
        @REMAIN_INFORMATION_ID, 
        @DEDUCT_AMOUNT
    );
END
GO
/****** Object:  StoredProcedure [dbo].[API_SALES_INVOICE_BY_PK]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[API_SALES_INVOICE_BY_PK] 
	@INVOICE_ID INT
AS
BEGIN
SELECT
		[dbo].[SALES_INVOICE_TABLE].[SLS_ID] AS INVOICE_ID,
		[dbo].[SALES_INVOICE_TABLE].[SLS_DATE] AS INVOICE_DATE,
		[dbo].[SALES_INVOICE_TABLE].[INVOICE_TYPE],
		[dbo].[SALES_INVOICE_TABLE].[BROKER_NAME],
		[dbo].[SALES_INVOICE_TABLE].[PARTY_NAME],
		COALESCE(CONVERT(VARCHAR,[dbo].[SALES_INVOICE_TABLE].[PARTY_GSTNO]),'--') AS [PARTY_GSTNO],
		[dbo].[SALES_INVOICE_TABLE].[PARTY_ADDRESS],
		[dbo].[PRODUCT_TABLE].[PRODUCT_ID],
		[dbo].[PRODUCT_TABLE].[PRODUCT_NAME_IN_ENGLISH],
		[dbo].[SALES_INVOICE_TABLE].[PRODUCT_BRAND_NAME],
		COALESCE(CONVERT(VARCHAR,[dbo].[SALES_INVOICE_TABLE].[BAGS]),'--') AS [BAGS],
		COALESCE(CONVERT(VARCHAR,[dbo].[SALES_INVOICE_TABLE].[BAG_PER_KG]),'--') AS [BAG_PER_KG],
		[dbo].[SALES_INVOICE_TABLE].[TOTAL_WEIGHT],
		[dbo].[SALES_INVOICE_TABLE].[PRODUCT_PRICE],
		COALESCE(CONVERT(VARCHAR,[dbo].[SALES_INVOICE_TABLE].[SGST]),'--') AS [SGST],
		COALESCE(CONVERT(VARCHAR,[dbo].[SALES_INVOICE_TABLE].[CGST]),'--') AS [CGST],
		COALESCE(CONVERT(VARCHAR,[dbo].[SALES_INVOICE_TABLE].[TOTAL_SGST_PRICE]),'--') AS [TOTAL_SGST_PRICE],
		COALESCE(CONVERT(VARCHAR,[dbo].[SALES_INVOICE_TABLE].[TOTAL_CGST_PRICE]),'--') AS [TOTAL_CGST_PRICE],
		[dbo].[SALES_INVOICE_TABLE].[WITHOUT_GST_PRICE],
		[dbo].[SALES_INVOICE_TABLE].[TOTAL_PRICE],
		[dbo].[VEHICLE_TABLE].[VEH_ID] AS VEHICLE_ID,
		[dbo].[VEHICLE_TABLE].[VEH_NAME] AS VEHICLE_NAME,
		[dbo].[SALES_INVOICE_TABLE].[VEHICLE_NO],
		[dbo].[SALES_INVOICE_TABLE].[DRIVER_NAME],
		COALESCE(CONVERT(VARCHAR, [dbo].[SALES_INVOICE_TABLE].[CONTAINER_NO]), '--') AS [CONTAINER_NO]

FROM [dbo].[SALES_INVOICE_TABLE]


-- INNER JOIN APPLY


INNER JOIN [dbo].[PRODUCT_TABLE]
ON [dbo].[PRODUCT_TABLE].[PRODUCT_ID] = [dbo].[SALES_INVOICE_TABLE].[PRODUCT_ID]

INNER JOIN [dbo].[VEHICLE_TABLE]
ON [dbo].[VEHICLE_TABLE].[VEH_ID] = [dbo].[SALES_INVOICE_TABLE].[VEHICLE_ID]

WHERE [dbo].[SALES_INVOICE_TABLE].[SLS_ID] = @INVOICE_ID 

END;
GO
/****** Object:  StoredProcedure [dbo].[API_SALES_INVOICE_DELETE]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[API_SALES_INVOICE_DELETE]
	@INVOICE_ID INT
AS
BEGIN
	DELETE FROM [SALES_INVOICE_TABLE]
		WHERE [dbo].[SALES_INVOICE_TABLE].[SLS_ID] = @INVOICE_ID

END;
GO
/****** Object:  StoredProcedure [dbo].[API_SALES_INVOICE_INSERT]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[API_SALES_INVOICE_INSERT]
    @INVOICE_DATE DATE,
    @INVOICE_TYPE VARCHAR(50),
    @BROKER_NAME NVARCHAR(MAX) = NULL,
    @PARTY_NAME NVARCHAR(MAX),
    @PARTY_GSTNO VARCHAR(20) = NULL,
	@PARTY_ADDRESS NVARCHAR(MAX),
    @PRODUCT_ID INT,
    @PRODUCT_BRAND_NAME NVARCHAR(100) = NULL,
    @BAGS DECIMAL(10,2) = NULL,
    @BAG_PER_KG DECIMAL(10,2) = NULL,
    @TOTAL_WEIGHT DECIMAL(10,2),
    @PRODUCT_PRICE DECIMAL(10,2),
    @SGST DECIMAL(10,2) = NULL,
    @CGST DECIMAL(10,2) = NULL,
    @TOTAL_SGST_PRICE DECIMAL(10,2) = NULL,
    @TOTAL_CGST_PRICE DECIMAL(10,2) = NULL,
    @WITHOUT_GST_PRICE DECIMAL(10,2) = NULL,
    @TOTAL_PRICE DECIMAL(10,2),
    @VEHICLE_ID INT,
	@VEHICLE_NO VARCHAR(200),
    @DRIVER_NAME NVARCHAR(MAX),
    @CONTAINER_NO VARCHAR(50) = NULL
AS
BEGIN
    INSERT INTO [dbo].[SALES_INVOICE_TABLE]
    (
       [dbo].[SALES_INVOICE_TABLE].[SLS_DATE],
       [dbo].[SALES_INVOICE_TABLE].[INVOICE_TYPE],
       [dbo].[SALES_INVOICE_TABLE].[BROKER_NAME],
       [dbo].[SALES_INVOICE_TABLE].[PARTY_NAME],
       [dbo].[SALES_INVOICE_TABLE].[PARTY_GSTNO],
	   [dbo].[SALES_INVOICE_TABLE].[PARTY_ADDRESS],
       [dbo].[SALES_INVOICE_TABLE].[PRODUCT_ID],
       [dbo].[SALES_INVOICE_TABLE].[PRODUCT_BRAND_NAME],
       [dbo].[SALES_INVOICE_TABLE].[BAGS],
       [dbo].[SALES_INVOICE_TABLE].[BAG_PER_KG],
       [dbo].[SALES_INVOICE_TABLE].[TOTAL_WEIGHT],
       [dbo].[SALES_INVOICE_TABLE].[PRODUCT_PRICE],
       [dbo].[SALES_INVOICE_TABLE].[SGST],
       [dbo].[SALES_INVOICE_TABLE].[CGST],
       [dbo].[SALES_INVOICE_TABLE].[TOTAL_SGST_PRICE],
       [dbo].[SALES_INVOICE_TABLE].[TOTAL_CGST_PRICE],
       [dbo].[SALES_INVOICE_TABLE].[WITHOUT_GST_PRICE],
       [dbo].[SALES_INVOICE_TABLE].[TOTAL_PRICE],
       [dbo].[SALES_INVOICE_TABLE].[VEHICLE_ID],
	   [dbo].[SALES_INVOICE_TABLE].[VEHICLE_NO],
       [dbo].[SALES_INVOICE_TABLE].[DRIVER_NAME],
       [dbo].[SALES_INVOICE_TABLE].[CONTAINER_NO]
    )

    VALUES
    (
        @INVOICE_DATE,
        @INVOICE_TYPE,
        @BROKER_NAME,
        @PARTY_NAME,
        @PARTY_GSTNO,
		@PARTY_ADDRESS,
        @PRODUCT_ID,
        @PRODUCT_BRAND_NAME,
        @BAGS,
        @BAG_PER_KG,
        @TOTAL_WEIGHT,
        @PRODUCT_PRICE,
        @SGST,
        @CGST,
        @TOTAL_SGST_PRICE,
        @TOTAL_CGST_PRICE,
        @WITHOUT_GST_PRICE,
        @TOTAL_PRICE,
        @VEHICLE_ID,
		@VEHICLE_NO,
        @DRIVER_NAME,
        @CONTAINER_NO
    )
END;
GO
/****** Object:  StoredProcedure [dbo].[API_SALES_INVOICE_UPDATE]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[API_SALES_INVOICE_UPDATE]
		@INVOICE_ID INT,
		@INVOICE_DATE DATE,
		@INVOICE_TYPE VARCHAR(50),
		@BROKER_NAME NVARCHAR(MAX),
		@PARTY_NAME NVARCHAR(MAX),
		@PARTY_GSTNO VARCHAR(20),
		@PARTY_ADDRESS NVARCHAR(MAX),
		@PRODUCT_ID INT,
		@PRODUCT_BRAND_NAME NVARCHAR(100),
		@BAGS DECIMAL(10,2),
		@BAG_PER_KG DECIMAL(10,2),
		@TOTAL_WEIGHT DECIMAL(10,2),
		@PRODUCT_PRICE DECIMAL(10,2),
		@SGST DECIMAL(10,2),
		@CGST DECIMAL(10,2),
		@TOTAL_SGST_PRICE DECIMAL(10,2),
		@TOTAL_CGST_PRICE DECIMAL(10,2),
		@WITHOUT_GST_PRICE DECIMAL(10,2),
		@TOTAL_PRICE DECIMAL(10,2),
		@VEHICLE_ID INT,
		@VEHICLE_NO VARCHAR(200),
		@DRIVER_NAME NVARCHAR(MAX),
		@CONTAINER_NO VARCHAR(50)
AS
BEGIN
	UPDATE [SALES_INVOICE_TABLE]

	SET

	  [dbo].[SALES_INVOICE_TABLE].[SLS_DATE]    =	@INVOICE_DATE,
       [dbo].[SALES_INVOICE_TABLE].[INVOICE_TYPE] = @INVOICE_TYPE,
       [dbo].[SALES_INVOICE_TABLE].[BROKER_NAME] =	@BROKER_NAME,
       [dbo].[SALES_INVOICE_TABLE].[PARTY_NAME] =	@PARTY_NAME,
       [dbo].[SALES_INVOICE_TABLE].[PARTY_GSTNO] =	@PARTY_GSTNO,
	   [dbo].[SALES_INVOICE_TABLE].[PARTY_ADDRESS] = @PARTY_ADDRESS,
       [dbo].[SALES_INVOICE_TABLE].[PRODUCT_ID] = @PRODUCT_ID,
       [dbo].[SALES_INVOICE_TABLE].[PRODUCT_BRAND_NAME] = @PRODUCT_BRAND_NAME,
       [dbo].[SALES_INVOICE_TABLE].[BAGS] = @BAGS,
       [dbo].[SALES_INVOICE_TABLE].[BAG_PER_KG] = @BAG_PER_KG,
       [dbo].[SALES_INVOICE_TABLE].[TOTAL_WEIGHT] = @TOTAL_WEIGHT,
       [dbo].[SALES_INVOICE_TABLE].[PRODUCT_PRICE] = @PRODUCT_PRICE,
       [dbo].[SALES_INVOICE_TABLE].[SGST] = @SGST,
       [dbo].[SALES_INVOICE_TABLE].[CGST] = @CGST, 
       [dbo].[SALES_INVOICE_TABLE].[TOTAL_SGST_PRICE] = @TOTAL_SGST_PRICE,
       [dbo].[SALES_INVOICE_TABLE].[TOTAL_CGST_PRICE] = @TOTAL_CGST_PRICE,
       [dbo].[SALES_INVOICE_TABLE].[WITHOUT_GST_PRICE]= @WITHOUT_GST_PRICE,
       [dbo].[SALES_INVOICE_TABLE].[TOTAL_PRICE]  = @TOTAL_PRICE,
       [dbo].[SALES_INVOICE_TABLE].[VEHICLE_ID] = @VEHICLE_ID,
	   [dbo].[SALES_INVOICE_TABLE].[VEHICLE_NO]= @VEHICLE_NO,
       [dbo].[SALES_INVOICE_TABLE].[DRIVER_NAME] = @DRIVER_NAME,
       [dbo].[SALES_INVOICE_TABLE].[CONTAINER_NO] = @CONTAINER_NO

	   WHERE [dbo].[SALES_INVOICE_TABLE].[SLS_ID] = @INVOICE_ID
END;
GO
/****** Object:  StoredProcedure [dbo].[API_SAVE_INFORMATION_DELETE_BY_ID]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[API_SAVE_INFORMATION_DELETE_BY_ID]
@Information_ID int
AS
DELETE FROM [SAVE_INFORMATION_TABLE] WHERE INFORMATION_ID = @Information_ID
GO
/****** Object:  StoredProcedure [dbo].[API_SAVE_INFORMATION_INSERT]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[API_SAVE_INFORMATION_INSERT]
@BANK_ID Int,
@Account_No Varchar(20),
@IFSC_Code Varchar(11),
@Account_Holder_Name Varchar(500)
AS
INSERT INTO [dbo].[SAVE_INFORMATION_TABLE]
([BANK_ID],[BANK_ACCOUNT_NO],[BANK_IFSC_CODE],[BANK_ACCOUNT_HOLDER_NAME])
VALUES 
(@BANK_ID,@Account_No,@IFSC_Code,@Account_Holder_Name)
GO
/****** Object:  StoredProcedure [dbo].[API_SHOW_PAYMENT_INFO_BY_CUSTOMER_PK_AND_STOCK_ID]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE    PROC [dbo].[API_SHOW_PAYMENT_INFO_BY_CUSTOMER_PK_AND_STOCK_ID] 
@CUSTOMER_ID INT,
@STOCK_ID INT

AS 
SELECT 
		[dbo].[CUSTOMER_TABLE].[CUSTOMER_ID],
		[dbo].[CUSTOMER_TABLE].[CUSTOMER_NAME],
		[dbo].[CUSTOMER_TABLE].[CUSTOMER_TYPE],
		[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_ID] AS [STOCK_ID],
		[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_DATE] AS [STOCK_DATE],
		[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_LOCATION] AS [STOCK_LOCATION],
		[dbo].[PRODUCT_TABLE].[PRODUCT_ID],
		[dbo].[PRODUCT_TABLE].[PRODUCT_NAME_IN_GUJARATI],
		[dbo].[PURCHASE_STOCK_TABLE].[TOTAL_PRICE],
		[dbo].[PURCHASE_STOCK_TABLE].[PAYMENT_STATUS]
	

FROM [dbo].[PURCHASE_STOCK_TABLE]


INNER JOIN [dbo].[CUSTOMER_TABLE] ON [dbo].[PURCHASE_STOCK_TABLE].[CUSTOMER_ID] = [dbo].[CUSTOMER_TABLE].[CUSTOMER_ID]
INNER JOIN [dbo].[PRODUCT_TABLE] ON [dbo].[PURCHASE_STOCK_TABLE].[PRODUCT_ID] = [dbo].[PRODUCT_TABLE].[PRODUCT_ID]

WHERE 
		[dbo].[CUSTOMER_TABLE].[CUSTOMER_ID] = @CUSTOMER_ID 
		AND
		[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_ID] = @STOCK_ID
GO
/****** Object:  StoredProcedure [dbo].[API_SHOW_REMAIN_PAYMENT_INFO_BY_CUSTOMER_FK_AND_STOCK_ID_AND_PAYMENT_ID]    Script Date: 01-05-2024 12:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[API_SHOW_REMAIN_PAYMENT_INFO_BY_CUSTOMER_FK_AND_STOCK_ID_AND_PAYMENT_ID]
    @Customer_ID int,
    @STOCK_ID int
AS
BEGIN
    SELECT
		[dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_ID] AS [STOCK_ID],
        [dbo].[PAYMENT_TABLE].[PAYMENT_ID],
        [dbo].[PAYMENT_TABLE].[PAYMENT_DATE],
		[dbo].[CUSTOMER_TABLE].[CUSTOMER_ID],
		[dbo].[CUSTOMER_TABLE].[CUSTOMER_NAME],
		[dbo].[PRODUCT_TABLE].[PRODUCT_ID],
		[dbo].[PRODUCT_TABLE].[PRODUCT_NAME_IN_GUJARATI],
        [dbo].[PURCHASE_STOCK_TABLE].[TOTAL_PRICE] AS [TOTAL_AMOUNT],
        [dbo].[PAYMENT_TABLE].[AMOUNT_PAID],
        [dbo].[PAYMENT_TABLE].[REMAIN_AMOUNT],
        [dbo].[PAYMENT_TABLE].[PAYMENT_METHOD] AS [FIRST_PAYMENT_METHOD],
        ISNULL([dbo].[BANK_TABLE].[BANK_ID], 0) AS [BANK_ID],
        ISNULL([dbo].[BANK_TABLE].[BANK_NAME], '--') AS [BANK_NAME],
        ISNULL([dbo].[BANK_TABLE].[BANK_ICON], '--') AS [BANK_ICON],
        ISNULL([PAYMENT_TABLE].[BANK_AC_NO], '--') AS [BANK_AC_NO]
    FROM [dbo].[PAYMENT_TABLE]
    INNER JOIN [dbo].[CUSTOMER_TABLE] ON [dbo].[CUSTOMER_TABLE].[CUSTOMER_ID] = [dbo].[PAYMENT_TABLE].[CUSTOMER_ID]
    INNER JOIN [dbo].[PURCHASE_STOCK_TABLE] ON [dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_ID] = [dbo].[PAYMENT_TABLE].[STOCK_ID]
    INNER JOIN [dbo].[PRODUCT_TABLE] ON [dbo].[PRODUCT_TABLE].[PRODUCT_ID] = [dbo].[PAYMENT_TABLE].[PRODUCT_ID]
    LEFT JOIN [dbo].[BANK_TABLE] ON [dbo].[BANK_TABLE].[BANK_ID] = [dbo].[PAYMENT_TABLE].[BANK_ID]
    
    WHERE
        [dbo].[CUSTOMER_TABLE].[CUSTOMER_ID] = @Customer_ID
        AND [dbo].[PURCHASE_STOCK_TABLE].[PUR_STOCK_ID] = @STOCK_ID
END
GO
USE [master]
GO
